<div class="card panel expanded">
    <div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-3">
        <header>lab report - haematoloty</header>
        <div class="tools">
            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
    <div id="accordion3-3" class="collapse in">
        <div class="card-body">
            <div class="row check-with-field check-box-label">
                <div class="col-xs-12">
                    <div class="col-xs-3 txt-style-4">1029828</div>
                    <div class="col-xs-3 txt-style-4">Normal Values</div>
                    <div class="col-xs-3 txt-style-4">Tick as required</div>
                    <div class="col-xs-3 txt-style-4">Normal Values</div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>PCV</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        Male 40 - 50, Female 37 - 47, Newborn 44 - 64 (%)
                    </div>
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>WBC X10/L</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        Adults 4 - 11 x 10 /ul, Newborn 10 - 25 x 10 /ul
                        at 1 year 6 - 10 x 10 / ul, 4 - 7 years 5 - 15 x 10 / ul
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Hb</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        Male 17.7 - 18.5, Female 12 - 16.4, Newborn 16.2 - 24.4 (g/dl)
                    </div>
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Differential</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Rbe Count</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        Male 4.5 - 6.5, Female 3.8 - 5.8, Newborn 4.0 - 6.0 (%)
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Myscloblast
                        </label>
                        <input type="text" />
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Retics</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        Adult 0.2 - 2, Infats 2.6 (%)
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Promyelocyte
                        </label>
                        <input type="text" />
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>MCHC</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        32 - 37 (g/dl)
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Metamyelocyte
                        </label>
                        <input type="text" />
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>MCV</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        76 - 96 (F1)
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Band Forms
                        </label>
                        <input type="text" />
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>MCH</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        27 - 32 (ps)
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Lymphoblasts
                        </label>
                        <input type="text" />
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>ESR</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        1 - 5, 5 - 15 (mn/1hr)
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Neutophils
                        </label>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        40 - 75 %
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Sickling Test</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a"></div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Lymphocytes
                        </label>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">20 - 45 %</div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Hb Genotype</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a"></div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Monocytes
                        </label>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">2 - 10 %</div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Prothrombin Time</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        11 - 13 +/- 2 Sec
                    </div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Eosinophilis
                        </label>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a">
                        1 - 6 %
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Bone Marrow Aspiration</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a"></div>
                    <div class="col-xs-3">
                        <label class="align-label">
                            Basaphils
                        </label>
                        <input type="text" />
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>G6 P D Screening</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a"></div>
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Platelates</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Others</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a"></div>
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Blood Film Comments</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="col-xs-3">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Retroviral Screening</span>
                            </label>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="col-xs-3 txt-style-3_a"></div>
                    <div class="col-xs-6">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Add Notes</span>
                            </label>
                        </div>
                        <textarea class="textarea-big"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>