<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-3">
                <div class="col-lg-3">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12">{{ labTest.first_name + ' ' + labTest.last_name }}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">{{ labTest.patient_id }}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">{{ labTest.age }}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12">{{ labTest.gender }}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12">{{ labTest.marital_status }}</span>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="col-lg-12 no-padding table-header-2">
                    <span class="txt-style-3 pull-left text-uppercase">lab order</span>
                    <span class="txt-style-4 pull-left">{{ labTest.lab_order_id }}</span>
                    <span class="txt-style-3 pull-left text-uppercase">date of service</span>
                    <span class="txt-style-4 pull-left">April 05, 2015</span>
                    <span class="txt-style-3 pull-left text-uppercase">Time</span>
                    <span class="txt-style-4 pull-left">12:12</span>
                    <span class="txt-style-3 pull-left text-uppercase">Select Template</span>
                    <!--<div class="pull-left header-checkboxes">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>HL7</span>
                            </label>
                        </div>

                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>Custom Template</span>
                            </label>
                        </div>
                    </div>-->
                    <div class="col-lg-2 pull-left select-con">
                        <select class="form-control" ng-model="templateCategory" placeholder="Select Template Category" ng-change="getCategoriesTemplates(templateCategory)">
                            <option value=""></option>
                            <option ng-repeat="category in templateCategories" value="{{ category.id }}">{{ category.name }}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 pull-right select-con" ng-show="have_templates">
                        <select class="form-control" ng-model="templateID" data-placeholder="Select Template" ng-change="getTemplateData(templateID)">
                            <option value=""></option>
                            <option value="{{ template.id }}" ng-repeat="template in templates">{{ template.name }}</option>
                        </select>
                    </div>
                </div> 
            </div>
            <form class="custom-form" ng-show="templateSelected" name="exampleForm" ng-submit="SaveTemplateValues();">
                <div class="card-body col-lg-12 accordian-body-con">
                    <div class="col-lg-12 pull-right no-padding">
                        <div class="panel-group custom-accordian" id="accordion3">
                            <div class="col-xs-12" ng-hide="templateSelected">
                                No Template Found
                            </div>
                            <div class="card panel expanded">
                                <div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-3">
                                    <header>lab report - {{ selectedTemplate.name }}</header>
                                    <div class="tools">
                                        <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                                <div class="alert {{messageType}}" role="alert" ng-show="message">
                                    <i class="{{errorSymbol}}"></i> {{errorMessage}}
                                </div>
                                <div fg-form fg-form-data="myFormData" fg-schema="mySchema"></div>
                            </div>
                        </div><!--end .panel-group -->
                    </div>
                </div><!--end .card-body -->
                <div class="table-header col-lg-12">
                    <div class="col-lg-12 no-padding table-header-2">
                        <span class="txt-style-3 pull-left text-uppercase">test by</span>
                        <span class="txt-style-4 pull-left">Avil Trump</span>
                        <span class="txt-style-3 pull-left text-uppercase">signed off by</span>
                        <span class="txt-style-4 pull-left">Donald Trump</span>
                        <div class="pull-right">
                            <button type="button" class="add button-custom">add attachment</button>
                            <button type="submit" class="save button-custom" ng-class="{ disabled: myForm.$invalid }">Save Changes</button>
                            <button type="button" class="report button-custom">view report</button>
                            <button type="button" class="check-button button-custom">Assign</button>
                            <button type="button" class="checkout button-custom">check out patient</button>
                        </div>
                    </div>
                </div>
            </form>
        </div><!--end .card -->
    </section>
</div>