<div id="content">
    <section>
        <div class="card">
            <div class="card-body col-lg-12">

                <div class="row settings">
                    <div class="col-lg-4">
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/user-management-icon.png"></a>
                            <label>User Management</label>
                            <div class="setting_box">
                                <span>User List</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            <div class="setting_box">
                                <span>Manage Roles</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            <div class="setting_box">
                                <span>Reset Password</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/template-icon.png"></a>
                            <label>Templates</label>
                            <div class="setting_box">
                                <span>Template Type</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            <div class="setting_box">
                                <span>Templates</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/lab-icon.png"></a>
                            <label>LAB</label>
                            <div class="setting_box">
                                <span>Manage Labs</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            <div class="setting_box">
                                <span>Lab Tests</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            <div class="setting_box">
                                <span>Result Templates</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/pharmacy-icon.png"></a>
                            <label>Pharmacy</label>
                            <div class="setting_box">
                                <span>Manage Pharmacy</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/inventory-icon.png"></a>
                            <label>Inventory</label>
                            <div class="setting_box">
                                <span>Manage Inventory</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/radiolology-icon.png"></a>
                            <label>Radiology</label>
                            <div class="setting_box">
                                <span>Image Types</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                            <div class="setting_box">
                                <span>Result Templates</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/tax-icon.png"></a>
                            <label>Tax</label>
                            <div class="setting_box">
                                <span>Manage Taxes</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="settings_cont">
                            <a href="javascript:;" class="white-btn"><img src="assets/img/icons/billing.png"></a>
                            <label>Billing</label>
                            <div class="setting_box">
                                <span>Procedure Codes</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                             <div class="setting_box">
                                <span>Service Codes</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                             <div class="setting_box">
                                <span>Imaging Codes</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                             <div class="setting_box">
                                <span>Lab Test Codes</span><span><i class="fa fa-long-arrow-right"></i></span>
                            </div>
                        </div>
                        
                    </div>
                    
                </div><!--end .card-body -->
            </div><!--end .card -->
    </section>
</div>

