<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-2">
                <h2 class="h2-style col-lg-12">Bed Occupancy</h2>
            </div>
            <div class="card-body col-lg-12">
                <!--<div>-->
                <!--                    <table class="table table-striped no-margin table-custom table-custom_big">
                                        <thead>
                                            <tr>
                                                <th>SN</th>
                                                <th>speciality</th>
                                                <th>Ward</th>
                                                <th>total beds</th>
                                                <th>available beds</th>
                                                <th>closed/unavailable</th>
                                                <th>occupied beds</th>
                                                <th>patients waiting for beds</th>
                                                <th>expected discharge</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td>aa</td>
                                                <td>asda</td>
                                                <td>asdas</td>
                                                <td>ada</td>
                                                <td>aadsa</td>
                                                <td>adsad</td>
                                                <td>asd</td>
                                                <td>adasd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>aa</td>
                                                <td>asda</td>
                                                <td>asdas</td>
                                                <td>ada</td>
                                                <td>aadsa</td>
                                                <td>adsad</td>
                                                <td>asd</td>
                                                <td>adasd</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>aa</td>
                                                <td>asda</td>
                                                <td>asdas</td>
                                                <td>ada</td>
                                                <td>aadsa</td>
                                                <td>adsad</td>
                                                <td>asd</td>
                                                <td>adasd</td>
                                            </tr>
                                        </tbody>
                                    </table>-->
                <!--</div>-->
                <div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid custom-grid custom-grid_big"></div>

            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>