<!DOCTYPE html>
<html lang="en"  ng-app="AppEHR">
    <head>
        <title>{{pageTitle}}</title>
        <!--BEGIN META--> 

        <!-- <base href="http://localhost/aplos_ehr/ng-app/"> -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="your,keywords">
        <meta name="description" content="Short explanation about this website">
        <!--END META--> 

        <!--BEGIN STYLESHEETS--> 
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/bootstrap.css?1422792965" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/materialadmin.css?1425466319" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/font-awesome.min.css?1422529194" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/select2/select2.css?1424887856" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/wizard/wizard.css" />
        <!--grid files-->
        <link href="assets/css/theme-default/ui-grid.css" rel="stylesheet" type="text/css"/>
        <!--grid files-->
        <link href="assets/css/theme-default/style.css" rel="stylesheet" type="text/css"/>
        <script src="assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
        <!--END STYLESHEETS--> 
        <!--         HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
                [if lt IE 9]>
                <script type="text/javascript" src="assets/js/libs/utils/html5shiv.js?1403934957"></script>
                <script type="text/javascript" src="assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]-->
    </head>
    <body class="menubar-hoverable header-fixed">
        <header id="header" class="hide {{class}}">
            <form action="post">
                <div class="headerbar hidden-print">
                    <div class="headerbar-left">
                        <a href="javascript:;" ng-click="loadView(PI);" class="white-btn"><img src="assets/img/add_person.png" /></a>
                        <a href="javascript:;" class="white-btn"><img src="assets/img/heart_plus.png" /></a>
                        <a href="javascript:;" class="white-btn"><img src="assets/img/content_icn.png" /></a>
                        <a href="javascript:;" class="white-btn"><img src="assets/img/report_icn.png" /></a>
                    </div>
                    <div class="headerbar-right">
                        <a class="margin-right-20" href="javascript:;"><img src="assets/img/emergency.png" /></a>
                        <div class="header-search">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input class="search_field" type="text" placeholder="Search for a patient" />
                        </div> 
                        <a href="javascript:;" class="button-style-2">
                            <img src="assets/img/admission_icn.png" />
                        </a>
                        <a href="javascript:;" class="button-style-2">
                            <img src="assets/img/discharge_icn.png" />
                        </a>
                        <ul class="header-nav header-nav-profile">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="assets/img/profile_pic.jpg" alt="" />
                                    <span class="profile-info">
                                        {{userName}}
                                    </span>
                                </a>
                                <ul class="dropdown-menu animation-dock">
                                    <li><a href="#/" ng-click="logout();">My profile</a></li>
                                    <li><a href="#/">Setting</a></li>
                                </ul><!--end .dropdown-menu -->
                            </li><!--end .dropdown -->
                        </ul><!--end .header-nav-profile -->
                    </div>
                </div>
            </form>
        </header>
        <div class="loader hide {{loader}}"></div>
        <div id="base" class="{{backgroundImg}}">

            <div ng-view></div> 
            <!--<div ng-include src="includeTemplate"></div>--> 
            <!-- BEGIN MENUBAR-->
            <div id="menubar" class="menubar-inverse {{class}} hide">
                <div class="site_name">
                    EHR
                </div>
                <div class="menubar-fixed-panel">
                    <div>
                        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                    <div class="expanded">
                        <a href="../../html/dashboards/dashboard.html">
                            <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                        </a>
                    </div>
                </div>
                <div class="menubar-scroll-panel">

                    <!-- BEGIN MAIN MENU -->
                    <ul id="main-menu" class="gui-controls">

                        <!-- BEGIN DASHBOARD -->
                        <li>
                            <a href="#/new-encounter-clinical-documentation">
                                <div class="gui-icon"><i class="md md-dashboard"></i></div>
                                <span class="title">Dashboard</span>
                            </a>
                        </li><!--end /menu-li -->
                        <!-- END DASHBOARD -->

                        <!-- BEGIN EMAIL -->
                        <li>
                            <a href="../../html/dashboards/dashboard.html">
                                <div class="gui-icon"><i class="md md-event"></i></div>
                                <span class="title">Appointments</span>
                            </a>
                        </li><!--end /menu-li -->
                        <!-- END EMAIL -->

                        <!-- BEGIN DASHBOARD -->
                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-chat"></i></div>
                                <span class="title">Messages</span>
                            </a>
                        </li><!--end /menu-li -->
                        <li class="gui-folder">
                            <a>
                                <div class="gui-icon"><i class="md md-person-add"></i></div>
                                <span class="title">Patient</span>
                            </a>
                            <!--start submenu -->
                            <ul>
                                <li><a href="../../html/tables/static.html" ><span class="title">Patient Detail</span></a></li>
                                <li><a href="../../html/tables/dynamic.html" ><span class="title">IPD</span></a></li>
                                <li><a href="../../html/tables/responsive.html" ><span class="title">OPD</span></a></li>
                                <li><a href="#/new-encounter-patient-search" ><span class="title">Encounter</span></a></li>
                                <li><a href="../../html/tables/responsive.html" ><span class="title">Checkout</span></a></li>
                            </ul><!--end /submenu -->
                        </li><!--end /menu-li -->

                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-store-mall-directory"></i></div>
                                <span class="title">Store</span>
                            </a>
                        </li><!--end /menu-li -->

                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-my-library-books"></i></div>
                                <span class="title">Billing</span>
                            </a>
                        </li><!--end /menu-li -->

                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-format-color-fill"></i></div>
                                <span class="title">Lab</span>
                            </a>
                        </li><!--end /menu-li -->
                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-local-pharmacy"></i></div>
                                <span class="title">Pharmacy</span>
                            </a>
                        </li><!--end /menu-li -->
                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-insert-drive-file"></i></div>
                                <span class="title">Requisition</span>
                            </a>
                        </li><!--end /menu-li -->
                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="fa fa-briefcase"></i></div>
                                <span class="title">eConsultancy</span>
                            </a>
                        </li><!--end /menu-li -->
                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="md md-assignment"></i></div>
                                <span class="title">Reporting</span>
                            </a>
                        </li><!--end /menu-li -->
                        <li>
                            <a href="../../html/layouts/builder.html" >
                                <div class="gui-icon"><i class="fa fa-book"></i></div>
                                <span class="title">Knowledgebase</span>
                            </a>
                        </li><!--end /menu-li -->
                    </ul><!--end .main-menu -->
                    <!-- END MAIN MENU -->
                    <div class="menubar-foot-panel">
                        <small class="no-linebreak hidden-folded">
                            <span class="opacity-75">Copyright &copy; 2016</span> <strong>EHR</strong>
                        </small>
                    </div>
                </div><!--end .menubar-scroll-panel-->
            </div><!--end #menubar-->
            <!-- END MENUBAR -->
        </div><!--end #base-->
        <div dynamic='html'></div>
        <!-- END BASE -->
        <script src="assets/js/libs/angular/angular.min.js"></script>
        <script src="global/dirPagination.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
        <script src="assets/js/libs/angular/angular-route.js"></script>
        <script src="assets/js/libs/angular/ng-file-upload-shim.js"></script>
        <script src="assets/js/libs/angular/ng-file-upload.js"></script>

        <script src="assets/js/libs/grid-js/angular-animate.js" type="text/javascript"></script>
        <script src="assets/js/libs/grid-js/angular-touch.js"></script>
        <script src="assets/js/libs/grid-js/angular-animate.js"></script>
        <script src="assets/js/libs/grid-js/csv.js"></script>
        <script src="assets/js/libs/grid-js/pdfmake.js"></script>
        <script src="assets/js/libs/grid-js/vfs_fonts.js"></script>
        <script src="assets/js/libs/grid-js/ui-grid.min.js"></script>
        <script src="assets/js/libs/angular/angular-resource.min.js"></script>

        
        <script src="app.js"></script>
        <script src="global/config.js"></script>
        <script src="global/factories.js"></script>
        <script src="global/directives.js"></script>
        <script src="controllers/login.js"></script>





        <script data-require="angular-sanitize@1.2.25" data-semver="1.2.25" src="https://code.angularjs.org/1.2.25/angular-sanitize.js"></script>
        <link data-require="angular-form-gen@0.0.1" data-semver="0.0.1" rel="stylesheet" href="https://cdn.rawgit.com/McNull/angular-form-gen/v0.0.1/dist/angular-form-gen.min.css" />
        <script data-require="angular-form-gen@0.0.1" data-semver="0.0.1" src="assets/js/libs/angular-form-gen/angular-form-gen.js"></script>
        <script data-require="showdown@0.3.*" data-semver="0.3.1" src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
        <script data-require="angular-markdown-text@0.0.2" data-semver="0.0.2" src="https://cdn.rawgit.com/McNull/angular-markdown-text/v0.0.2/dist/angular-markdown-text.min.js"></script>


        <script src="controllers/patientlisting.js"></script>
        <script src="controllers/appointmentscalenderview.js"></script>
        <script src="controllers/appointmentslist.js"></script>
        <script src="controllers/clinicaldocumentationclinicprogressnote.js"></script>
        <script src="controllers/newencounterclinicaldocumentation.js"></script>
        <script src="controllers/newencounterencounterlist.js"></script>
        <script src="controllers/newencounterpatientsearch.js"></script>
        <script src="controllers/patientregistration.js"></script>
        <script src="controllers/patientsummarydemographics.js"></script>
        <script src="controllers/wardbedlisting.js"></script>
        <script src="controllers/wardsbedoccupancy.js"></script>
        <script src="controllers/wardsbedshematic.js"></script>
        <script src="controllers/wardsdischargesummary.js"></script>
        <script src="controllers/labOrderListing.js" type="text/javascript"></script>
        <script src="controllers/labOrderTests.js" type="text/javascript"></script>
        <script src="controllers/labTestReport.js" type="text/javascript"></script>
        <script src="controllers/labOrderHistory.js" type="text/javascript"></script>
        <script src="controllers/labOrderReporting.js" type="text/javascript"></script>
        <script src="controllers/labReportParasitology.js" type="text/javascript"></script>
        <script src="controllers/labReportHaematology.js" type="text/javascript"></script>
        <script src="controllers/templates.js" type="text/javascript"></script>


        <script src="controllers/inventory.js" type="text/javascript"></script>
        <script src="controllers/pharmacy.js" type="text/javascript"></script>
        <script src="controllers/pharmacy-prescription.js" type="text/javascript"></script>
        <script src="controllers/settings-temp.js" type="text/javascript"></script>
        <script src="controllers/settings.js" type="text/javascript"></script>
        <script src="controllers/billing.js" type="text/javascript"></script>
        <script src="controllers/pharmacy-view.js" type="text/javascript"></script>
        <script src="controllers/billing-invoice-print.js" type="text/javascript"></script>
        <script src="controllers/billing-codes.js" type="text/javascript"></script>





        <script>
                $('body').on('click', '.custom-tab', function (e) {

                })
        </script>
    </body>
</html>
