<div id="content">
    <section>
        <div class="card" ng-class="{true:'custom-card'}[patientInfo]">
            <div class="card-head hidden-print card-head-custom {{hospital_plan}}" ng-show="patientInfo">
                <div class="col-lg-3">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.first_name}} {{displayInfo.last_name}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">P{{displayInfo.patient_id}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">{{displayInfo.age}}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.sex}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.marital_status}}</span>
                </div>
                <div class="col-lg-2">
                    <a href="#/billing/{{patientID}}" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <!--<a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>-->
                    <!-- <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>  -->
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="col-lg-12 no-padding">
                    <!-- <span class="txt-style-3 pull-left text-uppercase">search appointment</span> -->
                    <!-- <div class="col-lg-2 pull-right no-margin">
                        <input class="search_field" type="text" ng-model="appointmentSearchableDropDown" placeholder="Search" id="findPatient" data-source="{{PatientSearch}}search_patient" ng-show="searchByAppointmentViewBy">
                    </div> -->
                    <div class="col-lg-2 pull-right no-margin">
                        <select class="form-control" ng-model="filterType" ng-change="findBy();" placeholder="View Appointments By">
                            <option value=""></option>
                            <option value="pick_date">Date</option>
                            <option value="doctor">To See</option>
                            <option value="department">By Speciality</option>
                        </select>
                    </div>
                    <div class="header-search margin-right-0 pull-right" ng-show="searchByAppointmentViewBy">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field" type="text" placeholder="Type patient name" ng-model="searchAppointment[filterType]" ng-disabled="searchBar">
                    </div>
                </div> 
            </div>
            <div class="card-body col-lg-12 hidden-print">
                <div class="icons_con">
                    <button class="print button-custom" ng-hide="buttonDisabled" data-target="#printApp" data-toggle="modal">Print Appointment</button>
                    <button class="calendar button-custom" ng-hide="buttonDisabled" data-target="#confirmation" data-toggle="modal">Encounter</button>
                    <button class="notification button-custom" ng-hide="buttonDisabled" ng-click="reminder();">Reminder</button>
                    <button class="edit button-custom" ng-hide="buttonDisabled" data-toggle="modal" data-target="#updateAppointment">Update</button>
                    <button class="delete button-custom" ng-hide="buttonDisabled" data-toggle="modal" data-target="#deleteConfirm">Delete</button>
                    <button data-toggle="modal" data-target="#createAppointment" class="add button-custom">ADD</button>
                </div>
                <div>
                    <table class="table no-margin table-custom">
                        <thead>
                            <tr>
                                <th></th>
                                <th>patient id</th>
                                <th>name</th>
                                <th>to see</th>
                                <th>Speciality</th>
                                <th>reason</th>
                                <th>date</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="appoint-detail" ng-repeat="appointment in allAppointments | filter:searchAppointment"> 
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="checked" ng-model="action" ng-click="appointmentSelected(appointment.patient_id, appointment.id);" ng-checked="action == AID">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td><a class="blue" href="#/patient-summary-demographics/{{appointment.patient_id}}">P{{appointment.patient_id}}</a></td>
                                <td>{{appointment.first_name}} {{appointment.last_name}}
                                <!-- <div class="bed-info ng-scope">
                                    <div class="col-lg-12">
                                        <span class="txt-style-4">Name</span>
                                        <span class="txt-style-3 capitalize ng-binding">{{appointment.first_name}}</span>
                                    </div>
                                    <div class="col-lg-4">
                                        <span class="txt-style-4">To See</span>
                                        <span class="txt-style-3 ng-binding">{{appointment.doctor}}</span>
                                    </div>
                                    <div class="col-lg-8">
                                        <span class="txt-style-4">Department</span>
                                        <span class="txt-style-3 ng-binding">{{appointment.department}}</span>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="txt-style-4">Expected Discharge Date</span>
                                        <span class="txt-style-3 pull-left ng-binding">{{appointment.pick_date}}</span><span class="txt-style-3 pull-left"></span>
                                    </div>
                                </div> -->
                                </td>
                                <td>{{appointment.doctor}}</td>
                                <td>{{appointment.department}}</td>
                                <td>{{appointment.other_reasons}}</td>
                                <td>{{appointment.pick_date}} / {{appointment.start_time}}</td>
                                <td class="{{appointment.appointment_status == 'missed' ? 'missed' : 'green'}}"></td>
                            </tr>
                        </tbody>
                    </table>
<!--                    <div class="pagination pagination-centered" ng-show="appointmentCount">
                        <ul class="pagination-controle pagination">
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"> &lt; PREV</button>
                            </li>
                            <li>
                              <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= appointmentCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);">NEXT &gt;</button>
                            </li>
                        </ul>
                    </div>-->
                    
                         <div class="pagination pagination-centered pull-right" ng-show="appointmentCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= appointmentCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_2" id="createAppointment" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Create Appointment</h2>
            </div>
            <form class="custom-form" name="myFormAdd" ng-model="myFormAdd" novalidate ng-submit="createAppointments(appointment);">
                <div class="row">
                    <div class="col-lg-12 margin-top-10">
                        <div class="col-lg-12">
                        <div class="header-search margin-right-0 col-lg-12">
<!--                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input class="search_field" type="text" ng-model="appointment.appointmentSearch" placeholder="Search by Name or Patient Id" id="findPatient" data-source="{{PatientSearch}}search_patient" name="FindPatient" ng-class="{true: 'error'}[submitted && myFormAdd.FindPatient.$invalid]" required>
                            <input type="hidden" ng-model="appointment.selectedPatientID" />-->
                            <div class="ajax-dropdown-con col-lg-12">
                                <input id="searchpatient" class="search-ajax-appointment form-control" type="text" name="add_dependant" ng-model="appointment.appointmentSearch" />
                                <!--<span class="help-block PIValid alignError" ng-show="checkValidate_retainer && RI.select_speciality == 'dependant' && do_valid">Required</span>-->
                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                <div class="modal-body">
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Speciality</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="appointment.department" placeholder="Select" name="depart" ng-class="{true: 'error'}[submitted && myFormAdd.depart.$invalid]" required>
                                <option value=""></option>
                                <option ng-repeat="d in dropdownData.departments" value="{{ d.id }}">{{ d.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.depart.$error.required">Required</p>
                        </div>
                        <div class="col-lg-2">
                            <label>Whom To See</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="appointment.doctor" placeholder="Select" name="wts" ng-class="{true: 'error'}[submitted && myFormAdd.wts.$invalid]" required>
                                <option value=""></option>
                                <option ng-repeat="d in dropdownData.doctors" value="{{ d.id }}">{{ d.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.wts.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-6 no-padding">
                              <div class="col-lg-4">
                                <label>Date</label>
                            </div>
                            <div class="col-lg-8">
                                <div class="input-group date select-date col-lg-12">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" name="date" placeholder="Select Date"  ng-model="appointment.date" ng-class="{true: 'error'}[submitted && myFormAdd.date.$invalid]" required>
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <p class="help-block PIValid" ng-show="submitted && myFormAdd.date.$error.required">Required</p>
                            </div>
                        </div>
                         <div class="col-lg-2">
                            <label>Time</label>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group bootstrap-timepicker col-lg-12">
                                <input type="text" class="form-control input-small timepicker"  ng-model="appointment.startTime" name="starttime" ng-class="{true: 'error'}[submitted && myFormAdd.starttime.$invalid]" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.starttime.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Reason</label>
                        </div>
                        <div class="col-lg-4">
                            <textarea ng-model="appointment.otherReason" name="otherReason" placeholder="Describe here" ng-class="{true: 'error'}[submitted && myFormAdd.otherReason.$invalid]" required></textarea>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.otherReason.$error.required">Required</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="addformsubmission()">create</button>
                    <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="OrderBtn" ng-click="submitted = false;">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_2" id="updateAppointment" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Update Appointment</h2>
            </div>
            <form class="custom-form" name="addForm" ng-model="myForm" novalidate ng-submit="updateAppointments(updateAppointment);">
                <div class="modal-body">
                    <div class="row margin-bottom-xxl">
                        <div class="header-search margin-right-0 col-lg-12">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input class="search_field" type="text" ng-model="updateAppointment.appointmentSearch" placeholder="Search by Name or Patient Id" id="findPatientUpdate" data-source="{{PatientSearch}}search_patient" name="FindPatient" ng-class="{true: 'error'}[submitted && addForm.FindPatient.$invalid]" required disabled="true">
                            <input type="hidden" ng-model="updateAppointment.patientID"/>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Speciality</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="updateAppointment.department" placeholder="Select" name="depart" ng-class="{true: 'error'}[submitted && addForm.depart.$invalid]" required>
                                <option value=""></option>
                                <option ng-repeat="d in dropdownData.departments" value="{{ d.id }}" ng-selected="updateAppointment.department == d.id">{{ d.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && addForm.depart.$error.required">Required</p>
                        </div>
                        <div class="col-lg-2">
                            <label>Whom To See</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="updateAppointment.doctor" placeholder="Select" name="wts" ng-class="{true: 'error'}[submitted && addForm.wts.$invalid]" required>
                                <option value=""></option>
                                <option ng-repeat="d in dropdownData.doctors" value="{{ d.id }}" ng-selected="updateAppointment.doctor == d.id">{{ d.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && addForm.wts.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-6 no-padding">
                            <div class="col-lg-4">
                                <label>Date</label>
                            </div>
                            <div class="col-lg-8">
                                <div class="input-group date select-date col-lg-12">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" name="date" placeholder="Select Date"  ng-model="updateAppointment.date" ng-class="{true: 'error'}[submitted && addForm.date.$invalid]" required>
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <p class="help-block PIValid" ng-show="submitted && addForm.date.$error.required">Required</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Reason</label>
                        </div>
                        <div class="col-lg-4">
                            <textarea ng-model="updateAppointment.otherReason" name="otherReason" placeholder="Describe here" required></textarea>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Time</label>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group bootstrap-timepicker col-lg-12">
                                <input type="text" class="form-control input-small timepicker"  ng-model="updateAppointment.startTime" name="starttime" ng-class="{true: 'error'}[submitted && addForm.starttime.$invalid]" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <p class="help-block PIValid" ng-show="submitted && addForm.starttime.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="updateformsubmission()">Save</button>
                    <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="OrderBtn">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="noResultFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>{{modalHeading}}</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext capitalize">{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Do you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" ng-click="deleteAppointments()">Yes</button>
                <button type="button" class="btn btn-default button-style-1 button-style-1_a" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Do you want to Convert?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" ng-click="convertAppointments()">Yes</button>
                <button type="button" class="btn btn-default button-style-1 button-style-1_a" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="confirmReminder" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>{{modalHeading}}</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" ng-click="reminderSuccess()" ng-hide="confirmReminder">Yes</button>
                <button type="button" class="btn btn-default button-style-1 button-style-1_a" data-dismiss="modal" ng-hide="confirmReminder">No</button>
                <button type="button" class="btn btn-default button-style-1 button-style-1_a" data-dismiss="modal" ng-show="confirmReminder">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade modal-size_1" id="printApp" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content pull-left">
            <div class="modal-header pop_head">
                <h2>Print Appointment</h2>
            </div>
            <div class="modal-body pull-left label-style-con modal-body-2">
                <form class="custom-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Patient Name</label>
                            <!--<label class="txt-style-4">{{ selectedOrder.patient_name }}</label>-->
                            <label class="txt-style-4">{{encounterFields.first_name}} {{encounterFields.last_name}}</label>
                        </div>
                        <div class="col-lg-6">
                            <label>Patient ID</label>
                            <label class="txt-style-4">{{ encounterFields.patient_id }}</label>
                        </div>

                        <div class="col-lg-6">
                            <label>Speciality</label>
                            <label class="txt-style-4">{{ encounterFields.doctor }}</label>
                        </div>
                        <div class="col-lg-6">
                            <label>Too See</label>
                            <label class="txt-style-4">{{ encounterFields.department }}</label>
                        </div>
                        <div class="col-lg-6">
                            <label>Appointment Date</label>
                            <label class="txt-style-4">{{ encounterFields.pick_date }}</label>
                        </div>
                        <div class="col-lg-6">
                            <label>Time</label>
                            <label class="txt-style-4">{{ encounterFields.start_time }}</label>
                        </div>
                        <div class="col-lg-6">
                            <label>Reason</label>
                            <label class="txt-style-4">{{ encounterFields.other_reasons }}</label>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer col-lg-12 hidden-print">
                <div class="pull-right">
                    <button ng-click="openPrint()" type="button" class="printIdCard btn btn-default button-style-1">Print</button>
                    <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->