<div id="content">
    <div class="card">
        <div class="card-body col-lg-9 border-right">
            <div class="row">
                <!-- BEGIN CALENDAR EVENTS -->
                <div class="col-sm-3 no-padding">
                    <h2>Draggable Events</h2>
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input id="drop-remove" type="checkbox" checked>
                            <span>Remove after drop</span>
                        </label>
                    </div>
                    <br/>
                    <ul class="list divider-full-bleed list-events">
                        <li class="tile event-color-6" data-class-name="event-color-6">
                            <div class="tile-content">
                                <div class="tile-text">Appointment @ 07:00 AM</div>
                            </div>
                        </li>
                        <li class="tile event-color-5" data-class-name="event-color-5">
                            <div class="tile-content">
                                <div class="tile-text">Appointment @ 08:00 AM</div>
                            </div>
                        </li>
                        <li class="tile event-color-4" data-class-name="event-color-4">
                            <div class="tile-content">
                                <div class="tile-text">Appointment @ 09:00 AM</div>
                            </div>
                        </li>
                        <li class="tile event-color-3" data-class-name="event-color-3">
                            <div class="tile-content">
                                <div class="tile-text">Appointment @ 10:00 AM</div>
                            </div>
                        </li>
                        <li class="tile event-color-2" data-class-name="event-color-2">
                            <div class="tile-content">
                                <div class="tile-text">Appointment @ 11:00 AM</div>
                            </div>
                        </li>
                        <li class="tile event-color-1" data-class-name="event-color-1">
                            <div class="tile-content">
                                <div class="tile-text">Appointment @ 12:00 AM</div>
                            </div>
                        </li>
                    </ul>
                </div><!--end .col -->
                <!-- END CALENDAR EVENTS -->

                <!-- BEGIN CALENDAR -->
                <div class="col-sm-9">
                    <div class="card">
                        <div class="card-body no-padding">
                            <div id="calendar"></div>
                        </div><!--end .card-body -->
                    </div><!--end .card -->
                </div><!--end .col -->
                <!-- END CALENDAR -->

            </div><!--end .row -->
        </div><!--end .card-body -->
        <div class="col-lg-3">
            <div id="small-calendar" class="pull-right"></div>
            <div class="col-lg-12 no-padding pull-right box-style-1 margin-bottom-xxl">
                <div class="headbar-custom">
                    <h2>View By Whom To See</h2>
                </div>
                <div class="col-lg-12">
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Dr. Jay Rodriguez</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Dr. Mali O</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Dr. Maryanne</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Dr. O Jay</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Dr Simpson</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Dr. Bob Marley</span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 no-padding pull-right box-style-1 margin-bottom-xxl">
                <div class="headbar-custom">
                    <h2>View By Department</h2>
                </div>
                <div class="col-lg-12">
                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Eye Clinic</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>GOPD</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Lab</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Maternity</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Antenatal</span>
                        </label>
                    </div>

                    <div class="checkbox checkbox-styled">
                        <label>
                            <input type="checkbox" value="">
                            <span>Postnatal</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end .card -->
</div>