<div id="content">
    <section>
        <div class="card">
            <div class="card-body col-lg-12 border-right">
                <div class="row">
                    <div class="icons_con">
                        <button data-toggle="modal" data-target="#createAppointment" class="add button-custom">ADD Appointment</button>
                    </div>
                    <form class="custom-form row margin-bottom-30">
                        <div class="col-lg-12 margin-bottom-xxl">
                    <div class="col-lg-4">
                        <label>
                            Search by Patient Name
                        </label>
                         <input class="search_field" type="text" placeholder="Search" id="findPatient" data-source="{{PatientSearch}}search_patient" name="FindPatient"> 
                    </div>
                    <div class="col-lg-4">
                        <label>
                        Search by speciality
                        </label>
                        <input class="search_field" type="text" placeholder="Search" id="departmentSearch" data-source="{{PatientSearch}}search_department" name="FindSpeciality">
                    </div>
                    <div class="col-lg-4">
                        <label>
                        Search by To See
                        </label>
                        <input class="search_field" type="text" placeholder="Search" id="doctorSearch" data-source="{{PatientSearch}}search_doctor" name="FindToSee">
                    </div>
                            </div>
                        </form>
                        
                    <!-- BEGIN CALENDAR -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body no-padding">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div><!--end .row -->
            </div><!--end .card-body -->
            <!-- <div class="col-lg-3">
                <div id="small-calendar" class="pull-right"></div>
            </div> -->
        </div><!--end .card -->
        
    </section>
</div>
<div class="modal fade modal-size_1" id="noResultFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Result</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">No Result Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_3" id="createAppointment" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Create Appointment</h2>
            </div>
            <form class="custom-form" name="myFormAdd" ng-model="myFormAdd" novalidate ng-submit="createAppointments(appointment);">
                <div class="modal-body">
                    <div class="row margin-bottom-xxl">
                        <div class="header-search margin-right-0 col-lg-12">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input class="search_field findPatient" type="text" ng-model="appointment.appointmentSearch" placeholder="Search by Name or Patient Id" data-source="{{PatientSearch}}search_patient" name="FindPatient" ng-class="{true: 'error'}[submitted && myFormAdd.FindPatient.$invalid]" required>
                            <input type="hidden" ng-model="appointment.selectedPatientID" />
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Speciality</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="appointment.department" placeholder="Select" name="depart" ng-class="{true: 'error'}[submitted && myFormAdd.depart.$invalid]" required>
                                <option value=""></option>
                                <option ng-repeat="d in dropdownData.departments" value="{{ d.id }}">{{ d.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.depart.$error.required">Required</p>
                        </div>
                        <div class="col-lg-2">
                            <label>Whom To See</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="appointment.doctor" placeholder="Select" name="wts" ng-class="{true: 'error'}[submitted && myFormAdd.wts.$invalid]" required>
                                <option value=""></option>
                                <option ng-repeat="d in dropdownData.doctors" value="{{ d.id }}">{{ d.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.wts.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-6 no-padding">
                            <div class="col-lg-4">
                                <label>Reason</label>
                            </div>
                            <div class="col-lg-8 margin-bottom-30">
                                <select class="form-control" ng-model="appointment.reason" placeholder="Select" name="reason" ng-class="{true: 'error'}[submitted && myFormAdd.reason.$invalid]" required>
                                    <option value=""></option>
                                    <option ng-repeat="r in reason" value="{{ r.name }}">{{ r.name }}</option>
                                </select>
                                <p class="help-block PIValid" ng-show="submitted && myFormAdd.reason.$error.required">Required</p>
                            </div>
                              <div class="col-lg-4">
                                <label>Date</label>
                            </div>
                            <div class="col-lg-8">
                                <div class="input-group date select-date col-lg-12">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" name="date" placeholder="Select Date"  ng-model="appointment.date" ng-class="{true: 'error'}[submitted && myFormAdd.date.$invalid]" required>
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                <p class="help-block PIValid" ng-show="submitted && myFormAdd.date.$error.required">Required</p>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label>Other Reason</label>
                        </div>
                        <div class="col-lg-4">
                            <textarea ng-model="appointment.otherReason" name="otherReason" placeholder="Describe here"></textarea>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Time</label>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group bootstrap-timepicker col-lg-12">
                                <input type="text" class="form-control input-small timepicker"  ng-model="appointment.startTime" name="starttime" ng-class="{true: 'error'}[submitted && myFormAdd.starttime.$invalid]" required>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                            <p class="help-block PIValid" ng-show="submitted && myFormAdd.starttime.$error.required">Required</p>
                        </div>
                        <div class="col-lg-2">
                            <label>Task Priority</label>
                        </div>
                        <div class="col-lg-4">
                            <select class="form-control" ng-model="appointment.priority" placeholder="Select Priority" name="task" >
                                <option value=""></option>
                                <option ng-repeat="p in priorities" value="{{ p.name }}">{{ p.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Notes</label>
                        </div>
                        <div class="col-lg-4">
                            <textarea ng-model="appointment.notes" placeholder="Write here" name="notes" ></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="addformsubmission()">create</button>
                    <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="OrderBtn" ng-click="submitted = false;">Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script src="assets/js/libs/fullcalendar/fullcalendar.min.js"></script>
<script src="assets/js/core/demo/DemoCalendar.js"></script>
<script>$('#small-calendar').datepicker({todayHighlight: true});</script>