p<div id="content">
    <section>
        <div class="card custom-card">
          <!--  <div class="card-head card-head-custom card-color-3 billing">
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12 capitalize">Elbert Bloogs Woo</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">PA-9012154</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">39 Years</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12 capitalize">Male</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12 capitalize">Single</span>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_white.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/admission_icn_white.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_white.png" />
                    </a>                             
                </div>
            </div>-->

            <div class="card-body tab-content col-lg-12 custom-card-body">

                <div class="print_invoice">
                    <div class="row margin-top-50">
                        <div class="col-lg-6 invoice_logo">
                            <h2>Logo</h2>
                            <span>Hospital Name</span>
                        </div>
                        <div class="col-lg-6 text-right invoice_address">
                            <span>203-204 19B Lane, Sunset Bulevard, CA</span><br>
                            <span>hospital-email@domainname.com</span><br>
                            <span>+ 1 555 555 555</span>
                        </div>
                    </div>

                    <div class="row patient_info">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Patient Name</label>
                                </div>
                                <div class="col-lg-3">
                                    <span>Joe Bloggs</span>
                                </div>
                                <div class="col-lg-3">
                                    <label>Patient ID</label>
                                </div>
                                <div class="col-lg-3">
                                    <span>ID002145</span>
                                </div>

                                <div class="col-lg-3 clear">
                                    <label>Age</label>
                                </div>
                                <div class="col-lg-3">
                                    <span>29</span>
                                </div>
                                <div class="col-lg-3">
                                    <label>Sex</label>
                                </div>
                                <div class="col-lg-3">
                                    <span>Male</span>
                                </div>
                                <div class="col-lg-3 clear">
                                    <label>Address</label>
                                </div>
                                <div class="col-lg-9">
                                    <span>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</span>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-3 text-center">
                            <span class="patient_status">PAID</span>
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label>Invoice No</label>
                                </div>
                                <div class="col-lg-6">
                                    <span>2145455</span>
                                </div>
                                <div class="col-lg-6 clear">
                                    <label>Date</label>
                                </div>
                                <div class="col-lg-6">
                                    <span>June 15 2016</span>
                                </div>
                                <div class="col-lg-6 clear">
                                    <label>Provider</label>
                                </div>
                                <div class="col-lg-6">
                                    <span>Dr Donald Trump</span>
                                </div>

                            </div>
                        </div>
                    </div>

                  <!--  <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right" data-toggle="modal" data-target="#">Add Procedure from master list</button>
                            <button class="add button-custom pull-right" data-toggle="modal" data-target="#">Add Product from master list</button>

                        </div>

                    </div>-->
                    <form class="custom-form">
                        <div class="row edit_inv_row_hdng">
                            <div class="col-lg-4">
                                <span>Description</span>
                            </div>
                            <div class="col-lg-1 code_col">
                                <span>Code</span>
                            </div>
                            <div class="col-lg-2">
                                <span>Quality</span>
                            </div>
                            <div class="col-lg-2">
                                <span>Cost</span>
                            </div>
                            <div class="col-lg-2 amount_col">
                                <span>Amount</span>
                            </div>
                            <div class="col-lg-1 btn_can_col">

                            </div>
                        </div>
                        <div class="invoice_row">
                            <div class="row edit_inv_row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 code_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2 amount_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 btn_can_col">
                                    <span class="remove_invoice_row"><i class="fa fa-close"></i></span>
                                </div>
                            </div>
                            <div class="row edit_inv_row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 code_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2 amount_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 btn_can_col">
                                    <span class="remove_invoice_row"><i class="fa fa-close"></i></span>
                                </div>
                            </div>
                            <div class="row edit_inv_row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 code_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2 amount_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 btn_can_col">
                                    <span class="remove_invoice_row"><i class="fa fa-close"></i></span>
                                </div>
                            </div>
                            <div class="row edit_inv_row">
                                <div class="col-lg-4">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 code_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-2 amount_col">
                                    <input type="text" placeholder="" >
                                </div>
                                <div class="col-lg-1 btn_can_col">
                                    <span class="remove_invoice_row"><i class="fa fa-close"></i></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn_add add_invoice_row"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>

                        <div class="row price_list">
                            <div class="col-lg-9">
                                <span>Sub Total</span>
                            </div>
                            <div class="col-lg-3">
                                <span>00.00</span>
                            </div>
                            <div class="col-lg-9">
                                <span>Discount</span>
                            </div>
                            <div class="col-lg-3">
                                <span>00.00</span>
                            </div>
                            <div class="col-lg-9">
                                <span>Tax</span>
                            </div>
                            <div class="col-lg-3">
                                <span>00.00</span>
                            </div>
                        </div>

                        <hr>

                        <div class="row grand_total">
                            <div class="col-lg-9">
                                <span>Grand Total</span>
                            </div>
                            <div class="col-lg-1">
                                <span>00.00</span>
                            </div>
                            <div class="col-lg-2">
                                <span>June 15 2016 | Cash</span>
                            </div>
                        </div>
                        <hr>

                        <div class="row margin-top-30">                       

                            <div class="col-lg-3">
                                <label>Notes</label>
                            </div>
                            <div class="col-lg-9">
                                <textarea rows="6"></textarea>
                            </div>
                        </div>

                        <div class="row">                       

                           <!-- <div class="col-lg-12">
                                <span class="pull-left term_cond">Terms & Condition</span>
                                <button type="button" class="btn button-style-1 button-style-1_a pull-right">Cancel</button>
                                <button type="button" class="btn btn-default button-style-1 pull-right margin-right-10">finish</button>                                    
                            </div>-->

                        </div>

                    </form>
                </div>

            </div>
            <!--end .card-body -->
        </div>
        <!--        end .card -->
    </section>
</div>

<div class="modal fade modal-size_1" id="addpatient" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Vitals</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Continue to Add Patient Vitals</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-toggle="modal" data-target="#vital-signs" data-dismiss="modal">Ok</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_3" id="vital-signs" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Vitals Signs</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="vitalForm" novalidate ng-submit="validateVitals(vital);">
                    <!--<div class="row">-->
                        <div class="row">
                            <div class="col-lg-4" >
                                <div class="col-lg-12 margin-bottom-xxl">
                                    <label class="label-style">Blood Pressure (mm Hg)</label>
                                </div>
                                <div class="col-lg-6">
                                    <label>systolic (mm hg)</label>
                                </div>
                                <div class="col-lg-6 margin-bottom-xxl">
                                    <input type="text" placeholder="systolic (mm hg)"  ng-class="{
                                            true
                                            : 'error'}[vital.diastolic != undefined && vital.systolic == undefined]" ng-model="vital.systolic" numbers-only required/>
                                    <p ng-show="vital.diastolic != undefined && vital.systolic == undefined" class="help-block PIValid">Required</p>
                                </div>
                                <div class="col-lg-6">
                                    <label>diastolic (mm hg)</label>
                                </div>
                                <div class="col-lg-6 margin-bottom-xxl">
                                    <input type="text" placeholder="diastolic (mm hg)" ng-class="{true:'error'}[vital.diastolic == undefined && vital.systolic != undefined]" ng-model="vital.diastolic" numbers-only required/>
                                    <p ng-show="vital.systolic != undefined && vital.diastolic == undefined" class="help-block PIValid">Required</p>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="col-lg-12 margin-bottom-xxl">
                                    <label class="label-style">Pulse Rate (min/bpm)</label>
                                </div>
                                <div class="col-lg-6">
                                    <label>pulse</label>
                                </div>
                                <div class="col-lg-6 margin-bottom-xxl">
                                    <input type="text" placeholder="pulse" ng-model="vital.pulse" numbers-only/>
                                </div>
                                <!-- <div class="col-lg-12">
                                    <label class="label-style">Pulse Rate (min/bpm)</label>
                                </div> -->
                                <div class="col-lg-6">
                                    <label>respiratory rate</label>
                                </div>
                                <div class="col-lg-6 margin-bottom-xxl">
                                    <input type="text" placeholder="respiratory rate" ng-model="vital.respiratoryRate" numbers-only/>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="col-lg-12 margin-bottom-xxl">
                                    <label class="label-style">Respiratory Rate (br/min)</label>
                                </div>
                                <div class="col-lg-6">
                                    <label>temperature (c)</label>
                                </div>
                                <div class="col-lg-6 margin-bottom-xxl">
                                    <input type="text" placeholder="temperature (c)" ng-model="vital.temperaturec" numbers-only ng-keyup="GetTempcVal()"/>
                                </div>
                                <div class="col-lg-6">
                                    <label>temperature (f)</label>
                                </div>
                                <div class="col-lg-6 margin-bottom-xxl">
                                    <input type="text" placeholder="temperature (f)" ng-model="vital.temperaturef" ng-keyup="GetTempfVal()" numbers-only/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <!--<div class="col-lg-12 margin-bottom-xxl">-->
                           
                            <!-- <div class="col-lg-5 pull-right">
                                <div class="pull-right">
                                    <a class="txt-style-4" href="javascript:;">Attach</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="txt-style-4" href="javascript:;">Past Notes</a>
                                </div>
                            </div> -->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="col-lg-4">
                            <div class="col-lg-12 margin-bottom-xxl margin-top-10">
                             <label class="label-style">BMI (kg / m^2)</label>
                             </div>
                            <div class="col-lg-6">
                                <label>result</label>
                            </div>
                            <div class="col-lg-6 margin-bottom-xxl">
                                <input type="text" placeholder="0" ng-model="vital.result" readonly/>
                            </div>
                            <div class="col-lg-6">
                                <label>weight (kg)</label>
                            </div>
                            <div class="col-lg-6 margin-bottom-xxl">
                                <input type="text" ng-class="{true: 'error'}[vital.weight == undefined && vital.height != undefined]" placeholder="weight (kg)" ng-model="vital.weight" numbers-only ng-keyup="Calculatebmi()" required/>
                                <p ng-show="vital.weight == undefined && vital.height != undefined" class="help-block PIValid">Required</p>
                            </div>

                            <div class="col-lg-6">
                                <label>height (cm)</label>
                            </div>
                            <div class="col-lg-6 margin-bottom-xxl">
                                <input type="text" ng-class="{true: 'error'}[vital.height == undefined && vital.weight != undefined]" placeholder="height (cm)" ng-model="vital.height" ng-keyup="Calculatebmi()" numbers-only required />
                                <p ng-show="vital.height == undefined && vital.weight != undefined" class="help-block PIValid">Required</p>
                            </div>
                        </div>
                        <div class="col-lg-8 margin-bottom-xxl margin-top-50">
                            <div class="col-lg-3">
                                <label>Notes</label>
                            </div>
                            <div class="col-lg-9">
                                <textarea placeholder="Write Your Text Here" ng-model="vital.notes"></textarea>
                            </div>
                        </div>
                        </div>
                        <div class="modal-footer row">
                            <div class="row">
                            <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;">Save</button>
                            <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                    <!--</div>-->
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<style>
    @media print {
        body #content {
            width: 90%; max-width: 1048px;
        }
    }


</style>
<script>
    $(document).ready(function () {

        $(".headerbar").hide();
        window.print();
    });
</script>

