<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-3">
                <div class="col-lg-3">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.first_name}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">PA-{{displayInfo.id}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">{{displayInfo.age}}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.sex}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.marital_status}}</span>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="col-lg-12 no-padding table-header-2">
                    <span class="txt-style-3 pull-left text-uppercase">Encounter id</span>
                    <span class="txt-style-4 pull-left">{{displayInfo.encounter_id}}</span>
                    <span class="txt-style-3 pull-left text-uppercase">date of service</span>
                    <span class="txt-style-4 pull-left">{{displayInfo.visit_created_at}}</span>
                    <div class="pull-left header-checkboxes">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>H & P</span>
                            </label>
                        </div>

                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>SOAP Template</span>
                            </label>
                        </div>

                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="true" checked>
                                <span>Custom Template</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2 pull-right select-con">
                        <select class="form-control" ng-model="template" ng-change="getTemplates(template);" data-placeholder="Select Template">
                            <option value=""></option>
                            <option ng-repeat="temp in templates" value="{{temp.id}}">{{temp.name}}</option>
                        </select>
                    </div>
                </div> 
            </div>
            <div class="card-body col-lg-12 accordian-body-con">
                <div class="col-lg-12 pull-right no-padding" ng-init="field = 1">
                {{inputFields}}
                    <div class="panel-group custom-accordian" id="accordion3" ng-repeat="(key, value) in templateFields | groupBy: 'category'">
                        <div class="card panel expanded">
                            <div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-3">
                                <header>{{ key }}</header>
                                <div class="tools">
                                    <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                            <div id="accordion3-3" class="collapse in">
                                <div class="card-body">
                                    <ul class="ulli">
                                        <li ng-repeat="item in value track by $index">
                                            <div class="show_textarea">
                                                <span>{{ item.name }}</span>
                                                <input type="text" ng-model="inputFields[$parent.$index][$index]"/>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--end .panel -->
                    </div><!--end .panel-group -->
                    
                    <button type="button" class="btn ink-reaction button-style-1 button-style-1_b pull-right">finalize report</button>
                    <button type="button" data-toggle="modal" data-target="#complaint" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10">preview report</button>
                    <button type="button" data-toggle="modal" data-target="#checkout" class="btn ink-reaction button-style-1 btn-big pull-right margin-right-10" ng-click="saveClinicalNotes(inputFields);">save</button>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<script type="text/javascript">
$('body').on('click','.show_textarea span',function(){
    $(this).siblings('input[type=text]').toggle();    
});
$('body').on('keyup', '.show_textarea input[type=text]' ,function(e){
    if(e.keyCode == 13){
        $(this).trigger("enterKey");
        $('input[type=text]').hide(); 
    }
});
</script>