<div id="content">
    <section>
        <div class="row dashboard">
            <div class="col-md-3">
                <a href="#/patient-listing">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-1.png" /></span>
                            <span class="textstyle-1">patients</span>
                            <span class="textstyle-2">{{counts.patients_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#/new-encounter-patient-search">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-2.png" /></span>
                            <span class="textstyle-1">encounters</span>
                            <span class="textstyle-2">{{counts.encounter_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#/billing">
                    <div class="card">
                        <div class="card-body">
                            <!-- <span class="color-circle"><img src="assets/img/dashboard/icon-3.png" /></span>
                            <span class="textstyle-1">medical records</span>
                            <span class="textstyle-2">2500</span> -->
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-12.png" /></span>
                            <span class="textstyle-1">Billing</span>
                            <span class="textstyle-2">{{counts.billing_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#/appointments-list">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-4.png" /></span>
                            <span class="textstyle-1">appointments</span>
                            <span class="textstyle-2">{{counts.appointments_count}}</span>
                        </div>
                    </div>
                </a>
            </div>
            
            
            
            <!-- <div class="col-md-3">
                <a href="#/radiology">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle invisible"><img src="" data-src="assets/img/dashboard/icon-5.png" /></span>
                            <span class="textstyle-1">radiology</span>
                            <span class="textstyle-2">{{counts.radiology_count}}</span>
                        </div>
                    </div>
                </a>
            </div> -->

            <div class="col-md-3">
                <a href="#/lab-order-listing">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-6.png" /></span>
                            <span class="textstyle-1">laboratory</span>
                            <span class="textstyle-2">{{counts.laboratory_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#/patient-pool-area">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-7.png" /></span>
                            <span class="textstyle-1">patient pool area</span>
                            <span class="textstyle-2">{{counts.patient_pool_area_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#/wards">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-8.png" /></span>
                            <span class="textstyle-1">hospital wards</span>
                            <span class="textstyle-2">{{counts.wards_count}}</span>
                        </div>
                    </div>
                </a>
            </div>
            
            
            <div class="col-md-3">
                <a href="#/inventory">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-9.png" /></span>
                            <span class="textstyle-1">inventory</span>
                            <span class="textstyle-2">{{counts.inventory_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#/pharmacy">
                    <div class="card">
                        <div class="card-body">
                            <span class="color-circle"><img class="invisible" src="" data-src="assets/img/dashboard/icon-10.png" /></span>
                            <span class="textstyle-1">pharmacy</span>
                            <span class="textstyle-2">{{counts.pharmacy_count}}</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <span class="color-circle invisible"><img src="" data-src="assets/img/dashboard/icon-11.png" /></span>
                        <span class="textstyle-1">patient registration</span>
                        <span class="textstyle-2"><br/></span>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <span class="color-circle invisible"><img src="" data-src="assets/img/dashboard/icon-12.png" /></span>
                        <span class="textstyle-1">Billing</span>
                        <span class="textstyle-2">1500</span>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
</div>