<div id="content">
    <section>
        <div class="card">
            <div class="card-head col-lg-9 no-padding card-head-auto">
                <ul class="nav nav-tabs nav-justified custom-tab" data-toggle="tabs">
                    <li><a showtab href="#inventory">Inventory</a></li>
                    <li><a showtab href="#suppliers">Suppliers</a></li>
                    <li class="active"><a showtab href="#category">vitals</a></li>
                    <li><a showtab href="#medications">medications</a></li>
                </ul>
            </div><!--end .card-head -->

            <div class="card-body tab-content col-lg-12 custom-card-body">
                <div class="tab-pane" id="inventory">
                    <div class="table-header row background-none">
                        <div class="col-lg-7">
                            <span class="txt-style-3 pull-left text-uppercase">category</span>
                            <div class="col-lg-2">
                                <select class="form-control">
                                    <option>All</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <span class="txt-style-3 pull-left text-uppercase">status</span>
                            <div class="col-lg-2">
                                <select class="form-control">
                                    <option>Active</option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="notes button-custom pull-right">Import inventory</button>
                            <button class="add button-custom pull-right ">Add Inventory</button>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Enter product code">
                            </div>
                        </div> 
                    </div>
                    <form class="custom-form">


                        <!--                    <table class="table table-striped no-margin table-custom table-custom_big">
                                                <thead>
                                                    <tr>
                                                        <th>product name</th>
                                                        <th>product name</th>
                                                        <th>latest retail price</th>
                                                        <th>stock quantity</th>
                                                        <th>reorder level</th>
                                                        <th>orde quantity</th>
                                                        <th>update</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>14/04/2016</td>
                                                        <td>90189191</td>
                                                        <td>ABc</td>
                                                        <td>Eye Clinic</td>
                                                        <td>Consultation</td>
                                                        <td>Outpatient</td>
                                                        <td>
                                                            <div class="inventory_actions"><a href="javascript:;" class="setting-button"></a>
                                                                <div class="tool-tip_popup">
                                                                    <a href="javascript:;">Stock Details</a>
                                                                    <a href="javascript:;">Edit Product Details</a>
                                                                    <a href="javascript:;">Edit Reorder Level</a>
                                                                    <a href="javascript:;">Make Inactive</a>
                                                                    <a href="javascript:;">Delete Inventory</a>    
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14/04/2016</td>
                                                        <td>90189191</td>
                                                        <td>ABc</td>
                                                        <td>Eye Clinic</td>
                                                        <td>Consultation</td>
                                                        <td>Outpatient</td>
                                                        <td>Outpatient</td>
                                                    </tr>
                                                    <tr>
                                                        <td>14/04/2016</td>
                                                        <td>90189191</td>
                                                        <td>ABc</td>
                                                        <td>Eye Clinic</td>
                                                        <td>Consultation</td>
                                                        <td>Outpatient</td>
                                                        <td>Outpatient</td>
                                                    </tr>
                                                </tbody>
                                            </table>-->
                        <div class="row">
                            <div class="heading-bar no-margin col-lg-12 border-bottom-0">Product Details</div>
                            <div class="box-style no-margin border-bottom-0">
                                <div class="col-lg-2">
                                    <label>product name</label>
                                    <span class="txt-style-6">Paracetamal</span>
                                </div>
                                <div class="col-lg-2">
                                    <label>product id</label>
                                    <span class="txt-style-6">PA5688541</span>
                                </div>
                                <div class="col-lg-2">
                                    <label>trade name</label>
                                    <span class="txt-style-6">D Cold Total</span>
                                </div>
                                <div class="col-lg-2">
                                    <label>group</label>
                                    <span class="txt-style-6">Group Name</span>
                                </div>
                                <div class="col-lg-2">
                                    <label>category</label>
                                    <span class="txt-style-6">Medicine</span>
                                </div>
                                <div class="col-lg-2">
                                    <label>strength</label>
                                    <span class="txt-style-6">100/Unit</span>
                                </div>
                            </div>
                            <div class="heading-bar col-lg-12 no-margin">Stock Details</div>
                            <table class="table table-striped no-margin table-custom table-custom_big">
                                <thead>
                                    <tr>
                                        <th>stock received date</th>
                                        <th>supplier</th>
                                        <th>batch number</th>
                                        <th>expiry date</th>
                                        <th>quantity</th>
                                        <th>cost price/item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>14/04/2016</td>
                                        <td>90189191</td>
                                        <td>ABc</td>
                                        <td>Eye Clinic</td>
                                        <td>Consultation</td>
                                        <td>Outpatient</td>
                                    </tr>
                                    <tr>
                                        <td>14/04/2016</td>
                                        <td>90189191</td>
                                        <td>ABc</td>
                                        <td>Eye Clinic</td>
                                        <td>Consultation</td>
                                        <td>Outpatient</td>
                                    </tr>
                                    <tr>
                                        <td>14/04/2016</td>
                                        <td>90189191</td>
                                        <td>ABc</td>
                                        <td>Eye Clinic</td>
                                        <td>Consultation</td>
                                        <td>Outpatient</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="suppliers">
                    <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right ">Add Supplier</button>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Enter supplier">
                            </div>
                        </div> 
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big">
                            <thead>
                                <tr>
                                    <th>contact person</th>
                                    <th>address</th>
                                    <th>email</th>
                                    <th>mobile</th>
                                    <th>work phone</th>
                                    <th>website</th>
                                    <th>update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>14/04/2016</td>
                                    <td>90189191</td>
                                    <td>ABc</td>
                                    <td>Eye Clinic</td>
                                    <td>Consultation</td>
                                    <td>Outpatient</td>
                                    <td>
                                        <div class="inventory_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Stock Details</a>
                                                <a href="javascript:;">Edit Product Details</a>
                                                <a href="javascript:;">Edit Reorder Level</a>
                                                <a href="javascript:;">Make Inactive</a>
                                                <a href="javascript:;">Delete Inventory</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14/04/2016</td>
                                    <td>90189191</td>
                                    <td>ABc</td>
                                    <td>Eye Clinic</td>
                                    <td>Consultation</td>
                                    <td>Outpatient</td>
                                    <td>Outpatient</td>
                                </tr>
                                <tr>
                                    <td>14/04/2016</td>
                                    <td>90189191</td>
                                    <td>ABc</td>
                                    <td>Eye Clinic</td>
                                    <td>Consultation</td>
                                    <td>Outpatient</td>
                                    <td>Outpatient</td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div class="tab-pane active" id="category">
                    <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right ">Add Category</button>
                        </div>
                        <span class="txt-style-3 pull-left text-uppercase">category</span>
                        <div class="col-lg-2">
                            <select class="form-control">
                                <option>All</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Enter supplier">
                            </div>
                        </div> 
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Group</th>
                                    <th>Description</th>
                                    <th>Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>14/04/2016</td>
                                    <td>90189191</td>
                                    <td>ABc</td>
                                    <td>
                                        <div class="inventory_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Stock Details</a>
                                                <a href="javascript:;">Edit Product Details</a>
                                                <a href="javascript:;">Edit Reorder Level</a>
                                                <a href="javascript:;">Make Inactive</a>
                                                <a href="javascript:;">Delete Inventory</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14/04/2016</td>
                                    <td>90189191</td>
                                    <td>ABc</td>
                                    <td>
                                        <div class="inventory_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Stock Details</a>
                                                <a href="javascript:;">Edit Product Details</a>
                                                <a href="javascript:;">Edit Reorder Level</a>
                                                <a href="javascript:;">Make Inactive</a>
                                                <a href="javascript:;">Delete Inventory</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>14/04/2016</td>
                                    <td>90189191</td>
                                    <td>ABc</td>
                                    <td>
                                        <div class="inventory_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Stock Details</a>
                                                <a href="javascript:;">Edit Product Details</a>
                                                <a href="javascript:;">Edit Reorder Level</a>
                                                <a href="javascript:;">Make Inactive</a>
                                                <a href="javascript:;">Delete Inventory</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>

                <div class="tab-pane" id="medications">

                </div>
                <div class="tab-pane" id="supplements">

                </div>
                <div class="tab-pane" id="allergies">

                </div>


                <div class="tab-pane" id="documents">

                </div>

            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>