<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head col-lg-9 no-padding card-head-auto">
                <ul class="nav nav-tabs nav-justified custom-tab custom-tab-with-header" data-toggle="tabs">
                    <li class="active"><a href="#inventory">Inventory</a></li>
                    <li><a href="#encounter_history">encounters</a></li>
                    <li><a href="#health_vitals">vitals</a></li>
                    <li><a href="#medications">medications</a></li>
                </ul>
            </div><!--end .card-head -->
            <div class="card-head card-head-custom card-color-4">
                <div class="col-lg-3">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12">Elbert Bloggs Woo</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">PA-90189191</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">39 Years</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12">Male</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12">Single</span>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="col-lg-7">
                    <span class="txt-style-3 pull-left text-uppercase">category</span>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option>All</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                     <span class="txt-style-3 pull-left text-uppercase">status</span>
                    <div class="col-lg-2">
                        <select class="form-control">
                            <option>Active</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                </div>
                <div class="pull-right">
                    <button class="notes button-custom pull-right">Import inventory</button>
                    <button class="add button-custom pull-right ">Add Inventory</button>
                </div>
                <div class="pull-right">
                    <div class="header-search pull-left margin-top-10">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field" type="text" placeholder="Enter product code">
                    </div>
                </div> 

            </div>
            <div class="card-body tab-content col-lg-12 custom-card-body">
                <div class="tab-pane active" id="inventory">
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>product name</th>
                                <th>product name</th>
                                <th>latest retail price</th>
                                <th>stock quantity</th>
                                <th>reorder level</th>
                                <th>orde quantity</th>
                                <th>update</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                                <td>
                                    <div class="inventory_actions"><a href="javascript:;" class="setting-button"></a>
                                        <div class="tool-tip_popup">
                                            <a href="javascript:;">Stock Details</a>
                                            <a href="javascript:;">Edit Product Details</a>
                                            <a href="javascript:;">Edit Reorder Level</a>
                                            <a href="javascript:;">Make Inactive</a>
                                            <a href="javascript:;">Delete Inventory</a>    
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>14/04/2016</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                                <td>Outpatient</td>
                            </tr>
                            <tr>
                                <td>14/04/2016</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                                <td>Outpatient</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="encounter_history">
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>date</th>
                                <th>ID</th>
                                <th>type</th>
                                <th>chief / complaint</th>
                                <th>diagnosis</th>
                                <th>consultant</th>
                                <th>report</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                                <td>Outpatient</td>
                            </tr>
                            <tr>
                                <td>14/04/2016</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                                <td>Outpatient</td>
                            </tr>
                            <tr>
                                <td>14/04/2016</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                                <td>Outpatient</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="health_vitals">
                    <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Vitals</button>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>date/time</th>
                                <th>Temperature</th>
                                <th>bp</th>
                                <th>pulse</th>
                                <th>respiration</th>
                                <th>bmi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Consultation</td>
                                <td>Outpatient</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane" id="medications">
                    <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Medications</button>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>prescription</th>
                                <th>from date</th>
                                <th>to date</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="supplements">
                    <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Supplements</button>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>supplements</th>
                                <th>dosage</th>
                                <th>frequency</th>
                                <th>intake type</th>
                                <th>from date</th>
                                <th>to date</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="allergies">
                    <div class="pull-left header-checkboxes">
                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>No Know Drug Allergy</span>
                            </label>
                        </div>

                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>No Know Food Allergy</span>
                            </label>
                        </div>

                        <div class="checkbox checkbox-styled">
                            <label>
                                <input type="checkbox" value="">
                                <span>No Know Environmental Allergy</span>
                            </label>
                        </div>

                    </div>  <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Allergies</button>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>allergies</th>
                                <th>severity</th>
                                <th>observed on</th>
                                <th>status</th>
                                <th>reactions</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>
                                    <a class="link-style" href="javascript:;">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="link-style" href="javascript:;">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>
                                    <a class="link-style" href="javascript:;">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="link-style" href="javascript:;">Delete</a>
                                </td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                                <td>Eye Clinic</td>
                                <td>
                                    <a class="link-style" href="javascript:;">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                                    <a class="link-style" href="javascript:;">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="tab-pane" id="documents">
                    <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add documents</button>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>date</th>
                                <th>type</th>
                                <th>title</th>
                                <th>notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                            </tr>
                            <tr>
                                <td>14/04/2016 12:00:32</td>
                                <td>90189191</td>
                                <td>ABc</td>
                                <td>Eye Clinic</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>