<div id="content">
    <section>
        <div class="card">
            <div class="table-header col-lg-12">
                <div class="col-lg-12 no-padding">
                    <span class="txt-style-3 pull-left text-uppercase">lab orders</span>
                    <div class="col-lg-2 pull-right no-margin">
                        <select class="form-control">
                            <option>Group By</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field search_field_big" type="text" placeholder="Search with patient order by patient name or id">
                    </div>
                </div> 
            </div>
            <div class="card-body col-lg-12">
                <div class="pull-left margin-top-10">
                    <a class="link-style_2" href="javascript:;">open orders</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="link-style_2" href="javascript:;">in progress</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="link-style_2" href="javascript:;">closed orders</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="link-style_2" href="javascript:;">canceled orders</a>
                </div>
                <div class="icons_con"> 
                    <button class="print button-custom">print order label</button>
                    <button data-toggle="modal" data-target="#neworder" class="new_order button-custom">new order</button>
                    <button class="update button-custom">update status</button>
                    <button class="add-result button-custom">add result</button>
                    <button data-toggle="modal" data-target="#cancelOrder2" class="report button-custom">view report</button>
                    <button data-toggle="modal" data-target="#cancelOrder" class="add button-custom">sign off</button>
                </div>
                <div class="col-lg-12 no-padding">
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th width='10px'></th>
                                <th>order no</th>
                                <th>patient id</th>
                                <th>patient name</th>
                                <th>lab test</th>
                                <th>lab</th>
                                <th>ordered by</th>
                                <th>priority</th>
                                <th>status</th>
                                <th>handling by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option1">
                                        </label>
                                    </div>
                                </td>
                                <td>OR5521</td>
                                <td>
                                    <div class="person-detail-box"><span>PA000214</span>
                                        <div class="bed-info person_info">
                                            <div class="col-lg-12">
                                                <span class="txt-style-4">Name</span>
                                                <span class="txt-style-3">Elton John Woods</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Sex</span>
                                                <span class="txt-style-3">Male</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Age</span>
                                                <span class="txt-style-3">24</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Id</span>
                                                <span class="txt-style-3 pull-left">PA000214</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Marital Status</span>
                                                <span class="txt-style-3 pull-left">Single</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>Elton John Woods</td>
                                <td>Blood Test</td>
                                <td>Lab 21</td>
                                <td>Dr. Smiths</td>
                                <td>Urgent</td>
                                <td>In Progress</td>
                                <td>Asst. John</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option1">
                                        </label>
                                    </div>
                                </td>
                                <td>OR5521</td>
                                <td><div class="person-detail-box"><span>PA000214</span>
                                        <div class="bed-info person_info">
                                            <div class="col-lg-12">
                                                <span class="txt-style-4">Name</span>
                                                <span class="txt-style-3">Elton John Woods</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <span class="txt-style-4">Sex</span>
                                                <span class="txt-style-3">Male</span>
                                            </div>
                                            <div class="col-lg-8">
                                                <span class="txt-style-4">DOB</span>
                                                <span class="txt-style-3">October 10, 1990</span>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="txt-style-4">Expected Discharge Date</span>
                                                <span class="txt-style-3 pull-left">May 15, 2016</span><span class="txt-style-3 pull-left">4:30 PM</span>
                                            </div>
                                        </div>
                                    </div></td>
                                <td>Elton John Woods</td>
                                <td>Blood Test</td>
                                <td>Lab 21</td>
                                <td>Dr. Smiths</td>
                                <td>Urgent</td>
                                <td>In Progress</td>
                                <td>Asst. John</td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option1">
                                        </label>
                                    </div>
                                </td>
                                <td>OR5521</td>
                                <td><div class="person-detail-box"><span>PA000214</span>
                                        <div class="bed-info person_info">
                                            <div class="col-lg-12">
                                                <span class="txt-style-4">Name</span>
                                                <span class="txt-style-3">Elton John Woods</span>
                                            </div>
                                            <div class="col-lg-4">
                                                <span class="txt-style-4">Sex</span>
                                                <span class="txt-style-3">Male</span>
                                            </div>
                                            <div class="col-lg-8">
                                                <span class="txt-style-4">DOB</span>
                                                <span class="txt-style-3">October 10, 1990</span>
                                            </div>
                                            <div class="col-lg-12">
                                                <span class="txt-style-4">Expected Discharge Date</span>
                                                <span class="txt-style-3 pull-left">May 15, 2016</span><span class="txt-style-3 pull-left">4:30 PM</span>
                                            </div>
                                        </div>
                                    </div></td>
                                <td>Elton John Woods</td>
                                <td>Blood Test</td>
                                <td>Lab 21</td>
                                <td>Dr. Smiths</td>
                                <td>Urgent</td>
                                <td>In Progress</td>
                                <td>Asst. John</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal fade big-modal" id="neworder" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header pop_head">
                                <h2>New Order</h2>
                            </div>
                            <div class="modal-body pull-left">
                                <form class="custom-form">
                                    <div class="col-lg-12">
                                        <div class="header-search col-lg-3">
                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <input class="search_field" type="text" placeholder="Search by  patient id or name" ng-model="PI.search">
                                        </div>
                                        <button type="button" class="btn btn-default button-style-1">Add</button>
                                    </div>

                                    <div class="col-lg-3">
                                        <label>order number</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="ID1234435656" disabled="" ng-model="PI.patient_ID" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>time order created</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="May 12, 2016 04:25 PM" disabled="" ng-model="PI.patient_ID" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>LAB</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control" ng-model="PI.hmo">                                
                                            <option>Select Lab</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3"><label></label></div>
                                    <div class="col-lg-3"><label></label></div>
                                    <div class="col-lg-3">
                                        <label>add lab test</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" class="form-control" placeholder="Type name or LOINIC code" ng-model="PI.policies"/>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>test cost</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="$124.55" disabled="" ng-model="PI.patient_ID" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>blood sample</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="optionsRadios" value="option1">
                                                <span>Blood</span>
                                            </label>
                                        </div>

                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="optionsRadios" value="option1">
                                                <span>Urine</span>
                                            </label>
                                        </div>

                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="optionsRadios" value="option1">
                                                <span>Stool</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="plus"><i class="md-add"></i></span>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>add notes</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="Write here..." ng-model="PI.description"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default button-style-1">create</button>
                                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="custom-form">
                            <div class="modal-content pull-left">
                                <div class="modal-header pop_head">
                                    <h2>Cancel Order</h2>
                                </div>
                                <div class="modal-body pull-left modal-body-2">
                                    <div class="col-lg-6">
                                        <span class="txt-style-4">Do you want to cancel the order?</span>
                                    </div>
                                    <div class="col-lg-3 radio-align">
                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="cancelOrder" value="option1">
                                                <span>Yes</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 radio-align">
                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="cancelOrder" value="option1" checked>
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Reason</label>
                                    </div>
                                    <div class="col-lg-6 select-con">
                                        <select class="form-control">
                                            <option>Select Reason</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="margin-bottom-xl">Note</label>
                                        <textarea placeholder="Write Here..."></textarea>
                                    </div>
                                    <div class="modal-footer col-lg-12 no-padding no-margin">
                                        <button type="button" class="btn btn-default button-style-1">Proceed</button>
                                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>

                            </div><!-- /.modal-content -->
                        </form>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div class="modal fade big-modal" id="cancelOrder2" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header pop_head">
                                <h2>New Order</h2>
                            </div>
                            <div class="modal-body pull-left">
                                <form class="custom-form">
                                    <div class="col-lg-12">
                                        <div class="header-search col-lg-3">
                                            <button type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <input class="search_field" type="text" placeholder="Search by  patient id or name" ng-model="PI.search">
                                        </div>
                                        <button type="button" class="btn btn-default button-style-1">Add</button>
                                    </div>

                                    <div class="col-lg-3">
                                        <label>lab order number</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="ID1234435656" disabled="" ng-model="PI.patient_ID" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>current status</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="text" placeholder="In Progress" disabled="" ng-model="PI.patient_ID" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Change Order Status</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="cancelOrder" value="option1">
                                                <span>Yes</span>
                                            </label>
                                        </div>
                                        <!--</div>-->
                                        <!--<div class="col-lg-3 radio-align">-->
                                        <div class="radio radio-styled">
                                            <label>
                                                <input type="radio" name="cancelOrder" value="option1" checked>
                                                <span>No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 form-wizard form-wizard-horizontal">
                                        <div class="form-wizard-nav">
                                            <div class="progress" style="width: 85%;"><div class="progress-bar progress-bar-primary" style="width: 40%;"></div></div>
                                            <ul class="nav nav-justified">
                                                <li class="done"><a href="javascript:;"><span class="step">1</span> <span class="title">paid</span></a></li>
                                                <li class="done"><a href="javascript:;"><span class="step">2</span> <span class="title">sample <br />collected</span></a></li>
                                                <li class="active"><a href="javascript:;"><span class="step">3</span> <span class="title">test in <br />progress</span></a></li>
                                                <li><a href="javascript:;"><span class="step">4</span> <span class="title">result <br />completed</span></a></li>
                                                <li><a href="javascript:;"><span class="step">5</span> <span class="title">signed</span></a></li>
                                                <li><a href="javascript:;"><span class="step">6</span> <span class="title">completed</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default button-style-1">create</button>
                                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

            </div><!--end .card-body -->
        </div><!--end .card -->



        <div id="menubar" class="menubar-inverse ">
            <div class="site_name">
                ERH
            </div>
            <div class="menubar-scroll-panel">

                <!-- BEGIN MAIN MENU -->
                <ul id="main-menu" class="gui-controls">

                    <!-- BEGIN DASHBOARD -->
                    <li>
                        <a href="../../html/dashboards/dashboard.html" >
                            <div class="gui-icon"><i class="md md-home"></i></div>
                            <span class="title">Dashboard</span>
                        </a>
                    </li><!--end /menu-li -->
                    <!-- END DASHBOARD -->

                    <!-- BEGIN EMAIL -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="md md-email"></i></div>
                            <span class="title">Email</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="../../html/mail/inbox.html" ><span class="title">Inbox</span></a></li>
                            <li><a href="../../html/mail/compose.html" ><span class="title">Compose</span></a></li>
                            <li><a href="../../html/mail/reply.html" ><span class="title">Reply</span></a></li>
                            <li><a href="../../html/mail/message.html" ><span class="title">View message</span></a></li>
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <!-- END EMAIL -->

                    <!-- BEGIN DASHBOARD -->
                    <li>
                        <a href="../../html/layouts/builder.html" >
                            <div class="gui-icon"><i class="md md-web"></i></div>
                            <span class="title">Layouts</span>
                        </a>
                    </li><!--end /menu-li -->
                    <!-- END DASHBOARD -->

                    <!-- BEGIN UI -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
                            <span class="title">UI elements</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="../../html/ui/colors.html" ><span class="title">Colors</span></a></li>
                            <li><a href="../../html/ui/typography.html" ><span class="title">Typography</span></a></li>
                            <li><a href="../../html/ui/cards.html" ><span class="title">Cards</span></a></li>
                            <li><a href="../../html/ui/buttons.html" ><span class="title">Buttons</span></a></li>
                            <li><a href="../../html/ui/lists.html" ><span class="title">Lists</span></a></li>
                            <li><a href="../../html/ui/tabs.html" class="active"><span class="title">Tabs</span></a></li>
                            <li><a href="../../html/ui/accordions.html" ><span class="title">Accordions</span></a></li>
                            <li><a href="../../html/ui/messages.html" ><span class="title">Messages</span></a></li>
                            <li><a href="../../html/ui/offcanvas.html" ><span class="title">Off-canvas</span></a></li>
                            <li><a href="../../html/ui/grid.html" ><span class="title">Grid</span></a></li>
                            <li class="gui-folder">
                                <a href="javascript:void(0);">
                                    <span class="title">Icons</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="../../html/ui/icons/materialicons.html" ><span class="title">Material Design Icons</span></a></li>
                                    <li><a href="../../html/ui/icons/fontawesome.html" ><span class="title">Font Awesome</span></a></li>
                                    <li><a href="../../html/ui/icons/glyphicons.html" ><span class="title">Glyphicons</span></a></li>
                                    <li><a href="../../html/ui/icons/skycons.html" ><span class="title">Skycons</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <!-- END UI -->

                    <!-- BEGIN TABLES -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="fa fa-table"></i></div>
                            <span class="title">Tables</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="../../html/tables/static.html" ><span class="title">Static Tables</span></a></li>
                            <li><a href="../../html/tables/dynamic.html" ><span class="title">Dynamic Tables</span></a></li>
                            <li><a href="../../html/tables/responsive.html" ><span class="title">Responsive Table</span></a></li>
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <!-- END TABLES -->

                    <!-- BEGIN FORMS -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                            <span class="title">Forms</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="../../html/forms/basic.html" ><span class="title">Form basic</span></a></li>
                            <li><a href="../../html/forms/advanced.html" ><span class="title">Form advanced</span></a></li>
                            <li><a href="../../html/forms/layouts.html" ><span class="title">Form layouts</span></a></li>
                            <li><a href="../../html/forms/editors.html" ><span class="title">Editors</span></a></li>
                            <li><a href="../../html/forms/validation.html" ><span class="title">Form validation</span></a></li>
                            <li><a href="../../html/forms/wizard.html" ><span class="title">Form wizard</span></a></li>
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <!-- END FORMS -->

                    <!-- BEGIN PAGES -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="md md-computer"></i></div>
                            <span class="title">Pages</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li class="gui-folder">
                                <a href="javascript:void(0);">
                                    <span class="title">Contacts</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="../../html/pages/contacts/search.html" ><span class="title">Search</span></a></li>
                                    <li><a href="../../html/pages/contacts/details.html" ><span class="title">Contact card</span></a></li>
                                    <li><a href="../../html/pages/contacts/add.html" ><span class="title">Insert contact</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                            <li class="gui-folder">
                                <a href="javascript:void(0);">
                                    <span class="title">Search</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="../../html/pages/search/results-text.html" ><span class="title">Results - Text</span></a></li>
                                    <li><a href="../../html/pages/search/results-text-image.html" ><span class="title">Results - Text and Image</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                            <li class="gui-folder">
                                <a href="javascript:void(0);">
                                    <span class="title">Blog</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="../../html/pages/blog/masonry.html" ><span class="title">Blog masonry</span></a></li>
                                    <li><a href="../../html/pages/blog/list.html" ><span class="title">Blog list</span></a></li>
                                    <li><a href="../../html/pages/blog/post.html" ><span class="title">Blog post</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                            <li class="gui-folder">
                                <a href="javascript:void(0);">
                                    <span class="title">Error pages</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="../../html/pages/404.html" ><span class="title">404 page</span></a></li>
                                    <li><a href="../../html/pages/500.html" ><span class="title">500 page</span></a></li>
                                </ul><!--end /submenu -->
                            </li><!--end /menu-li -->
                            <li><a href="../../html/pages/profile.html" ><span class="title">User profile<span class="badge style-accent">42</span></span></a></li>
                            <li><a href="../../html/pages/invoice.html" ><span class="title">Invoice</span></a></li>
                            <li><a href="../../html/pages/calendar.html" ><span class="title">Calendar</span></a></li>
                            <li><a href="../../html/pages/pricing.html" ><span class="title">Pricing</span></a></li>
                            <li><a href="../../html/pages/timeline.html" ><span class="title">Timeline</span></a></li>
                            <li><a href="../../html/pages/maps.html" ><span class="title">Maps</span></a></li>
                            <li><a href="../../html/pages/locked.html" ><span class="title">Lock screen</span></a></li>
                            <li><a href="../../html/pages/login.html" ><span class="title">Login</span></a></li>
                            <li><a href="../../html/pages/blank.html" ><span class="title">Blank page</span></a></li>
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <!-- END FORMS -->

                    <!-- BEGIN CHARTS -->
                    <li>
                        <a href="../../html/charts/charts.html" >
                            <div class="gui-icon"><i class="md md-assessment"></i></div>
                            <span class="title">Charts</span>
                        </a>
                    </li><!--end /menu-li -->
                    <!-- END CHARTS -->

                    <!-- BEGIN LEVELS -->
                    <li class="gui-folder">
                        <a>
                            <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                            <span class="title">Menu levels demo</span>
                        </a>
                        <!--start submenu -->
                        <ul>
                            <li><a href="#"><span class="title">Item 1</span></a></li>
                            <li><a href="#"><span class="title">Item 1</span></a></li>
                            <li class="gui-folder">
                                <a href="javascript:void(0);">
                                    <span class="title">Open level 2</span>
                                </a>
                                <!--start submenu -->
                                <ul>
                                    <li><a href="#"><span class="title">Item 2</span></a></li>
                                    <li class="gui-folder">
                                        <a href="javascript:void(0);">
                                            <span class="title">Open level 3</span>
                                        </a>
                                        <!--start submenu -->
                                        <ul>
                                            <li><a href="#"><span class="title">Item 3</span></a></li>
                                            <li><a href="#"><span class="title">Item 3</span></a></li>
                                            <li class="gui-folder">
                                                <a href="javascript:void(0);">
                                                    <span class="title">Open level 4</span>
                                                </a>
                                                <!--start submenu -->
                                                <ul>
                                                    <li><a href="#"><span class="title">Item 4</span></a></li>
                                                    <li class="gui-folder">
                                                        <a href="javascript:void(0);">
                                                            <span class="title">Open level 5</span>
                                                        </a>
                                                        <!--start submenu -->
                                                        <ul>
                                                            <li><a href="#"><span class="title">Item 5</span></a></li>
                                                            <li><a href="#"><span class="title">Item 5</span></a></li>
                                                        </ul><!--end /submenu -->
                                                    </li><!--end /submenu-li -->
                                                </ul><!--end /submenu -->
                                            </li><!--end /submenu-li -->
                                        </ul><!--end /submenu -->
                                    </li><!--end /submenu-li -->
                                </ul><!--end /submenu -->
                            </li><!--end /submenu-li -->
                        </ul><!--end /submenu -->
                    </li><!--end /menu-li -->
                    <!-- END LEVELS -->

                </ul><!--end .main-menu -->
                <!-- END MAIN MENU -->

                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
                    </small>
                </div>
            </div><!--end .menubar-scroll-panel-->
        </div><!--end #menubar-->
    </section>
</div>