<div id="content">
    <section>
        <div class="card {{dataStrip}}" ng-class="{true: 'custom-card'}[patientInfo]">
            <div class="card-head card-head-custom {{hospital_plan}}" ng-show="patientInfo">
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Encounter ID</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{EID}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.first_name}} {{displayInfo.last_name}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">PA-{{displayInfo.patient_id}}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">{{displayInfo.age}}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.sex}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.marital_status}}</span>
                </div>
                <div class="col-lg-2">
                    <a href="#/billing/{{PID}}" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:void(0);" ng-if="visitStatus == 0" data-target="#simpleModal1" data-toggle="modal" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="pull-left">
                    <span class="txt-style-3 pull-left text-uppercase">Encounter List</span>
                    <!-- <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field" type="text" ng-model="search" placeholder="Search for a patient">
                    </div> -->
                </div>
                <div class="create_counter">
                    <button type="button" ng-click="goToEncounter();" class="add button-custom pull-right open-custom_pop" ng-if="visitStatus == 1">Go To Encouter</button>
                    <button type="button" ng-click="openCreateEncounter();" class="add button-custom pull-right open-custom_pop" ng-hide="disabledEncounterButton" ng-if="visitStatus == 0">create encounter</button>
                    <button type="button" class="calendar button-custom pull-right" ng-hide="disabledEncounterButton">Create Appoinment</button>
                    <button type="button" data-toggle="modal" data-target="#neworder" class="microscope button-custom pull-right" ng-hide="disabledEncounterButton">Order Labs</button>
                    <div class="counter_pop custom_popup" ng-hide="closePopUp">
                        <div class="pop_head col-lg-12">
                            <h2 class="">Create New Encounter</h2> 
                        </div>
                        <div class="pop_body">
                            <div class="alert {{messageType}}" role="alert" ng-show="message">
                                <i class="{{errorSymbol}}"></i> {{errorMessage}}
                            </div>
                            <form class="custom-form" name="encounterForm" ng-model="myForm" novalidate ng-submit="validateEncounterForm(addEncounter);" >
                                <div class="col-lg-6">
                                    <label>clinic facility / Dept</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-class="{true: 'error'}[submitted && encounterForm.department.$invalid]" name="department" ng-model="addEncounter.department" placeholder="Select" required>
                                        <option value=""></option>
                                        <!-- <option value="1">1</option>
                                        <option value="2">2</option> -->
                                        <option ng-repeat="department in encountersDropdownData.departments" value="{{department.id}}">{{department.name}}</option>
                                    </select>
                                    <p class="help-block PIValid" ng-show="submitted && encounterForm.department.$error.required">Required</p>
                                </div>

                                <div class="col-lg-6">
                                    <label>encounter class</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-class="{true: 'error'}[submitted && encounterForm.class.$invalid]" name="class" ng-model="addEncounter.class" placeholder="Select" required>
                                        <option value=""></option>
                                        <!-- <option ng-repeat="class in eclass" value="{{class.id}}">{{class.name}}</option> -->
                                        <option value="Emergency">Emergency</option>
                                        <option value="Inpatient">Inpatient</option>
                                        <option value="Outpatient">Outpatient</option>
                                        <option value="Preadmit">Preadmit</option>
                                        <option value="Recurring patient">Recurring patient</option>
                                        <option value="Obstetrics">Obstetrics</option>
                                    </select>
                                    <p class="help-block PIValid" ng-show="submitted && encounterForm.class.$error.required">Required</p>
                                </div>

                                <div class="col-lg-6">
                                    <label>encounter type</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-class="{true: 'error'}[submitted && encounterForm.type.$invalid]" name="type" ng-model="addEncounter.type" placeholder="Select" required>
                                        <option value=""></option>
                                        <!-- <option ng-repeat="type in types" value="{{type.id}}">{{type.name}}</option> -->
                                        <option value="Consultation">Consultation</option>
                                        <option value="Surgical procedure">Surgical procedure</option>
                                        <option value="Followup visit">Followup visit</option>
                                        <option value="Rehabilitation">Rehabilitation</option>
                                    </select>
                                    <p class="help-block PIValid" ng-show="submitted && encounterForm.type.$error.required">Required</p>
                                </div>

                                <div class="col-lg-6">
                                    <label>whom to see</label>
                                </div>
                                <div class="col-lg-6">
                                    <select class="form-control" ng-class="{true: 'error'}[submitted && encounterForm.wts.$invalid]" name="wts" ng-model="addEncounter.wts" placeholder="Select whom to see" required>
                                        <option value=""></option>
                                        <option ng-repeat="wts in encountersDropdownData.doctors" value="{{wts.id}}">{{wts.name}}</option>
                                        <!-- <option value="1">1</option>
                                        <option value="2">2</option> -->
                                    </select>
                                    <p class="help-block PIValid" ng-show="submitted && encounterForm.wts.$error.required">Required</p>
                                </div> 
                                <div class="col-lg-6">
                                    <label>Describe whom to see</label>
                                </div>
                                <div class="col-lg-6">
                                    <textarea  ng-model="addEncounter.describeWTS"></textarea>
                                </div> 

                                <div class="col-lg-12">
                                <img src="assets/img/loader.gif" class="pull-right encounter-loader {{hideLoader}}"/>
                                    <div class="pull-right">
                                        <button type="submit" class="btn ink-reaction button-style-1" ng-click="submitted = true;" ng-disabled="submitted && encounterForm.$invalid">create encounter</button>
                                        <button type="button" class="btn ink-reaction button-style-1 button-style-1_a close_custom_pop" ng-click="closeAddEncounter();" ng-disabled="addEncounterBtn">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body col-lg-12">
                <div>
                    <input class="encounter-search-bar" ng-change="getSearchPatient(search);" type="text" ng-model="search" placeholder="Search for a patient">
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade big-modal" id="neworder" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header pop_head">
            <h2>New Order</h2>
        </div>
        <form class="custom-form" name="addForm" ng-model="myForm" novalidate ng-submit="testAdded && createOrder(Order);">
            <div class="modal-body pull-left">
                <div class="col-lg-12">
                    <select class="form-control select_searchFields" ng-model="Order.patient_id" placeholder="Select Patient" name="patient_id" ng-class="{true: 'error'}[submitted && addForm.patient_id.$invalid]" required>
                        <option value=""></option>
                        <option ng-repeat="patient in patients" value="{{ patient.id }}" ng-selected="Order.patient_id == patient.id">{{ patient.first_name + ' ' + patient.last_name }}</option>
                    </select>
                    <p class="help-block PIValid" ng-show="submitted && addForm.patient_id.$error.required">Required</p>
                </div>
                <div class="col-lg-2">
                    <label>time order created</label>
                </div>
                <div class="col-lg-4 margin-bottom-xxl">
                    <input type="text" placeholder="{{date | date:'MMM dd, yyyy hh:mm a'}}" disabled="" class="ng-pristine ng-untouched ng-valid ng-empty">
                </div>
                <div class="col-lg-2">
                    <label>LAB</label>
                </div>
                <div class="col-lg-4">
                    <select class="form-control" ng-model="Order.selected_lab" ng-change="updateLabTests(Order.selected_lab)" placeholder="Select Lab" name="selected_lab" ng-class="{true: 'error'}[submitted && addForm.selected_lab.$invalid]" required>
                        <option value=""></option>
                        <option ng-repeat="lab in labs" value="{{ lab.id }}">{{ lab.name }}</option>
                    </select>
                    <p class="help-block PIValid" ng-show="submitted && addForm.selected_lab.$error.required">Required</p>
                </div>
                <div class="col-lg-3"><label></label></div>
                <div class="col-lg-3"><label></label></div>
                <div class="col-lg-2">
                    <label>add lab test</label>
                </div>
                <div class="col-lg-6">
                    <select class="form-control" id="lab_test" ng-model="Order.lab_test" placeholder="Search Lab Test" ng-options="labTest as labTest.name for labTest in labTests">
                    </select>
                </div>
                <div class="col-lg-3">
                    <select class="form-control" id="priority" ng-model="Order.priority" placeholder="Select Priority">
                        <option value=""></option>
                        <option>Urgent</option>
                        <option>Urgent</option>
                    </select>
                </div>
                <div class="col-lg-1">
                    <span class="plus" ng-click="addTest()"><i class="md-add"></i></span>
                </div>
                <div class="col-lg-12">
                    <p class="help-block PIValid" ng-show="submitted && !testAdded">Required</p>
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th>Test</th>
                                <th>Cost</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lab_test in lab_tests_td">
                                <td>{{ lab_test.name }}</td>
                                <td>${{ lab_test.cost }}</td>
                                <td>{{ lab_test.priority }}</td>
                            </tr>
                            <tr>
                                <td>TOTAL COST</td>
                                <td>${{ lab_test_total }}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2">
                    <label>Clinical Information</label>
                </div>
                <div class="col-lg-4">
                    <input type="text" class="form-control" placeholder="" ng-model="Order.clinical_information" name="clinical_information" ng-class="{true: 'error'}[submitted && addForm.clinical_information.$invalid]" required>
                </div>
                <div class="col-lg-2">
                    <label>Diagnosis</label>
                </div>
                <div class="col-lg-4 margin-bottom-xxl">
                    <input type="text" class="form-control" placeholder="" ng-model="Order.diagnosis" name="diagnosis" ng-class="{true: 'error'}[submitted && addForm.diagnosis.$invalid]" required>
                </div>
                <div class="col-lg-12">
                    <label>add notes</label>
                </div>
                <div class="col-lg-12">
                    <textarea placeholder="Write here..." ng-model="Order.notes" name="notes" ng-class="{true: 'error'}[submitted && addForm.notes.$invalid]" required></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="addformsubmission()">create</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="OrderBtn">Cancel</button>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
<div class="modal fade" id="simpleModal1" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-mid">
        <form class="custom-form" ng-submit="checkout(CO)">
            <div class="modal-content">
                <div class="modal-header pop_head">
                    <h2>Check Out Patient</h2>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 no-padding margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="Noappointment" checked>
                                <span>No Appointment</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="followUp" ng-model="CO.reason">
                                <span>Follow up</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="admitPatient" ng-model="CO.reason">
                                <span>Admit Patient</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="dead" ng-model="CO.reason">
                                <span>Dead</span>
                            </label>
                        </div>
                    </div>
                    <div class="checkout_patient_tab_con">
                        <div id="Noappointment" class="active">
                            <label class="margin-bottom-xl">Note</label>
                            <textarea placeholder="Write Here..." ng-model="CO.note"></textarea>
                        </div>
                        <div id="followUp" class="row">
                            <div class="col-lg-2">
                                <label>DATE</label>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group date select-date col-lg-12">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" placeholder="Select Date" ng-model="CO.date">
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label>Time</label>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group bootstrap-timepicker timepicker col-lg-12">
                                    <input type="text" class="form-control input-small timepicker" ng-model="CO.time">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="margin-bottom-xl">Note</label>
                                <textarea class="margin-bottom-lg" placeholder="Write Here..." ng-model="CO.note"></textarea>
                            </div>
                        </div>
                        <div id="admitPatient" class="row">
                            <div class="col-lg-12">
                                <span class="txt-style-4">Presenting Complaint: Captured from Clinical Note</span>
                            </div>
                            <div class="col-lg-3">
                                <label>to specialty</label>
                            </div>
                            <div class="col-lg-3 select-con">
                                <select class="form-control" ng-model="CO.CPN" placeholder="Clinic Progress Notes">
                                    <option value=""></option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label>admit to ward</label>
                            </div>
                            <div class="col-lg-3 select-con select-con_small">
                                <select class="form-control" ng-model="CO.ward" placeholder="Select Ward">
                                    <option value=""></option>
                                    <option>2</option>
                                    <option>3</option>
                                </select>
                                <a class="ward-button"></a>
                            </div>
                            <div class="col-lg-3">
                                <label>Admitted DATE</label>
                            </div>
                            <div class="col-lg-3">
                                <label class="txt-style-4">April 05, 2016</label>
                            </div>
                            <div class="col-lg-3">
                                <label>Estimated Discharge</label>
                            </div>
                            <div class="col-lg-3">
                                <div class="input-group bootstrap-timepicker timepicker col-lg-12">
                                    <input type="text" class="form-control input-small timepicker" ng-model="CO.discharge">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <label class="margin-bottom-xl">Note</label>
                                <textarea class="margin-bottom-lg" placeholder="Write Here..." ng-model="CO.note"></textarea>
                            </div>
                        </div>
                        <div id="dead" class="row">
                            <div class="col-lg-12">
                                <label class="margin-bottom-xl">Note</label>
                                <textarea class="margin-bottom-lg" placeholder="Write Here..." ng-model="CO.note"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer padding-right-0">
                        <button type="submit" class="btn btn-default button-style-1 padding11">Save & Close</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
