<div id="content" class="hidden-print">
    <section class="idCardPrint">
        <div class="card" ng-class='{true:"custom-card"}[patientInfo]'>
            <div class="card-head card-head-custom {{hospital_plan}}" ng-show="patientInfo">
                <!-- <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Encounter ID</label>
                    <span class="txt-style-2 col-lg-12 capitalize">E{{displayInfo.encounter_id}}</span>
                </div> -->
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.first_name}} {{displayInfo.last_name}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">P{{displayInfo.patient_id}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">{{displayInfo.age}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.sex}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.marital_status}}</span>
                </div>
                <div class="col-lg-2">
                    <a href="#/billing/{{patientID}}" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <!-- <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a> -->
                    <a href="javascript:;" class="button-style-2" ng-hide="ifEncounterID && ROLES.Patient_Status_CheckoutDischargeMoveRefer.update_right == '0'" data-target="#simpleModal1" data-toggle="modal" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="col-lg-8">
                    <span class="txt-style-3 pull-left text-uppercase">find patient</span>
                    <div class="col-lg-2">
                        <!---->
                        <select ng-model="filterType" class="form-control" placeholder="Select Search By" ng-change="findPatient();">
                            <option></option>
                            <option value="patients.id">ID</option>
                            <option value="first_name">First Name</option>
                            <option value="last_name">Last Name</option>
                            <option value="date_of_birth">Date of Birth</option>
                            <option value="phone_number">Phone Number</option>
                        </select>
                    </div>
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <!-- <input ng-model="search[filterType]" ng-disabled="disabledSearchBar" class="search_field" type="text" placeholder="Search for a patient" value=""> -->
                        <input ng-model="searchByColumns" ng-disabled="disabledSearchBar" class="search_field" type="text" placeholder="Search for a patient" value="" ng-change="patientSearch(searchByColumns, filterType);">
                    </div>
                </div>

                <button type="button" data-toggle="modal" data-target="#addpatient" class="btn ink-reaction button-style-1 button-style-1 pull-right" ng-disabled="idCardDisabledBtn">create patient id card</button><!-- href="{{importFileURL}}" -->
                <a href="{{importFileURL}}" download type="button" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10" ng-click="exportPatient();" ng-show="ROLES.Patient_Reports_ImportExport.update_right == 1">Export</a>
               <!--  <button type="button" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10" ng-click="exportPatient();">export</button> -->
               <!--  <button type="button" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10" ng-click="importPatient();" href="{{importFileURL}}">import</button> -->
                <button class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10" ngf-select="uploadFiles($files, $invalidFiles)" accept=".csv"  type="file" ng-show="ROLES.Patient_Reports_ImportExport.view_right == 1">Import</button>
            </div><!-- ngf-max-size="1MB" -->
            <div class="card-body col-lg-12">
                <div class="icons_con" ng-init="hideOptions = true;">
                    <a class="edit button-custom" href=""></a>
                    <a class="delete button-custom" href=""></a>
                    <a class="add button-custom" href=""></a>
                </div>
                <!-- <button class="add button-custom pull-right" ng-click="addPatientButton();">Add</button> -->
                <button class="edit button-custom pull-right" ng-hide="hideOptions" ng-click="updatePatientButton();">Update</button>
                <button class="delete button-custom pull-right" data-toggle="modal" data-target="#deleteModal" ng-hide="hideOptions">Delete</button>
                <div>
                <div class="col-lg-2">
                    <select ng-model="pageSizeDropdown" class="form-control" ng-change="selectBoxValue(pageSizeDropdown);" placeholder="Number of Record">
                        <option value=""></option>
                        <option value="{{num.id}}" ng-repeat="num in numberOfRecordsDropDown">{{num.name}}</option>
                        <!-- <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option> -->
                    </select>
                </div>
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th width="5px"></th>
                                <th><a href="javascript:void(0);" class="pull-right" ng-click="sortingByPID()"><i class="fa {{sortingWard}}" aria-hidden="true"></i></a>patient id</th>
                                <th><a href="javascript:void(0);" class="pull-right" ng-click="sortingBySpeciality()"><i class="fa {{sortingSpeciality}}" aria-hidden="true"></i></a> first name</th>
                                <th><a href="javascript:void(0);" class="pull-right" ng-click="sortingByBeds()"><i class="fa {{sortingBeds}}" aria-hidden="true"></i></a> last name</th>
                                <th>date of birth</th>
                                <th>phone number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patientList in patientLists | orderBy:sortOrder">
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="action" ng-click="patientSelected(patientList.id);">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td><a class="blue" href="#/patient-summary-demographics/{{patientList.id}}">P{{patientList.id}}</a></td>
                                <td>{{patientList.first_name}}</td>
                                <td>{{patientList.last_name}}</td>
                                <td>{{patientList.date_of_birth}}</td>
                                <td>{{patientList.phone_number}}</td>
                            </tr>
                        </tbody>
                        
                        </tfoot>
                    </table>
                    <!--                    <div class="pagination pagination-centered pull-right" ng-show="patientCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>-->
                    <div class="pagination pagination-centered pull-right" ng-show="patientCount && !selectBox">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                            <li class="next-page">
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>
                    <div class="pagination pagination-centered pull-right" ng-show="patientCount && selectBox">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                            <li class="next-page">
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_1" id="addpatient" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Print ID Card</h2>
            </div>
            <div class="modal-body">
                <div class="page-break"></div>
                <div class="id_card">
                    <h2>HOSPITAL LOGO</h2>
                    <img class="id_card_img" src="{{PI.patient_image == '' || PI.patient_image == undefined ? 'assets/img/imgpsh_fullsize.jpeg' : PI.displayImage}}"/>
                    <!-- <img class="id_card_img" src="assets/img/idcard_img.jpg" /> -->
                    <div class="col-lg-8 idCardInfo">
                        <label class="col-lg-12">Patient</label>
                        <span class="col-lg-12 patinetcard_name">{{displayInfo.first_name}}</span>

                        <div class="row">
                            <label class="col-lg-6">Patient ID</label>
                            <span class="col-lg-6">P{{patientID}}</span>
                        </div>
                        <label class="col-lg-6">Date of Birth</label>
                        <span class="col-lg-6">{{displayInfo.date_of_birth}}</span>
                    </div>
                    <div class="col-lg-4 space">
                        <label class="col-lg-6">Gender</label>
                        <span class="col-lg-6 capitalize">{{displayInfo.sex}}</span>
                    </div>
                    <img class="barCode" src="{{displayInfo.barcode}}"/>
                </div>
                <div class="page-break2"></div>
            </div>
            <div class="modal-footer">
                <button type="button" ng-hide="ROLES.Patient_Reports_ImportExport.update_right == '0' || ROLES.Patient_Reports_ImportExport.update_right == undefined" class="printIdCard btn btn-default button-style-1">Print</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="simpleModal1" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-mid">
        <form class="custom-form" ng-submit="checkout(CO)">
            <div class="modal-content">
                <div class="modal-header pop_head">
                    <h2>Check Out Patient</h2>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12 no-padding margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="Noappointment" checked>
                                <span>No Appointment</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="followUp" ng-model="CO.reason">
                                <span>Follow up</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="admitPatient" ng-model="CO.reason">
                                <span>Admit Patient</span>
                            </label>
                        </div>
                        <div class="radio radio-styled">
                            <label>
                                <input type="radio" name="checkoutpatient" value="dead" ng-model="CO.reason">
                                <span>Dead</span>
                            </label>
                        </div>
                    </div>
                    <div class="checkout_patient_tab_con">
                        <div id="Noappointment" class="active">
                            <label class="margin-bottom-xl">Note</label>
                            <textarea placeholder="Write Here..." ng-model="CO.note"></textarea>
                        </div>
                        <div id="followUp" class="row">
                            <div class="col-lg-2">
                                <label>DATE</label>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group date select-date col-lg-12">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" placeholder="Select Date" ng-model="CO.date">
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <label>Time</label>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group bootstrap-timepicker timepicker col-lg-12">
                                    <input type="text" class="form-control input-small timepicker" ng-model="CO.time">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="margin-bottom-xl">Note</label>
                                <textarea class="margin-bottom-lg" placeholder="Write Here..." ng-model="CO.note"></textarea>
                            </div>
                        </div>
                        <div id="admitPatient" class="row">
                            <div class="margin-bottom-xxl row">
                            <div class="col-lg-12">
                                <span class="txt-style-4">Presenting Complaint: Captured from Clinical Note</span>
                            </div>
                                </div>
                            <div class="margin-bottom-xxl row">
                            <!-- <div class="col-lg-3">
                                <label>to specialty</label>
                            </div>
                            <div class="col-lg-3 select-con">
                                <select class="form-control" ng-model="CO.CPN" placeholder="Clinic Progress Notes">
                                    <option value=""></option>
                                <option value="{{w.id}}" ng-repeat="w in encountersDropdownData.departments">{{w.name}}</option>
                                </select>
                            </div> -->
                            <div class="col-lg-3">
                                <label>admit to ward</label>
                            </div><!-- ng-class="{true: 'error'}[submitted && moveForm.ward.$invalid]"  -->
                            <div class="col-lg-3 select-con select-con_small">
                                <select class="form-control" name="ward" ng-change="wardSelected(CO.ward);" ng-model="CO.ward" placeholder="Select Ward">
                                <option value=""></option>
                                <option value="{{w.id}}" ng-repeat="w in wardDropdown">{{w.name}}</option>
                            </select>
                                <div class="ward-button-con" ng-hide="wardselect">
                                    <button class="ward-button" ng-click="showbeds();" type="button"></button>
                                    <div class="select-bed-dropdown" ng-hide="showBed">
                                        <div class="radio radio-styled" ng-repeat="beds in noOFBeds">
                                            <div class="radio radio-styled">
                                                <label>
                                                    <input type="radio" name="checked" ng-model="action" ng-click="bedSelected(beds.id);">
                                                    <span>{{beds.id}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="margin-bottom-xxl row">
                            <div class="col-lg-3">
                                <label>Admitted DATE</label>
                            </div>
                            <div class="col-lg-3">
                                <label class="txt-style-4">{{admittedDate}}</label>
                            </div>
                            <div class="col-lg-3">
                                <label>Estimated Discharge</label>
                            </div>
                            <div class="col-lg-3">
                                <!-- <div class="input-group bootstrap-timepicker timepicker col-lg-12">
                                    <input type="text" class="form-control input-small timepicker" ng-model="CO.discharge">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                </div> -->
                                <div class="input-group date select-date col-lg-12">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" placeholder="Select Date" ng-model="CO.discharge">
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                                </div>
                            <div class="margin-bottom-xxl row">
                            <div class="col-lg-12">
                                <label class="margin-bottom-xl">Note</label>
                                <textarea class="margin-bottom-lg" placeholder="Write Here..." ng-model="CO.note"></textarea>
                            </div>
                                </div>
                        </div>
                        <div id="dead" class="row">
                            <div class="col-lg-12">
                                <label class="margin-bottom-xl">Note</label>
                                <textarea class="margin-bottom-lg" placeholder="Write Here..." ng-model="CO.note"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer padding-right-0">
                        <button type="submit" class="btn btn-default button-style-1 padding11">Save & Close</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p>Do You Want To Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" ng-click="deletePatientButton();">Yes</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">No</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="completedModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Status</h2>
            </div>
            <div class="modal-body">
                <p>{{errorMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="noRecordFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Status</h2>
            </div>
            <div class="modal-body">
                <p>No Record Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Status</h2>
            </div>
            <div class="modal-body">
                <p>File has been Exported</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-style-1 button-style-1" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->