<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EHR</title>

        <!-- BEGIN META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="your,keywords">
        <meta name="description" content="Short explanation about this website">
        <!-- END META -->

        <!-- BEGIN STYLESHEETS -->
        <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/bootstrap.css?1422792965" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/materialadmin.css?1425466319" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/font-awesome.min.css?1422529194" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/material-design-iconic-font.min.css?1421434286" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/select2/select2.css?1424887856" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/multi-select/multi-select.css?1424887857" />
        <link type="text/css" rel="stylesheet" href="assets/css/theme-default/libs/bootstrap-datepicker/datepicker3.css?1424887858" />
        <link href="assets/css/theme-default/style.css" rel="stylesheet" type="text/css"/>
        <!-- END STYLESHEETS -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/js/libs/utils/html5shiv.js?1403934957"></script>
        <script type="text/javascript" src="assets/js/libs/utils/respond.min.js?1403934956"></script>
        <![endif]-->
    </head>
    <body class="menubar-hoverable header-fixed">
        <header id="header">
            <form action="post">
                <div class="headerbar">
                    <div class="headerbar-left">
                        <a href="javascript:;" class="white-btn"><img src="assets/img/add_person.png" /></a>
                        <a href="javascript:;" class="white-btn"><img src="assets/img/heart_plus.png" /></a>
                        <a href="javascript:;" class="white-btn"><img src="assets/img/content_icn.png" /></a>
                        <a href="javascript:;" class="white-btn"><img src="assets/img/report_icn.png" /></a>
                    </div>
                    <div class="headerbar-right">
                        <a class="margin-right-20" href="javascript:;"><img src="assets/img/emergency.png" /></a>
                        <div class="header-search margin-right-0">
                            <button type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                            <input class="search_field" type="text" placeholder="Search for a patient" />
                        </div> 
                    </div>
                </div>
            </form>
        </header>

        <div id="base">
            <div id="content">
                <section>
                    <div class="card custom-card">
                        <div class="card-head card-head-custom card-color-4">
                            <div class="col-lg-3">
                                <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                                <span class="txt-style-2 col-lg-12">Elbert Bloggs Woo</span>
                            </div>
                            <div class="col-lg-2">
                                <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                                <span class="txt-style-2 col-lg-12">PA-90189191</span>
                            </div>
                            <div class="col-lg-2">
                                <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                                <span class="txt-style-2 col-lg-12">39 Years</span>
                            </div>
                            <div class="col-lg-1">
                                <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                                <span class="txt-style-2 col-lg-12">Male</span>
                            </div>
                            <div class="col-lg-2">
                                <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                                <span class="txt-style-2 col-lg-12">Single</span>
                            </div>
                            <div class="col-lg-2">
                                <a href="javascript:;" class="button-style-2">
                                    <img src="assets/img/content_icn_blue.png" />
                                </a>
                                <a href="javascript:;" class="button-style-2">
                                    <img src="assets/img/assign_blue.png" />
                                </a>
                                <a href="javascript:;" class="button-style-2">
                                    <img src="assets/img/discharge_icn_blue.png" />
                                </a>                             
                            </div>
                        </div>
                        <div class="col-lg-3 pull-right no-padding">
                            <div class="panel-group custom-accordian" id="accordion3">
                                <div class="card panel">
                                    <div class="card-head card-head-sm" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-1">
                                        <header>Appointments</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div id="accordion3-1" class="collapse in">
                                        <div class="card-body custom-card-body"><p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
                                        </div>
                                    </div>
                                </div><!--end .panel -->
                                <div class="card panel">
                                    <div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-3">
                                        <header>Immunizations</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div id="accordion3-3" class="collapse">
                                        <div class="card-body"><p>Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Dicant vituperata consequuntur.</p>
                                        </div>
                                    </div>
                                </div><!--end .panel -->
                                <div class="card panel">
                                    <div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-2">
                                        <header>Active Problems</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div id="accordion3-2" class="collapse">
                                        <div class="card-body"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
                                            <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                                        </div>
                                    </div>
                                </div><!--end .panel -->

                                <div class="card panel">
                                    <div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-4">
                                        <header>Family & Social History</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div id="accordion3-4" class="collapse">
                                        <div class="card-body"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
                                            <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                                        </div>
                                    </div>
                                </div><!--end .panel -->

                                <div class="card panel">
                                    <div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-5">
                                        <header>Procedures & Hospitalization</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div id="accordion3-5" class="collapse">
                                        <div class="card-body"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
                                            <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                                        </div>
                                    </div>
                                </div><!--end .panel -->

                                <div class="card panel">
                                    <div class="card-head card-head-sm collapsed" data-toggle="collapse" data-parent="#accordion3" data-target="#accordion3-6">
                                        <header>Injections</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                        </div>
                                    </div>
                                    <div id="accordion3-6" class="collapse">
                                        <div class="card-body"><p>Duo semper accumsan ea, quidam convenire cum cu, oportere maiestatis incorrupte est eu. Soluta audiam timeam ius te, idque gubergren forensibus ad mel, persius urbanitas usu id. Civibus nostrum fabellas mea te, ne pri lucilius iudicabit. Ut cibo semper vituperatoribus vix, cum in error elitr. Vix molestiae intellegat omittantur an, nam cu modo ullum scriptorem.</p>
                                            <p>Quod option numquam vel in, et fuisset delicatissimi duo, qui ut animal noluisse erroribus. Ea eum veniam audire. Per at postea mediocritatem, vim numquam aliquid eu, in nam sale gubergren. Dicant vituperata consequuntur at sea, mazim commodo</p>
                                        </div>
                                    </div>
                                </div><!--end .panel -->
                            </div><!--end .panel-group -->
                        </div>
                        <div class="card-head col-lg-9 no-padding card-head-auto">
                            <ul class="nav nav-tabs nav-justified custom-tab custom-tab-with-header" data-toggle="tabs">
                                <li class="active"><a href="#demographics">demographics</a></li>
                                <li><a href="#encounter_history">encounters</a></li>
                                <li><a href="#health_vitals">vitals</a></li>
                                <li><a href="#medications">medications</a></li>
                                <li><a href="#supplements">supplements</a></li>
                                <li><a href="#allergies">allergies</a></li>
                                <li><a href="#documents">documents</a></li>
                            </ul>
                        </div><!--end .card-head -->
                        <div class="card-body tab-content col-lg-9 custom-card-body">
                            <div class="tab-pane active" id="demographics">
                                <form class="custom-form">
                                    <div class="col-lg-12 margin-bottom-xxl">
                                        <label class="label-style">Patient Summary</label>
                                    </div>
                                    <div class="patient_summary col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-2 text-center">
                                                <img src="assets/img/profile_pic.jpg" />
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="col-lg-12">
                                                    <label class="label-style-2">Elton John</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>date of birth</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">October 10 1981</label>
                                                </div>

                                                <div class="col-lg-3">
                                                    <label>patient id</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">90189191</label>
                                                </div>

                                                <div class="col-lg-3">
                                                    <label>age</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">35</label>
                                                </div>  

                                                <div class="col-lg-3">
                                                    <label>old patient id</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">Phone Number</label>
                                                </div>

                                                <div class="col-lg-3">
                                                    <label>Gender</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">Male</label>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 no-padding">
                                                <div class="col-lg-3">
                                                    <label>marital status</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">Married</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>religion</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">Islam</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>patient billing</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">Paid</label>
                                                </div>

                                                <div class="col-lg-3">
                                                    <label>next of kin</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">Will Bloggs</label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-12 no-padding">
                                                <div class="col-lg-3">
                                                    <label>mobile no</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">+1 555 555 5555</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>email</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">abc@xyz.com</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>address</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">ABC Street , XYZ Bulevard</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label>blood group</label>
                                                </div>
                                                <div class="col-lg-3">
                                                    <label class="txt-style-4">A+</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="encounter_history">
                                <table class="table table-striped no-margin table-custom table-custom_big">
                                    <thead>
                                        <tr>
                                            <th>date</th>
                                            <th>ID</th>
                                            <th>type</th>
                                            <th>chief / complaint</th>
                                            <th>diagnosis</th>
                                            <th>consultant</th>
                                            <th>report</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14/04/2016</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Consultation</td>
                                            <td>Outpatient</td>
                                            <td>Outpatient</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Consultation</td>
                                            <td>Outpatient</td>
                                            <td>Outpatient</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Consultation</td>
                                            <td>Outpatient</td>
                                            <td>Outpatient</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane" id="health_vitals">
                                <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Vitals</button>
                                <table class="table table-striped no-margin table-custom table-custom_big">
                                    <thead>
                                        <tr>
                                            <th>date/time</th>
                                            <th>Temperature</th>
                                            <th>bp</th>
                                            <th>pulse</th>
                                            <th>respiration</th>
                                            <th>bmi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Consultation</td>
                                            <td>Outpatient</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Consultation</td>
                                            <td>Outpatient</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Consultation</td>
                                            <td>Outpatient</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab-pane" id="medications">
                                <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Medications</button>
                                <table class="table table-striped no-margin table-custom table-custom_big">
                                    <thead>
                                        <tr>
                                            <th>prescription</th>
                                            <th>from date</th>
                                            <th>to date</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="supplements">
                                <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Supplements</button>
                                <table class="table table-striped no-margin table-custom table-custom_big">
                                    <thead>
                                        <tr>
                                            <th>supplements</th>
                                            <th>dosage</th>
                                            <th>frequency</th>
                                            <th>intake type</th>
                                            <th>from date</th>
                                            <th>to date</th>
                                            <th>status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="allergies">
                                <div class="pull-left header-checkboxes">
                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span>No Know Drug Allergy</span>
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span>No Know Food Allergy</span>
                                        </label>
                                    </div>

                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span>No Know Environmental Allergy</span>
                                        </label>
                                    </div>

                                </div>  <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add Allergies</button>
                                <table class="table table-striped no-margin table-custom table-custom_big">
                                    <thead>
                                        <tr>
                                            <th>allergies</th>
                                            <th>severity</th>
                                            <th>observed on</th>
                                            <th>status</th>
                                            <th>reactions</th>
                                            <th>actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>
                                                <a class="link-style" href="javascript:;">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                                                <a class="link-style" href="javascript:;">Delete</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>
                                                <a class="link-style" href="javascript:;">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                                                <a class="link-style" href="javascript:;">Delete</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                            <td>Eye Clinic</td>
                                            <td>
                                                <a class="link-style" href="javascript:;">Edit</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
                                                <a class="link-style" href="javascript:;">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div class="tab-pane" id="documents">
                                <button class="btn ink-reaction button-style-1 button-style-1 pull-right margin-bottom-xxl">Add documents</button>
                                <table class="table table-striped no-margin table-custom table-custom_big">
                                    <thead>
                                        <tr>
                                            <th>date</th>
                                            <th>type</th>
                                            <th>title</th>
                                            <th>notes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                        <tr>
                                            <td>14/04/2016 12:00:32</td>
                                            <td>90189191</td>
                                            <td>ABc</td>
                                            <td>Eye Clinic</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div><!--end .card-body -->
                    </div><!--end .card -->



                    <div id="menubar" class="menubar-inverse ">
                        <div class="site_name">
                            ERH
                        </div>
                        <div class="menubar-scroll-panel">

                            <!-- BEGIN MAIN MENU -->
                            <ul id="main-menu" class="gui-controls">

                                <!-- BEGIN DASHBOARD -->
                                <li>
                                    <a href="../../html/dashboards/dashboard.html" >
                                        <div class="gui-icon"><i class="md md-home"></i></div>
                                        <span class="title">Dashboard</span>
                                    </a>
                                </li><!--end /menu-li -->
                                <!-- END DASHBOARD -->

                                <!-- BEGIN EMAIL -->
                                <li class="gui-folder">
                                    <a>
                                        <div class="gui-icon"><i class="md md-email"></i></div>
                                        <span class="title">Email</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="../../html/mail/inbox.html" ><span class="title">Inbox</span></a></li>
                                        <li><a href="../../html/mail/compose.html" ><span class="title">Compose</span></a></li>
                                        <li><a href="../../html/mail/reply.html" ><span class="title">Reply</span></a></li>
                                        <li><a href="../../html/mail/message.html" ><span class="title">View message</span></a></li>
                                    </ul><!--end /submenu -->
                                </li><!--end /menu-li -->
                                <!-- END EMAIL -->

                                <!-- BEGIN DASHBOARD -->
                                <li>
                                    <a href="../../html/layouts/builder.html" >
                                        <div class="gui-icon"><i class="md md-web"></i></div>
                                        <span class="title">Layouts</span>
                                    </a>
                                </li><!--end /menu-li -->
                                <!-- END DASHBOARD -->

                                <!-- BEGIN UI -->
                                <li class="gui-folder">
                                    <a>
                                        <div class="gui-icon"><i class="fa fa-puzzle-piece fa-fw"></i></div>
                                        <span class="title">UI elements</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="../../html/ui/colors.html" ><span class="title">Colors</span></a></li>
                                        <li><a href="../../html/ui/typography.html" ><span class="title">Typography</span></a></li>
                                        <li><a href="../../html/ui/cards.html" ><span class="title">Cards</span></a></li>
                                        <li><a href="../../html/ui/buttons.html" ><span class="title">Buttons</span></a></li>
                                        <li><a href="../../html/ui/lists.html" ><span class="title">Lists</span></a></li>
                                        <li><a href="../../html/ui/tabs.html" class="active"><span class="title">Tabs</span></a></li>
                                        <li><a href="../../html/ui/accordions.html" ><span class="title">Accordions</span></a></li>
                                        <li><a href="../../html/ui/messages.html" ><span class="title">Messages</span></a></li>
                                        <li><a href="../../html/ui/offcanvas.html" ><span class="title">Off-canvas</span></a></li>
                                        <li><a href="../../html/ui/grid.html" ><span class="title">Grid</span></a></li>
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Icons</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="../../html/ui/icons/materialicons.html" ><span class="title">Material Design Icons</span></a></li>
                                                <li><a href="../../html/ui/icons/fontawesome.html" ><span class="title">Font Awesome</span></a></li>
                                                <li><a href="../../html/ui/icons/glyphicons.html" ><span class="title">Glyphicons</span></a></li>
                                                <li><a href="../../html/ui/icons/skycons.html" ><span class="title">Skycons</span></a></li>
                                            </ul><!--end /submenu -->
                                        </li><!--end /menu-li -->
                                    </ul><!--end /submenu -->
                                </li><!--end /menu-li -->
                                <!-- END UI -->

                                <!-- BEGIN TABLES -->
                                <li class="gui-folder">
                                    <a>
                                        <div class="gui-icon"><i class="fa fa-table"></i></div>
                                        <span class="title">Tables</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="../../html/tables/static.html" ><span class="title">Static Tables</span></a></li>
                                        <li><a href="../../html/tables/dynamic.html" ><span class="title">Dynamic Tables</span></a></li>
                                        <li><a href="../../html/tables/responsive.html" ><span class="title">Responsive Table</span></a></li>
                                    </ul><!--end /submenu -->
                                </li><!--end /menu-li -->
                                <!-- END TABLES -->

                                <!-- BEGIN FORMS -->
                                <li class="gui-folder">
                                    <a>
                                        <div class="gui-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                                        <span class="title">Forms</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="../../html/forms/basic.html" ><span class="title">Form basic</span></a></li>
                                        <li><a href="../../html/forms/advanced.html" ><span class="title">Form advanced</span></a></li>
                                        <li><a href="../../html/forms/layouts.html" ><span class="title">Form layouts</span></a></li>
                                        <li><a href="../../html/forms/editors.html" ><span class="title">Editors</span></a></li>
                                        <li><a href="../../html/forms/validation.html" ><span class="title">Form validation</span></a></li>
                                        <li><a href="../../html/forms/wizard.html" ><span class="title">Form wizard</span></a></li>
                                    </ul><!--end /submenu -->
                                </li><!--end /menu-li -->
                                <!-- END FORMS -->

                                <!-- BEGIN PAGES -->
                                <li class="gui-folder">
                                    <a>
                                        <div class="gui-icon"><i class="md md-computer"></i></div>
                                        <span class="title">Pages</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Contacts</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="../../html/pages/contacts/search.html" ><span class="title">Search</span></a></li>
                                                <li><a href="../../html/pages/contacts/details.html" ><span class="title">Contact card</span></a></li>
                                                <li><a href="../../html/pages/contacts/add.html" ><span class="title">Insert contact</span></a></li>
                                            </ul><!--end /submenu -->
                                        </li><!--end /menu-li -->
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Search</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="../../html/pages/search/results-text.html" ><span class="title">Results - Text</span></a></li>
                                                <li><a href="../../html/pages/search/results-text-image.html" ><span class="title">Results - Text and Image</span></a></li>
                                            </ul><!--end /submenu -->
                                        </li><!--end /menu-li -->
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Blog</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="../../html/pages/blog/masonry.html" ><span class="title">Blog masonry</span></a></li>
                                                <li><a href="../../html/pages/blog/list.html" ><span class="title">Blog list</span></a></li>
                                                <li><a href="../../html/pages/blog/post.html" ><span class="title">Blog post</span></a></li>
                                            </ul><!--end /submenu -->
                                        </li><!--end /menu-li -->
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Error pages</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="../../html/pages/404.html" ><span class="title">404 page</span></a></li>
                                                <li><a href="../../html/pages/500.html" ><span class="title">500 page</span></a></li>
                                            </ul><!--end /submenu -->
                                        </li><!--end /menu-li -->
                                        <li><a href="../../html/pages/profile.html" ><span class="title">User profile<span class="badge style-accent">42</span></span></a></li>
                                        <li><a href="../../html/pages/invoice.html" ><span class="title">Invoice</span></a></li>
                                        <li><a href="../../html/pages/calendar.html" ><span class="title">Calendar</span></a></li>
                                        <li><a href="../../html/pages/pricing.html" ><span class="title">Pricing</span></a></li>
                                        <li><a href="../../html/pages/timeline.html" ><span class="title">Timeline</span></a></li>
                                        <li><a href="../../html/pages/maps.html" ><span class="title">Maps</span></a></li>
                                        <li><a href="../../html/pages/locked.html" ><span class="title">Lock screen</span></a></li>
                                        <li><a href="../../html/pages/login.html" ><span class="title">Login</span></a></li>
                                        <li><a href="../../html/pages/blank.html" ><span class="title">Blank page</span></a></li>
                                    </ul><!--end /submenu -->
                                </li><!--end /menu-li -->
                                <!-- END FORMS -->

                                <!-- BEGIN CHARTS -->
                                <li>
                                    <a href="../../html/charts/charts.html" >
                                        <div class="gui-icon"><i class="md md-assessment"></i></div>
                                        <span class="title">Charts</span>
                                    </a>
                                </li><!--end /menu-li -->
                                <!-- END CHARTS -->

                                <!-- BEGIN LEVELS -->
                                <li class="gui-folder">
                                    <a>
                                        <div class="gui-icon"><i class="fa fa-folder-open fa-fw"></i></div>
                                        <span class="title">Menu levels demo</span>
                                    </a>
                                    <!--start submenu -->
                                    <ul>
                                        <li><a href="#"><span class="title">Item 1</span></a></li>
                                        <li><a href="#"><span class="title">Item 1</span></a></li>
                                        <li class="gui-folder">
                                            <a href="javascript:void(0);">
                                                <span class="title">Open level 2</span>
                                            </a>
                                            <!--start submenu -->
                                            <ul>
                                                <li><a href="#"><span class="title">Item 2</span></a></li>
                                                <li class="gui-folder">
                                                    <a href="javascript:void(0);">
                                                        <span class="title">Open level 3</span>
                                                    </a>
                                                    <!--start submenu -->
                                                    <ul>
                                                        <li><a href="#"><span class="title">Item 3</span></a></li>
                                                        <li><a href="#"><span class="title">Item 3</span></a></li>
                                                        <li class="gui-folder">
                                                            <a href="javascript:void(0);">
                                                                <span class="title">Open level 4</span>
                                                            </a>
                                                            <!--start submenu -->
                                                            <ul>
                                                                <li><a href="#"><span class="title">Item 4</span></a></li>
                                                                <li class="gui-folder">
                                                                    <a href="javascript:void(0);">
                                                                        <span class="title">Open level 5</span>
                                                                    </a>
                                                                    <!--start submenu -->
                                                                    <ul>
                                                                        <li><a href="#"><span class="title">Item 5</span></a></li>
                                                                        <li><a href="#"><span class="title">Item 5</span></a></li>
                                                                    </ul><!--end /submenu -->
                                                                </li><!--end /submenu-li -->
                                                            </ul><!--end /submenu -->
                                                        </li><!--end /submenu-li -->
                                                    </ul><!--end /submenu -->
                                                </li><!--end /submenu-li -->
                                            </ul><!--end /submenu -->
                                        </li><!--end /submenu-li -->
                                    </ul><!--end /submenu -->
                                </li><!--end /menu-li -->
                                <!-- END LEVELS -->

                            </ul><!--end .main-menu -->
                            <!-- END MAIN MENU -->

                            <div class="menubar-foot-panel">
                                <small class="no-linebreak hidden-folded">
                                    <span class="opacity-75">Copyright &copy; 2014</span> <strong>CodeCovers</strong>
                                </small>
                            </div>
                        </div><!--end .menubar-scroll-panel-->
                    </div><!--end #menubar-->
                </section>
            </div>
        </div><!--end #base-->
        <!-- END BASE -->

        <!-- BEGIN JAVASCRIPT -->
        <script src="assets/js/libs/jquery/jquery-1.11.2.min.js"></script>
        <script src="assets/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
        <script src="assets/js/libs/bootstrap/bootstrap.min.js"></script>
        <script src="assets/js/libs/spin.js/spin.min.js"></script>
        <script src="assets/js/libs/autosize/jquery.autosize.min.js"></script>
        <script src="assets/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>
        <script src="assets/js/core/source/App.js"></script>
        <script src="assets/js/core/source/AppNavigation.js"></script>
        <script src="assets/js/core/source/AppOffcanvas.js"></script>
        <script src="assets/js/core/source/AppCard.js"></script>
        <script src="assets/js/core/source/AppForm.js"></script>
        <script src="assets/js/core/source/AppNavSearch.js"></script>
        <script src="assets/js/core/source/AppVendor.js"></script>
        <script src="assets/js/core/demo/Demo.js"></script>
        <script src="assets/js/core/source/script.js" type="text/javascript"></script>
        <script src="assets/js/libs/select2/select2.min.js" type="text/javascript"></script>
        <script src="assets/js/libs/bootstrap-datepicker/bootstrap-datepicker.js"></script>
        <!-- END JAVASCRIPT -->
        <script>
            $(document).ready(function () {
                $('select').select2(
                        {
                            minimumResultsForSearch: Infinity
                        }
                );
            });
            $('#demo-date').datepicker({autoclose: true, todayHighlight: true});
        </script>

    </body>
</html>
