<div id="content">
    <section class="idCardPrint hidden-print">
        <div class="card" ng-class='{true:"custom-card"}[patientInfo]'>
            <div class="card-head card-head-custom card-color-3" ng-show="patientInfo">
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Encounter ID</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.encounter_id}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.first_name}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">PA-{{displayInfo.patient_id}}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">{{displayInfo.age}}</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.sex}}</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12 capitalize">{{displayInfo.marital_status}}</span>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="col-lg-8">
                    <span class="txt-style-3 pull-left text-uppercase">find patient</span>
                    <div class="col-lg-2">
                        <!---->
                        <select ng-model="filterType" class="form-control" placeholder="Select Search By">
                            <option></option>
                            <option value="id">Patient ID</option>
                            <option value="first_name">Patient Name</option>
                            <option value="last_name">Last Name</option>
                            <option value="date_of_birth">Date of Birth</option>
                            <option value="phone_number">Phone Number</option>
                        </select>
                    </div>
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input ng-model="search[filterType]" class="search_field" type="text" placeholder="Search for a patient" value="">
                    </div>
                </div> 

                <button type="button" data-toggle="modal" data-target="#addpatient" class="btn ink-reaction button-style-1 button-style-1 pull-right" ng-disabled="idCardDisabledBtn">create patient id card</button>
                <button type="button" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10">export</button>
                <button type="button" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-10">import</button>
            </div>
            <div class="card-body col-lg-12">
                <div class="icons_con">
                    <a class="edit button-custom" href=""></a>
                    <a class="delete button-custom" href=""></a>
                    <a class="add button-custom" href=""></a>
                </div>
                <div>
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th width="5px"></th>
                                <th>patient id</th>
                                <th>first name</th>
                                <th>last name</th>
                                <th>date of birth</th>
                                <th>phone number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patientList in patientLists.slice(begin, end)| filter: search">
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="action" ng-click="patientSelected(patientList.id);">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{patientList.id}}</td>
                                <td>{{patientList.first_name}}</td>
                                <td>{{patientList.last_name}}</td>
                                <td>{{patientList.date_of_birth}}</td>
                                <td>{{patientList.phone_number}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination data-ng-model="currentPage" total-items="patientLists.length" items-per-page="numPerPage" data-max-size="maxSize" data-boundary-links="true" ng-init="begin = (currentPage - 1) * numPerPage;
                                    end = begin + numPerPage" data-ng-change="begin = (currentPage - 1) * numPerPage;
                                                    end = begin + numPerPage"></pagination>
                </div>


            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade" id="addpatient" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Print ID Card</h2>
            </div>
            <div class="modal-body">
                <div class="id_card">
                    <div>
                        <h2>HOSPITAL LOGO</h2>
                        <img class="id_card_img" src="assets/img/idcard_img.jpg" />
                        <div class="col-lg-8 idCardInfo">
                            <label class="col-lg-12">Patient</label>
                            <span class="col-lg-12 patinetcard_name">{{displayInfo.first_name}}</span>

                            <div class="row">
                                <label class="col-lg-6">Patient ID</label>
                                <span class="col-lg-6">{{patientID}}</span>
                            </div>

                            <label class="col-lg-6">Date of Birth</label>
                            <span class="col-lg-6">{{displayInfo.date_of_birth}}</span>
                        </div>
                        <div class="col-lg-4 space">
                            <label class="col-lg-6">Gender</label>
                            <span class="col-lg-6">{{displayInfo.sex}}</span>
                        </div>

                    </div>
                    <img class="barCode" src="assets/img/bar_code_idCard.jpg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="printIdCard btn btn-default button-style-1">Print</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->