<div id="content">
    <section>
        <div class="card custom-card no-padding">
            <div class="card-head">
                <ul class="nav nav-tabs nav-justified custom-tab" data-toggle="tabs">
                    <li class="active"><a showtab href="#info">patient information</a></li>
                    <li><a showtab href="#address">address</a></li>
                    <li><a showtab href="#kin">next of kin</a></li>
                    <li><a showtab href="#employer">employer</a></li>
                    <li><a showtab href="#plan">patient plan</a></li>
                    <li><a showtab href="#archive">archive</a></li>
                </ul>
            </div><!--end .card-head -->
            <div class="card-body tab-content">
                <div class="tab-pane active" id="info">
                    <form class="custom-form">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Patient ID</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" placeholder="ID1234435656" disabled ng-model="PI.patient_ID"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Unit Number</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Unit Numbers" ng-model="PI.patient_unit_number"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Full Name</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="First Name" ng-model="PI.first_name"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Middle Name" ng-model="PI.middle_name"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Last Name" ng-model="PI.last_name"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Date of birth</label>  
                            </div>
                            <div class="col-lg-3">
                                <!--<input type="text" placeholder="Pick Date" />-->
                                <div class="input-group date select-date">
                                    <div class="input-group-content">
                                        <input type="text" class="form-control" ng-model="PI.date_of_birth">
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Age" ng-model="PI.age"/>
                            </div>
                            <div class="col-lg-3">
                                <!--<input type="text" placeholder="Upload Photo" />-->
                                <div class="file-field">
                                    <div class="file-path-wrapper">
                                        <input class="file-path" type="text" ng-model="patient_picture" placeholder="Upload Image" id="csv">
                                    </div>
                                    <input type="file">
                                    <div class="btn">
                                        <span>Browse</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-lg-3">
                                    <label>Marital Status</label>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.maritial_status">
                                        <option value=null>Marital Status</option>
                                        <option ng-repeat="maritialStatus in dropDownData.maritial_status" value="{{maritialStatus.id}}">{{maritialStatus.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.religion">
                                        <option value=null>Religion</option>
                                        <option ng-repeat="religion in dropDownData.religion" value="{{religion.id}}">{{religion.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="col-lg-3">
                                    <label>Identity Number</label>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.identity_type">
                                        <option value=null>ID Type</option>
                                        <option ng-repeat="idType in dropDownInfo.IdType" value="{{idType.id}}">{{idType.type}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" numbers-only class="form-control" ng-model="PI.identity_number" placeholder="ID Number">
                                </div>
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.patient_state" ng-change="addressLocalGovtAreaByStates(PI.patient_origin, 1);">
                                    <option value="1">State of Origin</option>
                                    <!-- <option ng-repeat="state in stateOfOrigin" value="{{state.id}}">{{state.name}}</option> -->
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.patient_local_goverment_area">
                                    <option value="1">Local Government Area</option>
                                    <!-- <option ng-repeat="LGA in patientInfolocalGovtArea" value="{{LGA.id}}">{{LGA.name}}</option> -->
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only class="form-control" ng-model="PI.tribe" placeholder="Tribe"/>
                            </div>
                            <div class="row no-margin">
                                <div class="col-lg-3">
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.language">
                                        <option value="1">Language</option>
                                        <option ng-repeat="language in dropDownData.language" value="language.id">{{language.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.nationality">
                                        <option value=null>Nationality</option>
                                        <option ng-repeat="nationality in dropDownData.nationality" value="{{nationality.id}}">{{nationality.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.blood_group">
                                        <option value=null>Blood Group</option>
                                        <option ng-repeat="bloodGroup in dropDownData.blood_group" value="{{bloodGroup.id}}">{{bloodGroup.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <label>Father’s Name</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="First Name" ng-model="PI.father_firstname"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Middle Name" ng-model="PI.father_middlename"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Last Name" ng-model="PI.father_lastname"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Mother’s Name</label>
                            </div>
                            <div class="col-lg-3">

                                <input type="text" alphabets-only placeholder="First Name" ng-model="PI.mother_firstname"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Middle Name" ng-model="PI.mother_middlename"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Last Name" ng-model="PI.mother_lastname"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Referred</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Name" ng-model="PI.refered_name"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="address">
                    <form class="custom-form">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="label-style">Contact Address</label>
                            </div>
                            <div class="col-lg-3">
                                <label>contact</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Phone Number" ng-click="submit(PI);" ng-model="PI.phone_number"/> 
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Mobile Number" ng-model="PI.mobile_number"/> 
                            </div>
                            <div class="col-lg-3">
                                <input type="text" placeholder="Email" ng-model="PI.patient_email"/> 
                            </div>

                            <div class="col-lg-3">
                                <label>address</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" placeholder="House Number" ng-model="PI.house_number"/>
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Street" ng-model="PI.patient_street"/>
                            </div>
        
                            <div class="col-lg-3">
                                <label>Country/State</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.patient_country" ng-change="addressStateByCountry(PI.patient_country, 0);">
                                    <option value=null>Country</option>
                                    <option ng-repeat="country in contactAddressCountries" value="{{country.id}}">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.patient_state" ng-change="addressLocalGovtAreaByStates(PI.patient_state, 0);">
                                    <option value=null>State</option>
                                    <option ng-repeat="state in contactAddressStates" value="{{state.id}}">{{state.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.local_goverment_area">
                                    <option value=null>Local Government Area</option>
                                    <option ng-repeat="LGA in addresslocalGovtArea" value="{{LGA.id}}">{{LGA.name}}</option>
                                </select>
                            </div>
                            
                            <div class="col-lg-3">
                                <label>City</label>  
                            </div>
                            
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.patient_city">
                                    <option value=null>City</option>
                                    <option ng-repeat="city in addressContactCities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Post Code" ng-model="PI.patient_postal_code"/> 
                            </div>
            
                            <div class="col-lg-3">
                                <label></label>
                            </div>

                            <div class="row no-margin">
                                <div class="col-lg-3"><label class="label-style">Permanent Address</label></div>
                                <div class="col-lg-3">
                                    <div class="checkbox checkbox-styled">
                                        <label>
                                            <input type="checkbox" ng-change="isChecked(sameAsAbove);" ng-model="sameAsAbove">
                                            <span>Same As Above</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-margin hidePermanentAddress">
                                <div class="col-lg-3">
                                    <label>contact</label>
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" numbers-only placeholder="Phone Number" ng-model="PI.permanent_phonenumber" ng-disabled="isDisabled"/> 
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" numbers-only placeholder="Mobile Number" ng-model="PI.permanent_mobilenumber" ng-disabled="isDisabled"/> 
                                </div>
                                <div class="col-lg-3">
                                    <input type="text" placeholder="Email" ng-model="PI.permanent_email" ng-disabled="isDisabled"/> 
                                </div>

                                <div class="col-lg-3">
                                    <label>address</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="House Number" ng-model="PI.permanent_housenumber" ng-disabled="isDisabled"/>
                                </div>
                                <div class="col-lg-3">
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="Street" ng-model="PI.permanent_street" ng-disabled="isDisabled"/>
                                </div>
                                <div class="col-lg-3">
                                    <label>Country/State</label>  
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.permanent_country" ng-change="addressStateByCountry(PI.permanent_country, 1);" ng-disabled="isDisabled">
                                        <option value=null>Country</option>
                                        <option ng-repeat="country in permanentAddressCountries" value="{{country.id}}">{{country.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.permanent_state" ng-change="addressLocalGovtAreaByStates(PI.permanent_state, 1);" ng-disabled="isDisabled">
                                        <option value=null>State</option>
                                        <option ng-repeat="states in permanentAddressStates" value="{{states.id}}">{{states.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label></label>  
                                </div>
                                <div class="col-lg-3">
                                    <label>City</label>
                                </div>
                                <div class="col-lg-3">
                                    <select class="form-control select_searchFields" ng-model="PI.permanent_city" ng-disabled="isDisabled">
                                        <option value=null>City</option>
                                        <option ng-repeat="city in addressPerminentCities" value="{{city.id}}">{{city.name}}</option>
                                    </select>
                                </div>
                                
                                <div class="col-lg-3">
                                    <input type="text" numbers-only placeholder="Post Code" ng-model="PI.permanent_postalCode" ng-disabled="isDisabled"/> 
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="kin">
                    <form class="custom-form">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Full Name</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="First Name" ng-model="PI.kin_fullname"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Middle Name" ng-model="PI.kin_middlename"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" alphabets-only placeholder="Last Name" ng-model="PI.kin_lastname"/>
                            </div>

                            <div class="col-lg-3">
                                <label>relationship</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.kin_relationship">
                                <option>Relationship</option>
                                <option ng-repeat="relation in dropDownInfo.relationship" value="{{relation.id}}">
                                {{relation.type}}</option>
                                    <!-- <option>Relationship</option>
                                    <option vaule="1">Brother</option>
                                    <option value="2">Father</option>
                                    <option value="3">Hansband</option>
                                    <option value="4">Mother</option>
                                    <option value="5">Sister</option>
                                    <option value="6">Wife</option> -->
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" alphabets-only placeholder="Others" ng-model="PI.others"/>
                            </div>
                            <div class="col-lg-3">
                                <label>contact numbers</label>  
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Phone Number" ng-model="PI.kin_phone_number"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Mobile Number" ng-model="PI.kin_mobile_number"/>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" placeholder="Email" ng-model="PI.kin_email"/>
                            </div>
                            <div class="col-lg-3">
                                <label>address</label>  
                            </div>
                            <div class="col-lg-9">
                                <input type="text" placeholder="House Number" ng-model="PI.kin_house_number"/>
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Street" ng-model="PI.kin_street"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Country/State</label>  
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.kin_country" ng-change="nextOfKinStateByCountry(PI.kin_country);">
                                    <option value=null>Country</option>
                                    <option ng-repeat="country in nextOfKinCountries" value="{{country.id}}">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.kin_state" ng-change="nextOfKinCityByStates(PI.kin_state)">
                                    <option value=null>State</option>
                                    <option ng-repeat="state in nextOfKinStates" value="{{state.id}}">{{state.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label></label>  
                            </div>
                            <div class="col-lg-3">
                                <label>City</label>  
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.kin_city">
                                    <option value=null>City</option>
                                    <option ng-repeat="city in nextOfKinCities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                            </div>
                            
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Post Code" ng-model="PI.kin_postal_code"/>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="employer">
                    <form class="custom-form">
                        <div class="row">
                            <div class="col-lg-3">
                                <label>Employer</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" alphabets-only placeholder="Employer Name" ng-model="PI.employer_name"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Occupation</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" alphabets-only placeholder="Add Occupation" ng-model="PI.employer_occupation"/>
                            </div>
                            <div class="col-lg-3">
                                <label>contact</label>
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Phone Number" ng-model="PI.employer_phone_number"/> 
                            </div>
                            <div class="col-lg-3">
                                <input type="text" numbers-only placeholder="Mobile Number" ng-model="PI.employer_mobile_number"/> 
                            </div>
                            <div class="col-lg-3">
                                <input type="text" placeholder="Email" ng-model="PI.employer_email"/> 
                            </div>

                            <div class="col-lg-3">
                                <label>address</label>
                            </div>
                            <div class="col-lg-9">
                                <input type="text" placeholder="House Number" ng-model="PI.employer_house_number"/>
                            </div>
                            <div class="col-lg-3">
                            </div>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Street" ng-model="PI.employer_street"/>
                            </div>
                            <div class="col-lg-3">
                                <label>Country/State</label>  
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.employer_country" ng-change="employerStateByCountry(PI.employer_country);">
                                    <option value=null>Country</option>
                                    <option ng-repeat="country in employerCountries" value="{{country.id}}">{{country.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.employer_state" ng-change="employerCityByStates(PI.employer_state);">
                                    <option value=null>State</option>
                                    <option ng-repeat="state in employerStates" value="{{state.id}}">{{state.name}}</option>
                                </select>
                            </div>
                            <div class="col-lg-3">
                                <label></label>  
                            </div>
                            <div class="col-lg-3">
                                <label>City</label>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-control select_searchFields" ng-model="PI.employer_city">
                                    <option value=null>City</option>
                                    <option ng-repeat="city in employerCities" value="{{city.id}}">{{city.name}}</option>
                                </select>
                            </div>
                            
                            
                            <div class="col-lg-3">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="plan">
                    <form class="custom-form">
                        <div class="col-lg-12 margin-bottom-xxl no-padding">
                            <label class="label-style">Patient Summary</label>
                        </div>
                        <div class="data-table">
                            <div class="column col-lg-6">
                                <div class="col-lg-6">
                                    <label>HMO</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="txt-style-4">Prepaid Medicare</label>
                                </div>
                            </div>
                            <div class="column col-lg-6">
                                <div class="col-lg-6">
                                    <label>Policies</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="txt-style-4">Private</label>
                                </div>
                            </div>
                            <div class="column col-lg-6">
                                <div class="col-lg-6">
                                    <label>Select Status</label>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkbox checkbox-styled col-lg-6">
                                        <label>
                                            <input type="checkbox" value="" ng-model="PI.principal_id">
                                            <span>Principal</span>
                                        </label>
                                    </div>
                                    <div class="checkbox checkbox-styled col-lg-6">
                                        <label>
                                            <input type="checkbox" value="" ng-model="PI.depandent_id">
                                            <span>Dependant</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-lg-6">
                                <div class="col-lg-6">
                                    <label>Insurance ID</label>
                                </div>
                                <div class="col-lg-6">
                                    <label class="txt-style-4">1234567998</label>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-custom margin-bottom-xxl">
                            <thead>
                                <tr>
                                    <th>patient id</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>PID0121415</td>
                                    <td>John</td>
                                </tr>
                                <tr>
                                    <td>PID0121415</td>
                                    <td>John</td>
                                </tr>
                                <tr>
                                    <td>PID0121415</td>
                                    <td>John</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-lg-12 margin-bottom-xxl">
                            <label class="label-style">Select Plan</label>
                        </div>
                        <div class="col-lg-12 radio-style-2-con">
                            <div class="radio radio-styled">
                                <label>
                                    <input type="radio" name="checkoutpatient" value="appointment" checked="" ng-model="PI.checkoutpatient">
                                    <span>Self</span>
                                </label>
                            </div>
                            <div class="radio radio-styled">
                                <label>
                                    <input type="radio" name="checkoutpatient" value="followup" ng-model="PI.checkoutpatient">
                                    <span>Company Cover</span>
                                </label>
                            </div>
                            <div class="radio radio-styled">
                                <label>
                                    <input type="radio" name="checkoutpatient" value="admit_patient" ng-model="PI.checkoutpatient">
                                    <span data-toggle="modal" data-target="#nhis">NHIS</span>
                                </label>
                            </div>
                            <div class="radio radio-styled">
                                <label>
                                    <input type="radio" name="checkoutpatient" value="dead" ng-model="PI.checkoutpatient">
                                    <span data-toggle="modal" data-target="#relationship">Relationship</span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="archive">
                    <div class="icons_con">
                        <a class="edit button-custom" href=""></a>
                        <a class="delete button-custom" href=""></a>
                        <a class="add button-custom" href=""></a>
                    </div>
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Type</th>
                                <th>Comment</th>
                                <th>Date Uploaded</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div><!--end .card-body -->
        </div><!--end .card -->

    </section>
</div>
<div class="modal fade big-modal" id="nhis" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>NHIS</h2>
            </div>
            <div class="modal-body pull-left">
                <form class="custom-form">
                    <div class="col-lg-3">
                        <label>HMO</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="PI.hmo">                                
                            <option>Select</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Policies</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="Select Policies" ng-model="PI.policies"/>
                    </div>
                    <div class="col-lg-3">
                        <label>Speciality</label>
                    </div>
                    <div class="col-lg-3 select-speciality">
                        <div class="checkbox checkbox-styled col-lg-6">
                            <label>
                                <input type="radio" name="select-speciality" value="principal" checked ng-model="PI.principal">
                                <span>Principal</span>
                            </label>
                        </div>
                        <div class="checkbox checkbox-styled col-lg-6">
                            <label>
                                <input type="radio" name="select-speciality" value="dependant" ng-model="PI.depandent">
                                <span>Dependant</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label>Insurance ID</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" numbers-only class="form-control" placeholder="06" ng-model="PI.insurance_id"/>
                    </div>
                    <div class="show-on-dependant">
                        <div class="col-lg-12">
                            <div class="header-search col-lg-4">
                                <button type="submit" ng-click="submit();">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Type patient id or name" ng-model="PI.search">
                            </div>
                            <button type="button" class="btn btn-default button-style-1">add dependant</button>
                        </div>
                        <div class="col-lg-3">
                            <label>Dependant Relationship</label>
                        </div>

                        <div class="col-lg-3">
                            <select class="form-control" ng-model="PI.dependant_relationship">
                            <option>Relationship</option>
                            <option ng-repeat="relation in dropDownInfo.relationship" value="{{relation.id}}">{{relation.type}}</option>                         
                                <!-- <option>Select Relationship</option>
                                <option>2</option>
                                <option>3</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="show-on-principal">
                        <div class="col-lg-12">
                            <div class="header-search col-lg-4">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Type patient id or name" ng-model="PI.search">
                            </div>
                            <button type="button" class="btn btn-default button-style-1">add Principal</button>
                        </div>
                        <div class="col-lg-3">
                            <label>Principal Relationship</label>
                        </div>

                        <div class="col-lg-3">
                            <select class="form-control" ng-model="PI.principal_relationship">
                            <option>Relationship</option>
                            <option ng-repeat="relation in dropDownInfo.relationship" value="{{relation.id}}">{{relation.type}}</option>
                                <!-- <option value="null">Select Relationship</option>
                                <option vaule="1">Brother</option>
                                <option value="2">Father</option>
                                <option value="3">Hansband</option>
                                <option value="4">Mother</option>
                                <option value="5">Sister</option>
                                <option value="6">Wife</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Description</label>
                    </div>
                    <div class="col-lg-12">
                        <textarea placeholder="Write here..." ng-model="PI.description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1">create</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade big-modal" id="relationship" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>NHIS</h2>
            </div>
            <div class="modal-body pull-left">
                <form class="custom-form">
                    <div class="col-lg-3">
                        <label>Relationship</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="PI.nhis_principal_relationship">
                            <option>Relationship</option>
                            <option ng-repeat="relation in dropDownInfo.relationship" value="{{relation.id}}">{{relation.type}}</option>                    
                            <!-- <option>Select Relationship</option>
                            <option vaule="1">Brother</option>
                            <option value="2">Father</option>
                            <option value="3">Hansband</option>
                            <option value="4">Mother</option>
                            <option value="5">Sister</option>
                            <option value="6">Wife</option> -->
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Category</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" ng-model="PI.nhis_category">                                
                            <option>Select Category</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="col-lg-3">
                        <label>Speciality</label>
                    </div>
                    <div class="col-lg-3 select-speciality">
                        <div class="checkbox checkbox-styled col-lg-6">
                            <label>
                                <input type="radio" name="select-speciality" value="principal" checked>
                                <span>Principal</span>
                            </label>
                        </div>
                        <div class="checkbox checkbox-styled col-lg-6">
                            <label>
                                <input type="radio" name="select-speciality" value="dependant">
                                <span>Dependant</span>
                            </label>
                        </div>
                    </div>
<!--                    <div class="col-lg-3">
                        <label>Insurance ID</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="06" />
                    </div>-->
                    <div class="show-on-dependant">
                        <div class="col-lg-12">
                            <div class="header-search col-lg-4">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Type patient id or name" ng-model="PI.search">
                            </div>
                            <button type="button" class="btn btn-default button-style-1">add dependant</button>
                        </div>
                        <div class="col-lg-3">
                            <label>Dependant Relationship</label>
                        </div>

                        <div class="col-lg-3">
                            <select class="form-control" ng-model="PI.dependant_relationship">
                                <option>Relationship</option>
                                <option ng-repeat="relation in dropDownInfo.relationship" value="{{relation.id}}">{{relation.type}}</option>
                                <!-- <option>Select Relationship</option>
                                <option vaule="1">Brother</option>
                                <option value="2">Father</option>
                                <option value="3">Hansband</option>
                                <option value="4">Mother</option>
                                <option value="5">Sister</option>
                                <option value="6">Wife</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="show-on-principal">
                        <div class="col-lg-12">
                            <div class="header-search col-lg-4">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Type patient id or name" ng-model="PI.search">
                            </div>
                            <button type="button" class="btn btn-default button-style-1">add Principal</button>
                        </div>
                        <div class="col-lg-3">
                            <label>Principal Relationship</label>
                        </div>

                        <div class="col-lg-3">
                            <select class="form-control" ng-model="PI.principal_relationship">
                                <option>Relationship</option>
                                <option ng-repeat="relation in dropDownInfo.relationship" value="{{relation.id}}">{{relation.type}}</option>                         
                                <!-- <option>Select Relationship</option>
                                <option vaule="1">Brother</option>
                                <option value="2">Father</option>
                                <option value="3">Hansband</option>
                                <option value="4">Mother</option>
                                <option value="5">Sister</option>
                                <option value="6">Wife</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Description</label>
                    </div>
                    <div class="col-lg-12">
                        <textarea placeholder="Write here..." ng-model="PI.description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1">create</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal
