<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-3">
                <div class="col-lg-2 pull-right">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="pull-left">
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field search_field_big" type="text" placeholder="Enter patient name, id or encounter number">
                    </div>
                </div> 
                <button type="button" class="dispense_pharmacy button-custom pull-right">dispense pharmacy</button>
                <button type="button" class="update button-custom pull-right">update pharmacy</button>
                <button type="button" class="print button-custom pull-right">print prescription</button>
                <button class="notes button-custom pull-right" data-target="#viewPrescription" data-toggle="modal">view prescription</button>
            </div>
            <div class="card-body col-lg-12">
                <div>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th width="5px"></th>
                                <th>patient id</th>
                                <th>patient name</th>
                                <th>encounter id</th>
                                <th>patient plan</th>
                                <th>total cost</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios">
                                            <span></span>
                                        </label>
                                    </div></td>
                                <td>90288282</td>
                                <td><a class="link-style" href="javascript:;">Jane Doe</a></td>
                                <td><a class="link-style" href="javascript:;">292002020</a></td>
                                <td>General</td>
                                <td>8500</td>
                                <td>Complete</td>
                            </tr>
                            <tr>
                                <td><div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios">
                                            <span></span>
                                        </label>
                                    </div></td>
                                <td>90288282</td>
                                <td><a class="link-style" href="javascript:;">Jane Doe</a></td>
                                <td><a class="link-style" href="javascript:;">292002020</a></td>
                                <td>General</td>
                                <td>8500</td>
                                <td><div class="checkbox checkbox-styled checkbox-styled-table">
                                        <label>
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div></td>
                                <td>Complete</td>
                            </tr>
                            <tr>
                                <td><div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios">
                                            <span></span>
                                        </label>
                                    </div></td>
                                <td>90288282</td>
                                <td><a class="link-style" href="javascript:;">Jane Doe</a></td>
                                <td><a class="link-style" href="javascript:;">292002020</a></td>
                                <td>General</td>
                                <td>8500</td>
                                <td><div class="checkbox checkbox-styled checkbox-styled-table">
                                        <label>
                                            <input type="checkbox">
                                            <span></span>
                                        </label>
                                    </div></td>
                                <td>Complete</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>


<div class="modal fade big-modal" id="viewPrescription" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-lg-12 no-padding">
            <div class="modal-header pop_head">
                <h2>Prescription Summary</h2>
            </div>
            <div class="modal-body col-lg-12 modal-body-2 modal-body-2_a">
                <form class="custom-form">
                    <div class="col-lg-12">
                        <div class="icons_con pull-right no-margin"> 
                            <button class="print button-custom">print report</button>
                        </div>
                    </div>
                    <!--                                    <div class="patient_summary_2 label-style-con">
                                                            <div class="col-lg-12 margin-bottom-xxl">
                                                                <h2 class="pull-left">Hospital Logo</h2>
                                                                <h2 class="pull-right txt-style-5 hospital-pop-date">May 12, 2016</h2>
                                                            </div>
                                                            <div class="patient_summary col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-lg-2 text-center">
                                                                        <img src="assets/img/profile_pic.jpg" />
                                                                    </div>
                                                                    <div class="col-lg-10">
                                                                        <div class="col-lg-12">
                                                                            <label class="label-style-2">Elton John</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>patient id</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4">90189191</label>
                                                                        </div>
                    
                                                                        <div class="col-lg-3">
                                                                            <label>age</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4">35</label>
                                                                        </div>  
                    
                                                                        <div class="col-lg-3">
                                                                            <label>Gender</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4">Male</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Marital Status</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4">Single</label>
                                                                        </div>
                    
                                                                        <div class="col-lg-3">
                                                                            <label>date of birth</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4">October 10 1981</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-12 no-padding">
                                                                        <div class="col-lg-3">
                                                                            <label>Report Type</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4">Discharge Letter</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Department of Paediatrics</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4"><b>Direct Line</b>&nbsp;&nbsp;01942-2644170</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Fax Number</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label class="txt-style-4">01942-2644176</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Reciever</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">Dr. Foster, The GP Practice 999 Wigan Lane, WIGAN.</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Patient</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4">The House Street ST, Wetherfield,</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                    
                    
                                                                <div class="row">
                                                                    <div class="col-lg-12 no-padding">
                                                                        <div class="col-lg-3">
                                                                            <label>Admission Details</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">2/7 ago he was admittd with croup. He came back with fever, coryzeal symptoms anscongested tonsils. He was started on peniccline.</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Admission Date/ Time</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">24/03/2016 from Upper Johnsone Ward, RAEI</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Discharge Date</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">25/03/2016 from Upper Johnsone Ward, RAEI</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Discharge Consultant</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">DR RG Levy</label>
                                                                        </div>
                    
                                                                    </div>
                                                                </div>
                    
                    
                                                                <div class="row">
                                                                    <div class="col-lg-12 no-padding">
                                                                        <div class="col-lg-3">
                                                                            <label>Primary Diagnosis</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">Acute upper respiratory infection</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Secondary Diagnosis</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl"></label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Discharge Medication</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">Phenoxymethylpenicillin 125mg/5ml solution 7 day(s) supoly 125m</label>
                                                                        </div>
                                                                        <div class="col-lg-3">
                                                                            <label>Follow Up</label>
                                                                        </div>
                                                                        <div class="col-lg-9">
                                                                            <label class="txt-style-4 col-lg-12 no-padding margin-bottom-xl">No Follow Up</label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-6">
                                                                        <label class="txt-style-4 col-lg-12">ABC Hospital, XYZ Street, LMN Bulevard, AB 5432</label>
                                                                    </div>
                                                                    <div class="col-lg-6">
                                                                        <label class="txt-style-4 pull-right text-right">+1 555 555 5555</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                    
                                                        </div>-->
                </form>
            </div>
            <div class="modal-footer col-lg-12">
                <div class="pull-left">
                    <div class="checkbox checkbox-styled pull-left margin-right-20">
                        <label>
                            <input type="checkbox" value="">
                            <span>Notify Patient</span>
                        </label>
                    </div>
                    <div class="checkbox checkbox-styled pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <span>Notify Doctor</span>
                        </label>
                    </div>
                </div>
                <!--                                <div class="pull-right">
                                                    <button type="button" class="btn btn-default button-style-1">sign off</button>
                                                    <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">cancel report</button>
                                                </div>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->