<div id="content">
    <section>
        <div class="card">
            <div class="table-header col-lg-12">
                <div class="pull-left">
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field" type="text" placeholder="Search pharmacy">
                    </div>
                </div> 
                <button type="button" class="delete button-custom pull-right">remove Pharmacy</button>
                <button type="button" class="edit button-custom pull-right">UPDATE Pharmacy</button>
                <button class="add button-custom pull-right" data-target="#addPharmacy" data-toggle="modal">Add Pharmacy</button>
            </div>
            <div class="card-body col-lg-12">
                <div>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>pharmacy name</th>
                                <th>address</th>
                                <th>email</th>
                                <th>mobile</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="pharmacyList in pharmacyLists">
                                <td><a class="link-style" href="javascript:;">{{pharmacyList.name}}</a></td>
                                <td>{{pharmacyList.address_1}}</td>
                                <td>{{pharmacyList.email}}</td>
                                <td>{{pharmacyList.work_phone}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>

<div class="modal fade big-modal" id="addPharmacy" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Create Pharmacy</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>pharmacy name</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                        <div class="col-lg-3">
                            <label>Contact Person</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                        <div class="col-lg-3">
                            <label>Address Line 1</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>

                        <div class="col-lg-3">
                            <label>Email ID</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>

                        <div class="col-lg-3">
                            <label>Address Line 2</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>

                        <div class="col-lg-3">
                            <label>Work Phone</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>

                        <div class="col-lg-3">
                            <label>City</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>

                        <div class="col-lg-3">
                            <label>State</label>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control">
                                <option>Select State</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <label>Country</label>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control">
                                <option>Select Country</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <label>Post Code</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" placeholder="" name="" required/>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default button-style-1">Create</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->