<div id="content">
    <section>
        <div class="card">
            <div class="table-header col-lg-12">
                <div class="pull-left">
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field" type="text" placeholder="Search pharmacy" ng-model="search.name">
                    </div>
                </div>
                <button type="button" class="delete button-custom pull-right" ng-show="enableOptions" data-toggle="modal" data-target="#confirmation">remove Pharmacy</button>
                <button type="button" class="edit button-custom pull-right" ng-show="enableOptions" data-target="#editPharmacy" data-toggle="modal" ng-click="pharmacyDropdown();">UPDATE Pharmacy</button>
                <button class="add button-custom pull-right" data-target="#addPharmacy" data-toggle="modal">Add Pharmacy</button>
            </div>
            <div class="card-body col-lg-12">
                <div>
                <div class="col-lg-2 show-records">
                    <span>Show</span>
                    <select ng-model="pageSize" class="form-control" ng-change="selectBoxValue(pageSize);" placeholder="Number of Record">
                        <option value=""></option>
                        <option value="15" selected>15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                        <option value="50">50</option>
                    </select>
                    <span>Entries</span>
                </div>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th></th>
                                <th>pharmacy name</th>
                                <th>address</th>
                                <th>email</th>
                                <th>mobile</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="pharmacyList in pharmacyLists | filter: search">
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="action" ng-click="pharmacySelected(pharmacyList.id, $index);">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td><a class="link-style capitalize" href="#/pharmacy-prescription/{{pharmacyList.id}}">{{pharmacyList.name}}</a></td>
                                <td>{{pharmacyList.address_1}}</td>
                                <td>{{pharmacyList.email}}</td>
                                <td>{{pharmacyList.work_phone}}</td>
                            </tr>
                        </tbody>
                    </table>
<!--                    <div class="pagination pagination-centered" ng-show="pharmacyCount">
                         <div class="enterKey col-lg-1">
                            <input type="text" ng-model="pageNumber" numbers-only placeholder="Page Number"/>
                        </div> 
                        <ul class="pagination-controle pagination">
                            <li class="enterKey">
                                <input type="text" width="5px" ng-model="pageNumber" numbers-only placeholder="Page Number"/>
                            </li>
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"> &lt; PREV</button>
                            </li>
                            <li>
                              <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                              <li ng-repeat="n in [] | range:numberOfPages()">
                                <button type="button" ng-click="goToPage(pageSize, n)">
                                    {{n}}
                                </button>
                            </li> 
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);">NEXT &gt;</button>
                            </li>
                        </ul>
                    </div>-->

<div class="pagination pagination-centered pull-right" ng-show="pharmacyCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <!--<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>-->
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <!--<button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>-->
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>


                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<!-- ADD Pharmacy -->
<div class="modal fade modal-size_2" id="addPharmacy" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Create Pharmacy</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm1" ng-model="myForm" novalidate ng-submit="createPharmacy(pharmacyData);" class="custom-form">
                    <div class="row">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                        <div class="col-lg-3">
                            <label>pharmacy name</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.name.$invalid]"  name="name" required  ng-model="pharmacyData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm1.name.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Contact Person</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="contact_person" ng-class="{true: 'error'}[submitted && userForm1.contact_person.$invalid]"  ng-model="pharmacyData.contact_person"  alphabets-only  required/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.contact_person.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Address Line 1</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="address_1" ng-class="{true: 'error'}[submitted && userForm1.address_1.$invalid]" ng-model="pharmacyData.address_1"   required/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.address_1.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Email ID</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="email" placeholder="" name="email"  ng-pattern="emailFormat" ng-class="{true: 'error'}[submitted && userForm1.email.$invalid]" ng-model="pharmacyData.email"  required/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.email.$error.required">Required</p>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.email.$error.pattern">Invalid Format</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Address Line 2</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="address_2" ng-model="pharmacyData.address_2" required ng-class="{true: 'error'}[submitted && userForm1.address_2.$invalid]"/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.address_2.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Work Phone</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="work_phone" required ng-model="pharmacyData.work_phone" required ng-class="{true: 'error'}[submitted && userForm1.work_phone.$invalid]" numbers-only/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.work_phone.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Country</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <select class="form-control" name="countries"  ng-model="pharmacyData.countries" ng-change="addressStateByCountry(pharmacyData.countries);" placeholder="Select Country" required ng-class="{true: 'error'}[submitted && userForm1.countries.$invalid]">
                                <option value=""></option>
                                <option ng-repeat='country in countries' value='{{ country.id }}'>{{ country.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>State</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <select class="form-control" name="state" ng-model="pharmacyData.state" placeholder="Select State"  ng-change="addressCityByState(pharmacyData.state);" required ng-class="{true: 'error'}[submitted && userForm1.state.$invalid]">
                                <option value=""></option>
                                <option ng-repeat='state in states' value='{{ state.id }}'>{{ state.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>City</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <!-- <select class="form-control" name="city" ng-model="pharmacyData.city" placeholder="Select City" required ng-class="{true: 'error'}[submitted && userForm1.city.$invalid]">
                                <option value=""></option>
                                <option ng-repeat='city in cities' value='{{ city.id }}'>{{ city.name }}</option>
                            </select> -->
                            <input type="text" placeholder="" name="city" ng-model="pharmacyData.city" required ng-class="{true: 'error'}[submitted && userForm1.city.$invalid]"/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.city.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Post Code</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" numbers-only name="post_code" ng-model="pharmacyData.post_code" required ng-class="{true: 'error'}[submitted && userForm1.post_code.$invalid]"/>
                            <p class="help-block PIValid" ng-show="submitted && userForm1.post_code.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm1.$invalid">Create</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="addPharmacyBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- EDIT PHARMACY -->
<div class="modal fade modal-size_2" id="editPharmacy" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Edit Pharmacy</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm2" ng-model="myForm" novalidate ng-submit="updatePharmacy(pharmacyDataEdit);" class="custom-form">
                    <div class="row">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                        <div class="col-lg-3">
                            <label>pharmacy name</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm2.name.$invalid]"  name="name" required  ng-model="pharmacyDataEdit.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm2.name.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Contact Person</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="contact_person" ng-class="{true: 'error'}[submitted && userForm2.contact_person.$invalid]"  ng-model="pharmacyDataEdit.contact_person"  alphabets-only  required/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.contact_person.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Address Line 1</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="address_1" ng-class="{true: 'error'}[submitted && userForm2.address_1.$invalid]" ng-model="pharmacyDataEdit.address_1"   required/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.address_1.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Email ID</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="email" placeholder="" name="email"  ng-pattern="emailFormat" ng-class="{true: 'error'}[submitted && userForm2.email.$invalid]" ng-model="pharmacyDataEdit.email"  required/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.email.$error.required">Required</p>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.email.$error.pattern">Invalid Format</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Address Line 2</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="address_2" ng-model="pharmacyDataEdit.address_2" required ng-class="{true: 'error'}[submitted && userForm2.address_2.$invalid]"/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.address_2.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Work Phone</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="work_phone" required ng-model="pharmacyDataEdit.work_phone" required ng-class="{true: 'error'}[submitted && userForm2.work_phone.$invalid]" numbers-only/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.work_phone.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Country</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <select class="form-control" name="countries"  ng-model="pharmacyDataEdit.country" ng-change="addressStateByCountry(pharmacyDataEdit.country);" placeholder="Select Country" required ng-class="{true: 'error'}[submitted && userForm2.countries.$invalid]" my-drop-down>
                                <option value=""></option>
                                <option ng-repeat='country in countries' value='{{ country.id }}' ng-selected="pharmacyDataEdit.country == country.id">{{ country.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>State</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <select class="form-control" name="state" ng-model="pharmacyDataEdit.state" placeholder="Select State"  ng-change="addressCityByState(pharmacyDataEdit.state);" required ng-class="{true: 'error'}[submitted && userForm2.state.$invalid]" my-drop-down>
                                <option value=""></option>
                                <option ng-repeat='state in states' value='{{ state.id }}' ng-selected="state.id == pharmacyDataEdit.state">{{ state.name }}</option>
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>City</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <!-- <select class="form-control" name="city" ng-model="pharmacyDataEdit.city" placeholder="Select City" required ng-class="{true: 'error'}[submitted && userForm2.city.$invalid]" my-drop-down>
                                <option value=""></option>
                                <option ng-repeat='city in cities' value='{{ city.id }}' ng-selected="city.id == pharmacyDataEdit.city">{{ city.name }}</option>
                            </select> -->
                            <input type="text" placeholder="Select" name="city" ng-model="pharmacyDataEdit.city" required ng-class="{true: 'error'}[submitted && userForm2.city.$invalid]"/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.city.$error.required">Required</p>
                        </div>
                        <div class="col-lg-3">
                            <label>Post Code</label>
                        </div>
                        <div class="col-lg-3 margin-bottom-xxl">
                            <input type="text" placeholder="" name="post_code" ng-model="pharmacyDataEdit.post_code" required numbers-only ng-class="{true: 'error'}[submitted && userForm2.post_code.$invalid]"/>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.post_code.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm2.$invalid">Update</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="addPharmacyBtn">Cancel</button> 
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Do you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-toggle="modal" ng-click="removePharmacy();"  data-dismiss="modal">Ok</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="noResultFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Result</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">No Result Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->