<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-3">
                <div class="col-lg-2 pull-right">
                    <!-- <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>  -->                            
                </div>
            </div>
            <div class="table-header col-lg-12">
                <div class="pull-left">
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field search_field_big" ng-model="query" type="text" placeholder="Enter patient name, id or encounter number">
                    </div>
                </div>
                <div ng-hide="hideOptionsStrip">
                    
                   <!--  <button type="button" class="update button-custom pull-right">update pharmacy</button> -->
                    <!-- <button type="button" class="print button-custom pull-right">print prescription</button> -->
                    <button class="notes button-custom pull-right" ng-click="goToPrescription();">view prescription</button>
                </div>
            </div>
            <div class="card-body col-lg-12">
                <div>
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th width="5px"></th>
                                <th>patient id</th>
                                <th>patient name</th>
                                <th>encounter id</th>
                                <th>patient plan</th>
                                <th>total cost</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="allpharmacy in allPharmacies | filter:search">
                                <td><div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="optionsRadios" ng-model="action" ng-click="checkPrescription(allpharmacy.id, allpharmacy.visit_id, allpharmacy.patient_id);">
                                            <span></span>
                                        </label>
                                    </div></td>
                                <td><a class="blue" href="#/patient-summary-demographics/{{allpharmacy.patient_id}}">P{{allpharmacy.patient_id}}</a></td>
                                <td>{{allpharmacy.first_name}} {{allpharmacy.last_name}}</td>
                                <td>E{{allpharmacy.visit_id}}</td>
                                <td>{{allpharmacy.patient_plan}}</td>
                                <td>{{allpharmacy.total_amount}}</td>
                                <td>{{allpharmacy.prescription_status}}</td>
                            </tr>
                        </tbody>
                    </table>
<!--                    <div class="pagination pagination-centered" ng-show="pharmacyCount">
                        <ul class="pagination-controle pagination">
                            <li class="enterKey">
                                <input type="text" class="keyUpPharmacy" width="5px" ng-model="pageNumberPharmacy" numbers-only placeholder="Page Number"/>
                            </li>
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage = curPage-1; paginationPrev(pageSize, curPage);"> &lt; PREV</button>
                            </li>
                            <li>
                              <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);">NEXT &gt;</button>
                            </li>
                        </ul>
                    </div>-->

<div class="pagination pagination-centered pull-right" ng-show="pharmacyCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <!--<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>-->
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage = curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumberPharmacy" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <!--<button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>-->
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>

                    <!-- <pagination data-ng-model="currentPage" total-items="allPharmacies.length" items-per-page="numPerPage" data-max-size="maxSize" data-boundary-links="true" ng-init="begin = (currentPage - 1) * numPerPage; end = begin + numPerPage" data-ng-change="begin = (currentPage - 1) * numPerPage; end = begin + numPerPage">
                    </pagination> -->
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>


<div class="modal fade modal-size_3" id="viewPrescription" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content col-lg-12 no-padding">
            <div class="modal-header pop_head">
                <h2>Prescription Summary</h2>
            </div>
            <div class="modal-body col-lg-12 modal-body-2 modal-body-2_a">
                <form class="custom-form">
                    <div class="col-lg-12">
                        <div class="icons_con pull-right no-margin"> 
                            <button class="print button-custom">print report</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer col-lg-12">
                <div class="pull-left">
                    <div class="checkbox checkbox-styled pull-left margin-right-20">
                        <label>
                            <input type="checkbox" value="">
                            <span>Notify Patient</span>
                        </label>
                    </div>
                    <div class="checkbox checkbox-styled pull-left">
                        <label>
                            <input type="checkbox" value="">
                            <span>Notify Doctor</span>
                        </label>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="noResultFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Result</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">No Result Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->