<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-4">
                <div class="col-lg-3">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Name</label>
                    <span class="txt-style-2 col-lg-12">Elbert Bloggs Woo</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Patient Number</label>
                    <span class="txt-style-2 col-lg-12">PA-90189191</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">Age</label>
                    <span class="txt-style-2 col-lg-12">39 Years</span>
                </div>
                <div class="col-lg-1">
                    <label class="txt-style-1 text-uppercase col-lg-12">Sex</label>
                    <span class="txt-style-2 col-lg-12">Male</span>
                </div>
                <div class="col-lg-2">
                    <label class="txt-style-1 text-uppercase col-lg-12">marital status</label>
                    <span class="txt-style-2 col-lg-12">Single</span>
                </div>
                <div class="col-lg-2">
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/content_icn_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/assign_blue.png" />
                    </a>
                    <a href="javascript:;" class="button-style-2">
                        <img src="assets/img/discharge_icn_blue.png" />
                    </a>                             
                </div>
            </div>
            <div class="card-body col-lg-12 accordian-body-con">
                <div class="panel-group custom-accordian" id="accordion3">
                    <div class="card panel expanded">
                        <div class="card-head card-head-sm">
                            <header>prescription assessment</header>
                            <div class="pull-right accordian-header-info">
                                <label>Encounter Id</label>
                                <span>90288282</span>
                                <label>Date</label>
                                <span>April 05, 2015</span>
                                <label>Provider</label>
                                <span>Dr Joe Black</span> 
                            </div>                            
                        </div>
                        <div id="accordion3-1" class="collapse in">
                            <div class="card-body card-body">
                                <div class="col-lg-12 no-padding margin-bottom-30">
                                    <button type="button" class="notes button-custom pull-right" data-target="#prescription-query" data-toggle="modal">prescription query</button>
                                    <button type="button" class="print button-custom pull-right" data-target="#print-prescription" data-toggle="modal">print prescription</button>
                                    <button type="button" class="delete button-custom pull-right">remove prescription</button>
                                    <button type="button" ng-click="updateDispense()" class="update button-custom pull-right">update pharmacy</button>
                                    <button data-toggle="modal" data-target="#addmedication" class="add button-custom pull-right">add prescription</button>
                                </div>
                                <table class="table table-striped no-margin table-custom table-custom_big editable_table">
                                    <thead>
                                        <tr>
                                            <th width="5px"></th>
                                            <th>medication</th>
                                            <th>sig</th>
                                            <th>dispense</th>
                                            <th>refills</th>
                                            <th>total dispensed</th>
                                            <th>balance</th>
                                            <th>cost</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="PrescriptionView in PrescriptionViews">
                                            <td><div class="radio radio-styled">
                                                    <label>
                                                        <input ng-model="PrescriptionView.id" type="radio" name="optionsRadios">
                                                        <span></span>
                                                    </label>
                                                </div></td>
                                            <td><a class="link-style" href="javascript:;">{{PrescriptionView.medication}}</a></td>
                                            <td>{{PrescriptionView.sig}}</td>
                                            <td>{{PrescriptionView.dispense}}</td>
                                            <td>{{PrescriptionView.reffills}}</td>
                                            <td><input type="text" ng-keyup="calculateBalance(PrescriptionView.dispense, PrescriptionView.total_dispensed, $index)" ng-model="PrescriptionView.total_dispensed" value="15" disabled class="editDispensed" /></td>
                                            <td>{{PrescriptionView.balance}}</td>
                                            <td><span ng-if="PrescriptionView.total_dispensed != undefined && PrescriptionView.total_dispensed != ''">N{{PrescriptionView.cost * PrescriptionView.total_dispensed}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <form class="custom-form row margin-top-50">
                                    <div class="col-lg-6 no-padding">
                                        <div class="col-lg-12">
                                            <label>notes from physician</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea ng-model="Prescription.notes" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 no-padding">
                                        <div class="col-lg-12">
                                            <label>pharmacy note</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea ng-model="prescriptionPharmacyNotes" placeholder="We have run out of paracetamol"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 no-padding save_Pview_button">
                                        <button type="button" class="btn ink-reaction button-style-1 btn-big button-style-1_a pull-right patient-submit-btn">cancel</button>
                                        <button type="button" class="btn ink-reaction button-style-1 btn-big pull-right btn-default patient-submit-btn margin-right-10" ng-click="updatePharmacy()">save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!--end .panel -->
                </div><!--end .panel-group -->

            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>

<div class="modal fade" id="print-prescription" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Prescription Label</h2>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <div class="checkbox checkbox-styled pull-left margin-right-20">
                    <label>
                        <input type="checkbox" value="">
                        <span>Notify Patient</span>
                    </label>
                </div>
                <button type="button" class="btn btn-default button-style-1">Print</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<div class="modal fade big-modal" id="prescription-query" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="custom-form">
                <div class="modal-header pop_head">
                    <h2>Prescription Query</h2>
                </div>
                <div class="modal-body row">
                    <div class="col-lg-3">
                        <label>encounter id</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" value="9032542" disabled />
                    </div>

                    <div class="col-lg-3">
                        <label>prescription id</label>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" value="In Progress" disabled />
                    </div>

                    <div class="col-lg-3">
                        <label>Select Doctor</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control">
                            <option>Dr Joe Bloggs</option>
                            <option>Dr Bloggs Joe</option>
                        </select>
                    </div>

                    <div class="col-lg-12">
                        <label>Observation to doctor</label>
                    </div>
                    <div class="col-lg-12">
                        <textarea></textarea>
                    </div>
                    <div class="modal-footer row no-margin">
                        <div class="col-lg-12 no-padding">
                            <button type="button" class="btn btn-default button-style-1">Save</button>
                            <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>

            </form>
        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<div class="modal fade big-modal" id="addmedication" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Medication</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" novalidate ng-submit="savePharmacyPopUp()">
                    <div class="row">

                        <div class="col-lg-3">
                            <label>Medication</label>
                        </div>
                        <div class="col-lg-9">
                            <select ng-model="MedicationData.medication" class="form-control" placeholder="Select Medication">
                                <option></option>
                                <option ng-selected="MedicationData.medication == medicationDropData.name" value="{{medicationDropData.name}}" ng-repeat="medicationDropData in medicationDropDowns">{{medicationDropData.name}}</option>
                            </select>
                        </div>                                              

                        <div class="col-lg-3">
                            <label>SIG</label>
                        </div>
                        <div class="col-lg-8">
                            <input ng-model="MedicationData.sig" type="text" placeholder="" />
                        </div>
                        <div class="col-lg-1">
                            <!--open_sig-->
                            <a href="javascript:;" data-target="#addsig" data-toggle="modal" class="setting-button button-custom pull-right"></a>
                        </div>

                        <div class="col-lg-3">
                            <label>Dispense</label>
                        </div>
                        <div class="col-lg-3">
                            <input ng-model="MedicationData.dispense" type="text" placeholder="" />
                        </div>

                        <div class="col-lg-3">
                            <label>Refills</label>
                        </div>
                        <div class="col-lg-3">
                            <input ng-model="MedicationData.reffills" type="text" placeholder="" />
                        </div>

                        <div class="col-lg-3">
                            <label>Pharmacy</label>
                        </div>
                        <div class="col-lg-9">
                            <select ng-model="MedicationData.pharmacy" class="form-control" placeholder="Select Pharmacy">
                                <option></option>
                                <option ng-selected="MedicationData.pharmacy == pharmacyDataDrop.name" value="{{pharmacyDataDrop.name}}" ng-repeat="pharmacyDataDrop in pharmacyDataDropDown">{{pharmacyDataDrop.name}}</option>
                            </select>
                        </div>
                        <div class="col-lg-3 clear">
                            <label>Note Of Pharmacy</label>
                        </div>
                        <div class="col-lg-9">
                            <input ng-model="MedicationData.note_of_pharmacy" type="text" placeholder="" required/>
                        </div>


                        <div class="col-lg-3"></div>
                        <div class="col-lg-9">
                            <button ng-hide="showUpdate" type="button" ng-click="addMedication()" class="btn btn-default pull-left button-style-1">Add</button>
                            <button type="button" ng-show="showUpdate" ng-click="addMedication(1)" class="btn btn-default pull-left button-style-1">Update</button>
                        </div>

                    </div>

                    <div class="medication_list">
                        <div class="row med_row" ng-repeat="medicationDataPush in medicationsDataPush">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <label>Medication</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <span>{{medicationDataPush.medication}}</span>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Dispense</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>{{medicationDataPush.dispense}}</span>
                                    </div>

                                    <div class="col-lg-2 clear">
                                        <label>SIG</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <span>{{medicationDataPush.sig}}</span>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Pharmacy</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>{{medicationDataPush.pharmacy}}</span>
                                    </div>

                                    <div class="col-lg-2 clear">
                                        <label>Note</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <span>{{medicationDataPush.note_of_pharmacy}}</span>
                                    </div>
                                    <div class="col-lg-3">
                                        <label>Refill</label>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>{{medicationDataPush.reffills}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <a ng-click="medicationsDataPush.splice($index, 1)" href="javascript:;" class="delete remove_med button-custom pull-right"></a>
                                <a href="javascript:;" ng-click="editMedication($index);" class="edit button-custom pull-right"></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default button-style-1" ng-show="medicationsDataPush != ''">Send</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<div class="modal fade big-modal" id="addsig" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Build Instructions</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Dose</label>
                                </div>
                                <div class="col-lg-12">
                                    <select class="form-control" ng-model="buildInstructions.dose" placeholder="Select">
                                        <option></option>
                                        <option ng-repeat="dose in buildInstructionObject.dose" value="{{dose.name}}">{{dose.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label>Route</label>
                                </div>
                                <div class="col-lg-12">
                                    <select class="form-control" ng-model="buildInstructions.route" placeholder="Select">
                                        <option></option>
                                        <option ng-repeat="route in buildInstructionObject.route" value="{{route.name}}">{{route.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label>Direction</label>
                                </div>
                                <div class="col-lg-12">
                                    <select class="form-control" ng-model="buildInstructions.direction" placeholder="Select">
                                        <option></option>
                                        <option ng-repeat="direction in buildInstructionObject.direction" value="{{direction.name}}">{{direction.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label>Unit</label>
                                </div>
                                <div class="col-lg-12">
                                    <select class="form-control" ng-model="buildInstructions.unit" placeholder="Select">
                                        <option></option>
                                        <option ng-repeat="unit in buildInstructionObject.unit" value="{{unit.name}}">{{unit.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label>Frequency</label>
                                </div>
                                <div class="col-lg-12">
                                    <select class="form-control" ng-model="buildInstructions.frequency" placeholder="Select">
                                        <option></option>
                                        <option ng-repeat="frequency in buildInstructionObject.frequency" value="{{frequency.name}}">{{frequency.name}}</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <label>Duration</label>
                                </div>
                                <div class="col-lg-12">
                                    <select class="form-control" ng-model="buildInstructions.duration" placeholder="Select">
                                        <option></option>
                                        <option ng-repeat="duration in buildInstructionObject.duration" value="{{duration.name}}">{{duration.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default update_sig button-style-1" ng-click="addSIG(buildInstructions);">Update</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>