<div id="content">
    <section>
        <div class="card">
            <div class="table-header col-lg-12">
                <div class="col-lg-12 no-padding">
                    <span class="txt-style-3 pull-left text-uppercase">Raidology</span>
                    <div class="col-lg-2 pull-right no-margin">
                        <select class="form-control">
                            <option>Group By</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    </div>
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field search_field_big" type="text" placeholder="Search with patient order by patient name or id" ng-model="searchLab">
                    </div>
                </div>
            </div>
            <div class="card-body col-lg-12">
                <div class="pull-left margin-top-10">
                    <a class="link-style_2" href="javascript:;" ng-click="filterLabs.order_status = ''">all</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="link-style_2" href="javascript:;" ng-click="filterLabs.order_status = 'created'">open orders</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <!-- <a class="link-style_2" href="javascript:;" ng-click="filterLabs.order_status = 'In Progress'">in progress</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a class="link-style_2" href="javascript:;" ng-click="filterLabs.order_status = 'completed'">closed orders</a>&nbsp;&nbsp;|&nbsp;&nbsp; -->
                    <a class="link-style_2" href="javascript:;" ng-click="filterLabs.order_status = 'Cancelled'">cancelled orders</a>
                </div>
                <div class="icons_con">
                    <button data-toggle="modal" data-target="#neworder" class="new_order button-custom">new order</button>
                    <button class="report button-custom" ng-show="orderSelected" ng-click="go('/lab-order-tests')">View Tests</button>
                    <button data-toggle="modal" data-target="#cancelOrder" class="update button-custom" ng-show="orderSelected">Cancel Order</button>
                </div>
                <div class="col-lg-12 no-padding">
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th width='10px'></th>
                                <th>order no</th>
                                <th>patient id</th>
                                <th>patient name</th>
                                <th>lab</th>
                                <th>ordered by</th>
                                <th>status</th>
                                <th>total test</th>
                                <th>test cost</th>
                                <th>handling by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="labOrder in raidoLabsORders | filter:search | filter:filterLabs">
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" name="checked" ng-model="action" ng-click="labSelected(labOrder.id);">
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td>{{ labOrder.id}}</td>
                                <td>
                                    <div class="person-detail-box"><span><a class="blue" href="#/patient-summary-demographics/{{labOrder.patient_id}}">P{{ labOrder.patient_id }}</a></span>
                                        <div class="bed-info person_info">
                                            <div class="col-lg-12">
                                                <span class="txt-style-4">Name</span>
                                                <span class="txt-style-3">{{ labOrder.patient_name }}</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Sex</span>
                                                <span class="txt-style-3">{{ labOrder.gender }}</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Age</span>
                                                <span class="txt-style-3">{{ labOrder.age }}</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Id</span>
                                                <span class="txt-style-3 pull-left">{{ labOrder.patient_id }}</span>
                                            </div>
                                            <div class="col-lg-6">
                                                <span class="txt-style-4">Marital Status</span>
                                                <span class="txt-style-3 pull-left">{{ labOrder.marital_status }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ labOrder.patient_name}}</td>
                                <td>{{ labOrder.lab_name}}</td>
                                <td>{{ labOrder.ordered_by}}</td>
                                <td>{{ labOrder.order_status}}</td>
                                <td>{{ labOrder.total_test}}</td>
                                <!--<td>
                                    <div class="person-detail-box"><span>{{ labOrder.total_test}}</span>
                                        <div class="bed-info person_info">
                                            <div class="col-lg-12 no-padding" ng-repeat="lab_test in labOrder.lab_tests">
                                                <div class="col-lg-4">
                                                    <span class="txt-style-4">Test</span>
                                                    <span class="txt-style-3">{{ lab_test.test_name }}</span>
                                                </div>
                                                <div class="col-lg-4">
                                                    <span class="txt-style-4">Cost</span>
                                                    <span class="txt-style-3">{{ lab_test.cost }}</span>
                                                </div>
                                                <div class="col-lg-4">
                                                    <span class="txt-style-4">Priority</span>
                                                    <span class="txt-style-3"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>-->
                                <td>${{ labOrder.total_cost}}</td>
                                <td>{{ labOrder.handled_by}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered" ng-show="raidoCount">
                        <ul class="pagination-controle pagination">
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"> &lt; PREV</button>
                            </li>
                            <li>
                              <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= raidoCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);">NEXT &gt;</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal fade big-modal" id="neworder" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header pop_head">
                                <h2>New Order</h2>
                            </div>
                            <form class="custom-form" name="addForm" ng-model="myForm" novalidate ng-submit="testAdded && createOrder(Order);">
                                <div class="modal-body pull-left">
                                    <div class="col-lg-12">
                                        <select class="form-control select_searchFields" ng-model="Order.patient_id" placeholder="Select Patient" name="patient_id"  ng-hide="withVisit">
                                            <option value=""></option>
                                            <option ng-repeat="patient in patients" value="{{ patient.id }}">{{ patient.first_name + ' ' + patient.last_name }}</option>
                                        </select>
                                        <input type="text" value="{{prefilledPatientName}}" ng-show="withVisit" disabled>
                                        
                                    </div>
                                    <div class="col-lg-2">
                                        <label>time order created</label>
                                    </div>
                                    <div class="col-lg-4 margin-bottom-xxl">
                                        <input type="text" placeholder="{{date | date:'MMM dd, yyyy hh:mm a'}}" disabled="" class="ng-pristine ng-untouched ng-valid ng-empty">
                                    </div>
                                    <div class="col-lg-2">
                                        <label>LAB</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" disabled ng-model="Order.selected_labName" value="Radiology"/>
                                        <!-- <select class="form-control" ng-model="Order.selected_lab" ng-change="updateLabTests(Order.selected_lab)" placeholder="Select Lab" name="selected_lab" ng-class="{true: 'error'}[submitted && addForm.selected_lab.$invalid]" required>
                                            <option value=""></option>
                                            <option ng-repeat="lab in labs" value="{{ lab.id }}">{{ lab.name }}</option>
                                        </select> -->
                                        <p class="help-block PIValid" ng-show="submitted && addForm.selected_lab.$error.required">Required</p>
                                    </div>
                                    <div class="col-lg-3"><label></label></div>
                                    <div class="col-lg-3"><label></label></div>
                                    <div class="col-lg-2">
                                        <label>add lab test</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <select class="form-control" id="lab_test" ng-model="Order.lab_test" placeholder="Search Lab Test" ng-options="labTest as labTest.name for labTest in labTests">
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control" id="priority" ng-model="Order.priority" placeholder="Select Priority">
                                            <option value=""></option>
                                            <option>Urgent</option>
                                            <option>Urgent</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <span class="plus" ng-click="addTest()"><i class="md-add"></i></span>
                                    </div>
                                    <div class="col-lg-12">
                                        <p class="help-block PIValid" ng-show="submitted && !testAdded">Required</p>
                                        <table class="table table-striped no-margin table-custom">
                                            <thead>
                                                <tr>
                                                    <th>Test</th>
                                                    <th>Cost</th>
                                                    <th>Priority</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="lab_test in lab_tests_td">
                                                    <td>{{ lab_test.name }}</td>
                                                    <td>${{ lab_test.cost }}</td>
                                                    <td>{{ lab_test.priority }}</td>
                                                </tr>
                                                <tr>
                                                    <td>TOTAL COST</td>
                                                    <td>${{ lab_test_total }}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Clinical Information</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" placeholder="" ng-model="Order.clinical_information" name="clinical_information" ng-class="{true: 'error'}[submitted && addForm.clinical_information.$invalid]" required>
                                    </div>
                                    <div class="col-lg-2">
                                        <label>Diagnosis</label>
                                    </div>
                                    <div class="col-lg-4 margin-bottom-xxl">
                                        <input type="text" class="form-control" placeholder="" ng-model="Order.diagnosis" name="diagnosis" ng-class="{true: 'error'}[submitted && addForm.diagnosis.$invalid]" required>
                                    </div>
                                    <div class="col-lg-12">
                                        <label>add notes</label>
                                    </div>
                                    <div class="col-lg-12">
                                        <textarea placeholder="Write here..." ng-model="Order.notes" name="notes" ng-class="{true: 'error'}[submitted && addForm.notes.$invalid]" required></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="addformsubmission()">create</button>
                                    <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="OrderBtn">Cancel</button>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <div class="modal fade" id="cancelOrder" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form class="custom-form" name="cancelForm" ng-model="myForm" novalidate ng-submit="validateCancelOrderForm(cancelOrder);">
                            <div class="modal-content pull-left">
                                <div class="modal-header pop_head">
                                    <h2>Cancel Order</h2>
                                </div>
                                <div class="alert {{messageType}}" role="alert" ng-show="message">
                                    <i class="{{errorSymbol}}"></i> {{errorMessage}}
                                </div>
                                <div class="modal-body pull-left modal-body-2">
                                    <div class="col-lg-3">
                                        <label>Reason</label>
                                    </div>
                                    <div class="col-lg-6 select-con">
                                        <select class="form-control" ng-class="{true: 'error'}[cancelSubmitted && cancelForm.reason.$invalid]" name="reason" ng-model="cancelOrder.reason" placeholder="Select Reason" required>
                                            <option value=""></option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <p class="help-block PIValid" ng-show="cancelSubmitted && cancelOrder.reason.$error.required">Required</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <label class="margin-bottom-xl">Note</label>
                                        <textarea placeholder="Write Here..." name="note" ng-model="cancelOrder.note" ng-class="{true: 'error'}[cancelSubmitted && cancelForm.note.$invalid]" required></textarea>
                                        <p class="help-block PIValid" ng-show="cancelSubmitted && cancelForm.note.$error.required">Required</p>
                                    </div>
                                    <div class="modal-footer col-lg-12 no-padding no-margin">
                                        <button type="submit" class="btn btn-default button-style-1" ng-click="cancelSubmitted = true;" ng-disabled="cancelSubmitted && cancelForm.$invalid">Proceed</button>
                                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </form>
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade" id="noRecordFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Status</h2>
            </div>
            <div class="modal-body">
                <p>No Record Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
