<div id="content">
    <section>
        <div class="card margin-0">
            <div class="card-head">
                <ul class="nav nav-tabs nav-justified custom-tab" data-toggle="tabs">
                    <li><a showtab href="#facilities-profile">Facilities Profile</a></li>
                    <li><a showtab href="#room-location">Room & Locations</a></li>
                    <li class="active"><a showtab href="#spec-depart">Specialities & Departments</a></li>
                </ul>
            </div>

            <div class="card-body tab-content col-lg-12 custom-card-body padding-top-0">
                <div class="tab-pane" id="facilities-profile">
                    <div class="table-header row background-none inv_header auto">
                        <div class="row">
                            <h2 class="col-xs-12 heading-style margin-bottom-30 margin-top-5">Radiology Investigations</h2>
                        </div>
                        <div class="table-upper">
                            <div class="pull-left logo-textStyle">
                                LOGO
                            </div>
                            <div class="pull-right">
                                <button data-target="#facility-profile" data-toggle="modal" class="edit button-custom pull-right add_inventory">Edit Profile</button>
                            </div>
                        </div>
                    </div>
                    <form class="custom-form label-style-con">
                        <div class="box-style-2">
                            <div class="col-lg-6">
                                <div class="upper-part-box">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">Name</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">Wuse District Hospital</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">type of facility</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">Dental Clinic</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">registration number</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">HHSS/REG/89/266</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">category</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">C</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">no of specialty</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">7</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">date of registration</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">19/08/2016</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">no of beds</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">04</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row colored-bg">
                                    <div class="col-lg-4">
                                        <label class="txt-style-3">Name of proprietor</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <label class="txt-style-4">Dr Donald Trump</label>
                                    </div>
                                </div>
                                <div class="row colored-bg">
                                    <div class="col-lg-4">
                                        <label class="txt-style-3">accreditation  no pharmacy</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <label class="txt-style-4">W244332</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="upper-part-box">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">address</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">20-22 Wenlock Road London, N17GU</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">city</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">Abuja</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">state</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">FCT</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">country</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">Nigeria</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">phone</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">07462588038</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">email</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">tunde@openng.com</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="txt-style-3">Website</label>
                                        </div>
                                        <div class="col-lg-8">
                                            <label class="txt-style-4">www.openng.com</label>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row colored-bg">
                                    <div class="col-lg-4">
                                        <label class="txt-style-3">accreditation no lab</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <label class="txt-style-4">W244331</label>
                                    </div>
                                </div>
                                <div class="row colored-bg">
                                    <div class="col-lg-4">
                                        <label class="txt-style-3">accreditation Others</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <label class="txt-style-4">W244333</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>

                </div>
                
                <div class="tab-pane" id="room-location">
                    <!--<div class="card">-->
                        <!--<div class="card-body">-->
                  <div class="table-header row background-none inv_header">
                      <h2 class="heading-style pull-left margin-top-30">Rooms & Location</h2>
                        <div class="pull-right">
                            <button data-target="#newroom" data-toggle="modal" class="add button-custom pull-right add_inventory">New Room</button>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Search Room">
                            </div>
                        </div>
                    </div>
                    
                            <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big inventory_detail">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Room Name</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="InventoryList in InventoryLists| filter:search |filter:cat_search">
                                    <td><a href="#" class="link-style_3">{{InventoryList.product_id}}</a></td>
                                    <td>{{InventoryList.product_name}}</td>
                                    <td>{{InventoryList.product_name}}</td>
                                    <td>
                                        <div class="billing_actions pull-right"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;" ng-click="productDetail(InventoryList.product_id)">Edit</a>
                                                <a href="javascript:;" ng-click="StockSelectedReorder(InventoryList.product_id)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--muzammil do you code here-->
                        <div class="pagination pagination-centered pull-right" ng-show="pharmacyCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <!--<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>-->
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage = curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumberPharmacy" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <!--<button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>-->
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>
                      
                    </form>
<!--</div>-->
                    <!--</div>-->
                </div>
                
                
                  <div class="tab-pane active" id="spec-depart">
                    <!--<div class="card">-->
                        <!--<div class="card-body">-->
                  <div class="table-header row background-none inv_header">
                      <h2 class="heading-style pull-left margin-top-30">Specialities & Departments</h2>
                        <div class="pull-right">
                            <button data-target="#addNewSpeciality" data-toggle="modal" class="add button-custom pull-right add_inventory">New speciality</button>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Search Departments">
                            </div>
                        </div>
                    </div>
                    
                            <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big inventory_detail">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Speciality Code</th>
                                    <th>Description</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="InventoryList in InventoryLists| filter:search |filter:cat_search">
                                    <td><a href="#" class="link-style_3">Dental</a></td>
                                    <td>{{InventoryList.product_name}}</td>
                                    <td>{{InventoryList.product_name}}</td>
                                    <td>
                                        <div class="billing_actions pull-right"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;" ng-click="productDetail(InventoryList.product_id)">Edit</a>
                                                <a href="javascript:;" ng-click="StockSelectedReorder(InventoryList.product_id)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!--muzammil do you code here-->
                        <div class="pagination pagination-centered pull-right" ng-show="pharmacyCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <!--<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>-->
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage = curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumberPharmacy" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <!--<button type="button" class="btn btn-primary" ng-disabled="curPage >= patientCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>-->
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>
                      
                    </form>
<!--</div>-->
                    <!--</div>-->
                </div>
            </div><!--end .card -->
        </div>
    </section>
</div>


<div class="modal fade modal-size_3" id="facility-profile" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>facility profile</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>name</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>type of facility</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>registration number</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>category</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>no of speciality</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>date of registration</label>
                                </div>
                                <div class="col-lg-8">
                                    <!--<input type="text" placeholder="" name="" required/>-->
                                    <div class="input-group date select-date">
                                    <div class="input-group-content">
                                        <input type="text" name="date_of_birth" class="form-control" required placeholder="Pick Date" />                                        
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>name of proprietor</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>address</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>city</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>state</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control" placeholder="Select">
                                        <option></option>
                                        <option>Sample 1</option>
                                        <option>Sample 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>country</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control" placeholder="Select">
                                        <option></option>
                                        <option>Country 1</option>
                                        <option>Country 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>phone</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>email</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>

                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>website</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" name="" required/>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer row">
                        <button type="button" class="btn btn-default button-style-1">Save</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>



            </div><!-- /.modal-content -->


        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</div>
    <div class="modal fade modal-size_2" id="newroom" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add New Room</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <!--<div class="row">-->
                        <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                            
                            <div class="col-lg-2">
                            <label>Code</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                            </div>
               

<div class="row">
                        <div class="col-lg-2">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea></textarea>
                        </div>
</div>
                    <!--</div>-->
                    <div class="modal-footer row">
                        <button type="button" class="btn btn-default button-style-1">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->


<div class="modal fade modal-size_2" id="addNewSpeciality" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add New Room</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <!--<div class="row">-->
                        <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                            
                            <div class="col-lg-2">
                            <label>Speciality Code</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                            </div>
               

<div class="row">
                        <div class="col-lg-2">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea></textarea>
                        </div>
</div>
                    <!--</div>-->
                    <div class="modal-footer row">
                        <button type="button" class="btn btn-default button-style-1">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->