<div id="content">
    <section>
        <div class="card margin-0">
            <div class="card-head">
                <ul class="nav nav-tabs nav-justified custom-tab" data-toggle="tabs">
                    <li><a showtab href="#facilities-profile">Facilities Profile</a></li>
                    <li><a showtab href="#room-locations">Room & Locations</a></li>
                    <li class="active"><a showtab href="#spec-depart">Specialities & Departments</a></li>
                </ul>
            </div>
            <div class="card-body tab-content col-lg-12 custom-card-body padding-top-0">
                <div class="tab-pane" id="facilities-profile" ng-hide="ROLES.Facility == undefined">
                    <div class="table-header row background-none inv_header auto">
                        <div class="row">
                            <h2 class="col-xs-12 heading-style margin-bottom-30 margin-top-5">Facilities Profile</h2>
                        </div>
                        <div class="table-upper">
                            <div class="pull-left logo-textStyle">
                                <img src="{{ path }}{{ hospitalData.image }}"  ng-show="hospitalData.image">
                            </div>
                            <div class="pull-right">
                                <button class="edit button-custom pull-right add_inventory" ng-click="openEditModal();">Edit Profile</button>
                            </div>
                        </div>
                    </div>
                    <form class="custom-form label-style-con">
                        <div class="box-style-2">
                            <div class="col-lg-6">
                                <div class="upper-part-box">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">Name</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.name }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">type of facility</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.type }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">registration number</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.registration_number }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">category</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.category }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">no of specialty</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.number_of_departments }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">date of registration</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.date_registration }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">no of beds</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.number_beds }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row colored-bg">
                                    <div class="col-lg-6">
                                        <label class="txt-style-3">Name of proprietor</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="txt-style-4">{{ hospitalData.name_proprietor }}</label>
                                    </div>
                                </div>
                                <div class="row colored-bg">
                                    <div class="col-lg-6">
                                        <label class="txt-style-3">accreditation  no pharmacy</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="txt-style-4">{{ hospitalData.accredation_pharmacy }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="upper-part-box">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">address</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.address }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">city</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.city }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">state</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.state }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">country</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.country }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">phone</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.phone }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">email</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.email }}</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="txt-style-3">Website</label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="txt-style-4">{{ hospitalData.website }}</label>
                                        </div>
                                    </div>
                                </div> 
                                <div class="row colored-bg">
                                    <div class="col-lg-6">
                                        <label class="txt-style-3">accreditation no lab</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="txt-style-4">{{ hospitalData.accredation_lab }}</label>
                                    </div>
                                </div>
                                <div class="row colored-bg">
                                    <div class="col-lg-6">
                                        <label class="txt-style-3">accreditation Others</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <label class="txt-style-4">{{ hospitalData.accredation_others }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" id="room-locations" ng-hide="ROLES.Room != undefined">
                    <div class="table-header row background-none inv_header">
                        <h2 class="heading-style pull-left margin-top-30">Rooms & Locations</h2>
                        <div class="pull-right">
                            <button data-target="#addNewRoom" data-toggle="modal" class="add button-custom pull-right add_inventory">New room</button>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" ng-model="speciSearch" type="text" placeholder="Search room">
                            </div>
                        </div>
                    </div>
                    <form class="custom-form">
                        <table class="table table-striped no-margin table-custom table-custom_big inventory_detail">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Room Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody><!--  |filter:cat_search -->
                            <tr ng-repeat="RoomList in RoomLists| filter: {name:speciSearch}">
                                <td class="capitalize">{{RoomList.name}}</td>
                                <td>{{RoomList.code}}</td>
                                <td>{{RoomList.description}}</td>
                                <td>
                                    <div class="billing_actions pull-right">
                                        <a href="javascript:;" class="setting-button"></a>
                                        <div class="tool-tip_popup">
                                            <a href="javascript:;" ng-click="roomDetail(RoomList.id)">Edit</a>
                                            <a href="javascript:;" ng-click="confirmRemoveRoom(RoomList.id)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered pull-right" ng-show="pharmacyCount">
                            <ul class="pagination-controle pagination">
                                <li class="prev-page">
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage = curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                                </li>
                                <li>
                                    <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumberPharmacy" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                                </li>
                                <li class="next-page">
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage >= pharmacyCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="tab-pane active" id="spec-depart" ng-hide="ROLES.Specialties == undefined">
                    <div class="table-header row background-none inv_header">
                        <h2 class="heading-style pull-left margin-top-30">Specialities & Departments</h2>
                        <div class="pull-right">
                            <button data-target="#addNewSpeciality" data-toggle="modal" class="add button-custom pull-right add_inventory">New speciality</button>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" ng-model="speciSearch" type="text" placeholder="Search Departments">
                            </div>
                        </div>
                    </div>
                    <form class="custom-form">
                        <table class="table table-striped no-margin table-custom table-custom_big inventory_detail">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody><!--  |filter:cat_search -->
                            <tr ng-repeat="DepartmentList in DepartmentLists| filter: {name:speciSearch}">
                                <td class="capitalize">{{DepartmentList.name}}</td>
                                <td>{{DepartmentList.description}}</td>
                                <td>
                                    <div class="billing_actions pull-right">
                                        <a href="javascript:;" class="setting-button"></a>
                                        <div class="tool-tip_popup">
                                            <a href="javascript:;" ng-click="departmentDetail(DepartmentList.id)">Edit</a>
                                            <a href="javascript:;" ng-click="confirmRemoveDeparment(DepartmentList.id)">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered pull-right" ng-show="departmentCount">
                            <ul class="pagination-controle pagination">
                                <li class="prev-page">
                                    <button type="button" class="btn btn-primary" ng-disabled="curPageD == 0" ng-click="curPageD = curPageD-1; paginationPrevD(pageSizeD, curPageD);"><i class="fa fa-caret-left"></i></button>
                                </li>
                                <li>
                                    <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumberDepartment" numbers-only value="{{curPageD + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPagesD() }}</span>
                                </li>
                                <li class="next-page">
                                    <button type="button" class="btn btn-primary" ng-disabled="curPageD >= departmentCount/pageSizeD - 1" ng-click="curPageD = curPageD+1; paginationNextD(pageSizeD, curPageD);"><i class="fa fa-caret-right"></i></button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div><!--end .card -->
        </div>
    </section>
</div>
<div class="modal fade modal-size_3" id="facility-profile" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>facility profile</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm1" ng-model="myForm" novalidate ng-submit="createEditHospital(hospitalData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>name</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.name.$invalid]"  name="name" required  ng-model="hospitalData.name" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.name.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>type of facility</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.type.$invalid]"  name="type" required  ng-model="hospitalData.type" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.type.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>registration number</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.registration_number.$invalid]"  name="registration_number" required  ng-model="hospitalData.registration_number" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.registration_number.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>category</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.category.$invalid]"  name="category" required  ng-model="hospitalData.category" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.category.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>no of speciality</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.number_of_departments.$invalid]"  name="number_of_departments" required  ng-model="hospitalData.number_of_departments" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.number_of_departments.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>date of registration</label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="input-group date select-date">
                                    <div class="input-group-content">
                                        <input type="text" placeholder="Pick Date" class="form-control" ng-class="{true: 'error'}[submitted && userForm1.date_registration.$invalid]"  name="date_registration" required  ng-model="hospitalData.date_registration" />
                                        <p class="help-block PIValid" ng-show="submitted && userForm1.date_registration.$error.required">Required</p>
                                    </div>
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>name of proprietor</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.name_proprietor.$invalid]"  name="name_proprietor" required  ng-model="hospitalData.name_proprietor" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.name_proprietor.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>Upload Image</label>
                                </div>
                                <div class="col-lg-8">
                                    <div class="file-field">
                                        <div class="file-path-wrapper">
                                            <input class="file-path yellow" ng-model="image.image_name" type="text" placeholder="Image Name">
                                        </div>
                                        <input type="file" ngf-select="uploadFiles($files, $invalidFiles)" name="file" accept="image/*">
                                        <div class="btn-browse">
                                            <span class="browse">Browse</span>
                                        </div>
                                    </div>
                                    <span ng-hide="imageUploading" class="float-right image-uploading-text ng-hide">Image uploading... </span> 
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>ACCREDITATION NO PHARMACY</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.ANOPHARMACY.$invalid]"  name="ANOPHARMACY" required  ng-model="hospitalData.accredation_pharmacy" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.ANOPHARMACY.$error.required">Required</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>address</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.address.$invalid]"  name="address" required  ng-model="hospitalData.address" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.address.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>city</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.city.$invalid]"  name="city" required  ng-model="hospitalData.city" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.city.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>state</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control" ng-model="hospitalData.state_id" placeholder="Select State" name="state" ng-class="{true: 'error'}[submitted && userForm1.state.$invalid]" required>
                                        <option value=""></option>
                                        <option ng-repeat="State in States" value="{{ State.id }}" ng-selected="State.id == hospitalData.state_id">{{ State.name }}</option>
                                    </select>
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.state.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>country</label>
                                </div>
                                <div class="col-lg-8">
                                    <select class="form-control" ng-model="hospitalData.country_id" placeholder="Select Country" name="country" ng-class="{true: 'error'}[submitted && userForm1.country.$invalid]" required>
                                        <option value=""></option>
                                        <option ng-repeat="k in Countries" value="{{ k.id }}" ng-selected="k.id == hospitalData.country_id">{{ k.name }}</option>
                                    </select>
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.country.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>phone</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.phone.$invalid]"  name="phone" required  ng-model="hospitalData.phone" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.phone.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>email</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.email.$invalid]"  name="email" required  ng-model="hospitalData.email" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.email.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>website</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.website.$invalid]"  name="website" required  ng-model="hospitalData.website" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.website.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>ACCREDITATION NO LAB</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.ANOLAB.$invalid]"  name="ANOLAB" required  ng-model="hospitalData.accredation_lab" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.ANOLAB.$error.required">Required</p>
                                </div>
                            </div>
                            <div class="row margin-bottom-xxl">
                                <div class="col-lg-4">
                                    <label>ACCREDITATION OTHERS</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.AOTHERS.$invalid]"  name="AOTHERS" required  ng-model="hospitalData.accredation_others" />
                                    <p class="help-block PIValid" ng-show="submitted && userForm1.AOTHERS.$error.required">Required</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm1.$invalid">Save</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="addHospitalBtn">Cancel</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<div class="modal fade modal-size_1" id="addNewSpeciality" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add New Speciality</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm2" ng-model="myForm" novalidate ng-submit="createDepartment(departmentData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm2.name.$invalid]"  name="name" required  ng-model="departmentData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm2.name.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea placeholder="Write Here..." name="description" ng-model="departmentData.description" ng-class="{true: 'error'}[submitted && userForm2.description.$invalid]" required></textarea>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.description.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm2.$invalid">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="addDepartmentBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_2" id="editNewSpeciality" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Edit New Speciality</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm3" ng-model="myForm" novalidate ng-submit="updateDepartment(editDepartmentData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm3.name.$invalid]"  name="name" required  ng-model="editDepartmentData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm3.name.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea placeholder="Write Here..." name="description" ng-model="editDepartmentData.description" ng-class="{true: 'error'}[submitted && userForm3.description.$invalid]" required></textarea>
                            <p class="help-block PIValid" ng-show="submitted && userForm3.description.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm3.$invalid">Edit</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="updateDepartmentBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Do you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-toggle="modal" ng-click="removeDepartment();"  data-dismiss="modal">Ok</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="confirmation_room" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Do you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-toggle="modal" ng-click="removeRoom();"  data-dismiss="modal">Ok</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="fileUploadedSuccess" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Status</h2>
            </div>
            <div class="modal-body">
                <p>Attachment Uploaded</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="addNewRoom" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add New Room</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm2" ng-model="myForm" novalidate ng-submit="createRoom(roomData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl col-md-6">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm2.name.$invalid]"  name="name" required  ng-model="roomData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm2.name.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl col-md-6 pull-right">
                        <div class="col-lg-2">
                            <label>Code</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm2.code.$invalid]"  name="code" required  ng-model="roomData.code" />
                            <p class="help-block PIValid" ng-show="submitted && userForm2.code.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea placeholder="Write Here..." name="description" ng-model="roomData.description" ng-class="{true: 'error'}[submitted && userForm2.description.$invalid]" required></textarea>
                            <p class="help-block PIValid" ng-show="submitted && userForm2.description.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm2.$invalid">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="addRoomBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_2" id="editNewRoom" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Edit New Room</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm3" ng-model="myForm" novalidate ng-submit="updateRoom(editRoomData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl col-md-6">
                        <div class="col-lg-2">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm3.name.$invalid]"  name="name" required  ng-model="editRoomData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm3.name.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl col-md-6 pull-right">
                        <div class="col-lg-2">
                            <label>Code</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm3.code.$invalid]"  name="name" required  ng-model="editRoomData.code" />
                            <p class="help-block PIValid" ng-show="submitted && userForm3.code.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-10">
                            <textarea placeholder="Write Here..." name="description" ng-model="editRoomData.description" ng-class="{true: 'error'}[submitted && userForm3.description.$invalid]" required></textarea>
                            <p class="help-block PIValid" ng-show="submitted && userForm3.description.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm3.$invalid">Edit</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="updateRoomBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->