<div id="content">
    <section>
        <div class="card">
            <div class="card-head col-lg-9 no-padding card-head-auto">
                <ul class="nav nav-tabs nav-justified custom-tab" data-toggle="tabs">
                    <li class="active"><a showtab href="#template">Template</a></li>
                    <li><a showtab href="#category">Category</a></li>
                    <li><a showtab href="#temptype">Template Types</a></li>
                </ul>
            </div><!--end .card-head -->

            <div class="card-body tab-content col-lg-12 custom-card-body">
                <div class="tab-pane active" id="template">                    
                    <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right" data-toggle="modal" data-target="#addtemplate">New Template</button>
                        </div>
                        <span class="txt-style-3 pull-left text-uppercase">template type</span>
                        <div class="col-lg-2">
                            <select class="form-control">
                                <option>Cash</option>
                                <option>Cheque</option>
                                <option>type 3</option>
                            </select>
                        </div>
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Search Template">
                            </div>
                        </div> 
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big setting_table">
                            <thead>
                                <tr>
                                    <th>Template Name</th>
                                    <th>Category</th>
                                    <th>Template Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lipid Profile</td>
                                    <td>SOAP</td>
                                    <td>Labs</td>
                                    <td>
                                        <span>For reporting lipid profile result</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lagos Antenatal</td>
                                    <td>Custom</td>
                                    <td>Clinical Template</td>
                                    <td>
                                        <span>For reporting Lagos Antenatal result</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Followup</td>
                                    <td>HL7</td>
                                    <td>Clinical Template</td>
                                    <td>
                                        <span>Lorem ipsum Followup</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>  
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>                

                <div class="tab-pane" id="category">
                    <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right" data-toggle="modal" data-target="#addcategory">New Category</button>
                        </div>
                        <!--                        <span class="txt-style-3 pull-left text-uppercase">category</span>
                                                <div class="col-lg-2">
                                                    <select class="form-control">
                                                        <option>All</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>-->
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Search Category">
                            </div>
                        </div> 
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big setting_table_cat">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SOAP</td>
                                    <td>
                                        <span>For reporting lipid profile result</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Custom</td>
                                    <td>
                                        <span>For reporting Lagos Antenatal result</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>HL7</td>
                                    <td>
                                        <span>Lorem ipsum Followup</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>  
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="tab-pane" id="temptype">
                    <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right" data-toggle="modal" data-target="#addtemptype">New Template</button>
                        </div>
                        <!--                        <span class="txt-style-3 pull-left text-uppercase">category</span>
                                                <div class="col-lg-2">
                                                    <select class="form-control">
                                                        <option>All</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>-->
                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" placeholder="Search Type">
                            </div>
                        </div> 
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big setting_table_cat">
                            <thead>
                                <tr>
                                    <th>Template Type</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SOAP</td>
                                    <td>
                                        <span>For reporting lipid profile result</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Labs</td>
                                    <td>
                                        <span>For reporting Lagos Antenatal result</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>    
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Radiology</td>
                                    <td>
                                        <span>Lorem ipsum Followup</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">View</a>
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>  
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_2" id="addtemplate" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Category</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <!--<div class="row">-->
                        <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                            </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Category</label>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control">
                                <option>Select</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <label>Template Type</label>
                        </div>
                        <div class="col-lg-3">
                            <select class="form-control">
                                <option>Select</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </div>
                    </div>

<div class="row">
                        <div class="col-lg-12">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-12">
                            <textarea></textarea>
                        </div>
</div>
                    <!--</div>-->
                    <div class="modal-footer row">
                        <button type="button" class="btn btn-default button-style-1">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

<div class="modal fade modal-size_2" id="addcategory" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Category</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <!--<div class="row">-->
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Category Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" placeholder="" name="" required/>
                        </div>
</div>
<div class="row margin-bottom-xxl">
                        <div class="col-lg-12">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-12">
                            <textarea></textarea>
                        </div>

</div>
                    <!--</div>-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default button-style-1">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<div class="modal fade modal-size_2" id="addtemptype" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Category</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <!--<div class="row">-->                       
                    <div class="row margin-bottom-xxl">
                    <div class="col-lg-3">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" placeholder="" name="" required/>
                        </div>
</div>

                    <div class="row">
                        <div class="col-lg-12">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-12">
                            <textarea></textarea>
                        </div>
                    </div>

                    <!--</div>-->
                    <div class="modal-footer row">
                        <button type="button" class="btn btn-default button-style-1">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

