<div id="content">
    <section>
        <div class="card">
            <div class="card-body col-lg-12 custom-card-body">
                <!--<div class="tab-pane active" id="template">-->                    
                
                    <div class="table-header row background-none">
                        <div class="row">
                            <h2 class="heading-style col-lg-12">User Management</h2>
                            <div class="pull-right">  
                            <button class="add button-custom" data-toggle="modal" data-target="#newUser">New User</button>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control">
                                <option>Search User By Name</option>
                                <option>Cheque</option>
                                <option>type 3</option>
                            </select>
                        </div>
                            </div>
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big setting_table">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>User Role Group</th>
                                    <th>Email</th>
                                    <th>Telephone No</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>abcrgh</td>
                                    <td>abc</td>
                                    <td>rgh</td>
                                    <td>Doctors</td>
                                    <td>abc@abc.com</td>
                                    <td>00-1598-0455</td>
                                    <td>
                                        <div class="billing_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                               <tr>
                                    <td>abcrgh</td>
                                    <td>abc</td>
                                    <td>rgh</td>
                                    <td>Doctors</td>
                                    <td>abc@abc.com</td>
                                    <td>00-1598-0455</td>
                                    <td>
                                        <div class="billing_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>abcrgh</td>
                                    <td>abc</td>
                                    <td>rgh</td>
                                    <td>Doctors</td>
                                    <td>abc@abc.com</td>
                                    <td>00-1598-0455</td>
                                    <td>
                                        <div class="billing_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;">Delete</a>     
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                <!--</div>-->                

            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_2" id="newUser" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add User</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form">
                    <!--<div class="row">-->                       
                    <div class="row margin-bottom-xxl">
                    <div class="col-lg-2">
                            <label>Username</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                        
                        <div class="col-lg-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
</div>
                    
                    <div class="row margin-bottom-xxl">
                    <div class="col-lg-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                        
                        <div class="col-lg-2">
                            <label>Email</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
</div>
                    <div class="row margin-bottom-xxl">
                    <div class="col-lg-2">
                            <label>Telephone</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" placeholder="" name="" required/>
                        </div>
                        
                        <div class="col-lg-2">
                            <label>User Role Group</label>
                        </div>
                        <div class="col-lg-4">
                              <select class="form-control">
                                <option>Search Role Group</option>
                                <option>Cheque</option>
                                <option>type 3</option>
                            </select>
                        </div>
</div>

                  
                    <div class="modal-footer row">
                        <button type="button" class="btn btn-default button-style-1">Create</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

