<div id="content">
    <section>
        <div class="card">
            <div class="card-body col-lg-12 custom-card-body">
                <div class="table-header row background-none">
                    <div class="row">
                        <h2 class="heading-style col-lg-12">Role Management</h2>
                        <div class="pull-right">
                            <button class="add button-custom" data-toggle="modal" data-target="#addRole">New Role</button>
                        </div>
                        <div class="col-lg-2">
                            <select class="form-control select_searchFields" placeholder="Search Roles" ng-model="byRole">
                                <option></option>
                                <option value="">All</option>
                                <option ng-repeat="Role in Roles" value="{{ Role.name }}">{{ Role.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                    <form class="custom-form">
                        <table class="table table-striped no-margin table-custom table-custom_big setting_table">
                            <thead>
                                <tr>
                                    <th>Group Id</th>
                                    <th>Role Group</th>
                                    <th>Total No</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Role in Roles | filter:{ name:byRole }">
                                    <td>{{ Role.id }}</td>
                                    <td>{{ Role.name }}</td>
                                    <td>{{ Role.user_count }}</td>
                                    <td>
                                        <div class="billing_actions pull-right"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <a href="javascript:;" ng-click="roleDetail(Role.id)">Edit</a>
                                                <a href="javascript:;" ng-click="confirmRemoveRole(Role.id)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered pull-right" ng-show="rolesCount">
                            <ul class="pagination-controle pagination">
                                <li class="prev-page">
                                    <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                                </li>
                                <li>
                                    <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                                </li>
                                 <li class="next-page">
                                  <button type="button" class="btn btn-primary" ng-disabled="curPage >= rolesCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                                </li>
                            </ul>
                        </div>
                    </form>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_2" id="addRole" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Role Group</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm1" ng-model="myForm" novalidate ng-submit="createRole(roleData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Role Group Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm1.name.$invalid]"  name="name" required  ng-model="roleData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm1.name.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Right & Context</label>
                        </div>
                        <div class="col-lg-8 add-multiple-con_select2">
                            <select class="form-control add-multiple" ng-model="roleData.role_rights" placeholder="Search Context" name="role_rights" ng-class="{true:'error'}[submitted && empty_flag]" ng-change="contextOnChange(roleData.role_rights, roleData.role_rights.available_rights);">
                                <option value=""></option>
                                <option ng-repeat="Context in Contexts" value="{{ Context.id }}" availablerights="{{Context.available_rights}}">{{ Context.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && empty_flag">Required</p>
                        </div>
                        <div class="col-lg-1">
                            <span class="plus add-role"><i class="md-add"></i></span>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl" ng-show="labTypeFlag">
                        <div class="col-lg-3">
                            <label>Types</label>
                        </div>
                        <div class="col-lg-8 add-multiple-con_select2">
                            <select class="form-control add-multiple_tempName" ng-model="roleData.type" placeholder="Labs" name="labID">
                                <option value=""></option>
                                <option ng-repeat="lab in Labs" value="{{ lab.id }}">{{ lab.name }}</option>
                            </select>
                            <!-- <p class="help-block PIValid" ng-show="submitted">Required</p> -->
                        </div>
                    </div>
                    <div class="row" ng-show="templateFlag">
                        <div class="col-lg-3">
                            <label>Templates</label>
                        </div>
                        <div class="col-lg-8 add-multiple-con_select2">
                            <select class="form-control add-multiple_labName" ng-model="roleData.type" placeholder="Templates" name="templateID">
                                <option value=""></option>
                                <option value="1">Clinical Templates</option>
                                <option value="2">Lab Templates</option>
                            </select>
                            <!-- <p class="help-block PIValid" ng-show="submitted">Required</p> -->
                        </div>
                    </div>
                    <div class="rights_list">
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm1.$invalid">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="addRoleBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_2" id="editRole" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Edit Role Group</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form" name="userForm2" ng-model="myForm" novalidate ng-submit="updateRole(editRoleData);">
                    <div class="row margin-bottom-xxl">
                        <div class="alert {{messageType}}" role="alert" ng-show="message">
                            <i class="{{errorSymbol}}"></i> {{errorMessage}}
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Role Group Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" placeholder="" ng-class="{true: 'error'}[submitted && userForm2.name.$invalid]"  name="name" required  ng-model="editRoleData.name" />
                            <p class="help-block PIValid" ng-show="submitted && userForm2.name.$error.required">Required</p>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-3">
                            <label>Right & Context</label>
                        </div>
                        <div class="col-lg-8 add-multiple-con_select2">
                            <select class="form-control add-multiple" ng-model="editRoleData.role_rights" placeholder="Search Context" name="role_rights" ng-class="{true:'error'}[submitted && empty_flag]" ng-change="EditcontextOnChange(editRoleData.role_rights);">
                                <option value=""></option>
                                <option ng-repeat="lab in Contexts" value="{{ lab.id }}" availablerights="{{lab.available_rights}}">{{ lab.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && empty_flag">Required</p>
                        </div>
                        <div class="col-lg-1">
                             <span class="plus add-role"><i class="md-add"></i></span>
                        </div>
                    </div>
                    <div class="row margin-bottom-xxl" ng-show="ElabTypeFlag">
                        <div class="col-lg-3">
                            <label>Types</label>
                        </div>
                        <div class="col-lg-8 add-multiple-con_select2">
                            <select class="form-control add-multipleEtypeName" ng-model="roleData.type" placeholder="Labs" name="labTypes">
                                <option value=""></option>
                                <option ng-repeat="lab in Labs" value="{{ lab.id }}">{{ lab.name }}</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && empty_flag">Required</p>
                        </div>
                    </div>
                    <div class="row" ng-show="EtemplateFlag">
                        <div class="col-lg-3">
                            <label>Templates</label>
                        </div>
                        <div class="col-lg-8 add-multiple-con_select2">
                            <select class="form-control add-multiple_ElabName" ng-model="roleData.type" placeholder="Templates" name="templateID">
                                <option value=""></option>
                                <option value="1">Clinical Templates</option>
                                <option value="2">Lab Templates</option>
                            </select>
                            <p class="help-block PIValid" ng-show="submitted && empty_flag">Required</p>
                        </div>
                    </div>
                    <div class="rights_list">
                    </div>
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && userForm2.$invalid">Edit</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal" ng-disabled="updateRoleBtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="confirmation" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Confirmation</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">Do you want to Delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-toggle="modal" ng-click="removeRole();" data-dismiss="modal">Ok</button>
                <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
