<div id="content">
    <section>
        <div class="card">
            <div class="card-head col-lg-9 no-padding card-head-auto">
                <ul class="nav nav-tabs nav-justified custom-tab" data-toggle="tabs">
                    <li class="active"><a showtab href="#template">Template</a></li>
                    <li><a showtab href="#category">Category</a></li>
                </ul>
            </div><!--end .card-head -->

            <div class="card-body tab-content col-lg-12 custom-card-body">
                <div class="tab-pane active" id="template">
                    <div class="main_templates">
                        <div class="table-header row background-none margin-bot-70">
                            <div class="pull-right">
                                <button class="add button-custom pull-right templates">New Template</button>
                            </div>

                            <div class="pull-right">
                                <div class="header-search pull-left margin-top-10">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <input class="search_field" type="text" name="search.name"  ng-model="search" placeholder="Search Template">
                                </div>
                            </div>
                        </div>
                        <form class="custom-form">
                            <table class="table table-striped no-margin table-custom table-custom_big billing_table">
                                <thead>
                                    <tr>
                                        <th>Template Name</th>
                                        <th>Category</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="templateList in templateLists| filter: search">
                                        <td>{{templateList.name}}</td>
                                        <td>{{templateList.category}}</td>
                                        <td>
                                            <span>{{templateList.description}}</span>
                                            <div class="billing_actions"><a href="javascript:;" class="setting-button"></a>
                                                <div class="tool-tip_popup">
                                                    <a href="javascript:;" ng-click="editMyTemplate(templateList.id)">Edit</a>
                                                    <a href="javascript:;"   ng-click="templateDeleted(templateList.id)">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div class="addtemplates">
                        <div class="table-header row background-none margin-bot-70">

                            <div class="pull-right">
                                <button class="add button-custom pull-right" data-toggle="modal" data-target="#addtemplate">New Template</button>
                            </div>

                            <div class="pull-right">
                                <div class="header-search pull-left margin-top-10">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <input class="search_field" type="text" placeholder="Search Template">
                                </div>
                            </div>
                        </div>

                        <div class="custom-form">
                            <div class="row">

                                <div class="col-lg-3">
                                    <label>Template Name</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" name="template_name" id="template_name"  ng-model="template_name">
                                </div>

                                <div class="col-lg-3">
                                    <label>Description</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" name="description" id="description" ng-model="template_description">
                                </div>

                                <div class="col-lg-3">
                                    <label>Category</label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-control" name="categories"  ng-model="template_cat_id">
                                        <option>Select Category</option>
                                        <option ng-repeat='category in categories' value='{{category.id}}'>{{category.name}}</option>
                                    </select>
                                </div>

                            </div>

                            <div fg-tabs class="needs-some-more-space custom_template">
                                
                                <div fg-tabs-pane="Schema Editor" class="scehme">
                                    <form class="form-horizontal" name="myForm.$state">

                                        <div fg-edit
                                             fg-schema="myForm.schema">
                                        </div>
                                    </form>
                                </div>

                                <div fg-tabs-pane="Form Preview" class="f_preview">
                                    <form novalidate class="form-horizontal" name="previewForm" ng-init="myForm.$data = {}">

                                        <fieldset>


                                            <!-- Magic starts here -->

                                            <div fg-form
                                                 fg-form-data="myForm.$data"
                                                 fg-schema="myForm.schema">
                                            </div>

                                            <!-- Magic ends here -->

                                        </fieldset>


                                    </form>
                                </div>

                            </div>
                            <div class="margin-top-30">                                
                                <input type="button" class="btn button-style-1 button-style-1_a pull-right" name="cancel_addtemplate" id="cancel_addtemplate" value="Cancel" >
                                <input type="button" class="btn btn-default button-style-1 pull-right margin-right-10" name="saveForm" value="Save" ng-click="saveForm()" >
                            </div>

                        </div>


                    </div>
                    <div class="editTemplateTab">
                        <!-- <div class="table-header row background-none margin-bot-70">
                            <div class="pull-right">
                                <button class="add button-custom pull-right" data-toggle="modal" data-target="#addtemplate">Edit Template</button>
                            </div>
                            <div class="pull-right">
                                <div class="header-search pull-left margin-top-10">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                    <input class="search_field" type="text" placeholder="Search Template">
                                </div>
                            </div>
                        </div> -->
                        <div class="custom-form">
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>Template Name</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" name="template_name" id="Edittemplate_name"  ng-model="Edittemplate_name">
                                </div>

                                <div class="col-lg-3">
                                    <label>Description</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" name="description" id="Editdescription" ng-model="Edittemplate_description">
                                </div>

                                <div class="col-lg-3">
                                    <label>Category</label>
                                </div>
                                <div class="col-lg-9">
                                    <select class="form-control" name="editcategories"  ng-model="Edittemplate_cat_id">
                                        <option>Select Category</option>
                                        <option ng-repeat='category in categories' value='{{category.id}}'>{{category.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div fg-tabs class="needs-some-more-space custom_template">
                                <div fg-tabs-pane="Schema Editor" class="scehme">
                                    <form class="form-horizontal" name="EditForm.$state">
                                        <div fg-edit
                                             fg-schema="EditForm.schema">
                                        </div>
                                    </form>
                                </div>

                                <div fg-tabs-pane="Form Preview" class="f_preview">
                                    <form novalidate class="form-horizontal" name="previewForm" ng-init="EditForm.$data = EditForm.schema">
                                        <fieldset>
                                            <!-- Magic starts here -->
                                            <div fg-form
                                                 fg-form-data="EditForm.$data"
                                                 fg-schema="EditForm.schema">
                                            </div>
                                            <!-- Magic ends here -->
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="margin-top-30">                                
                                <input type="button" class="btn button-style-1 button-style-1_a pull-right" name="cancel_addtemplate" id="cancel_edittemplate" value="Cancel" >
                                <input type="button" class="btn btn-default button-style-1 pull-right margin-right-10" name="saveForm" value="Save" ng-click="updateTemplate()" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="category">
                    <div class="table-header row background-none">
                        <div class="pull-right">
                            <button class="add button-custom pull-right" data-toggle="modal" data-target="#addcategory">New Category</button>
                        </div>

                        <div class="pull-right">
                            <div class="header-search pull-left margin-top-10">
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                                <input class="search_field" type="text" ng-model="search_cat" name="search_cat.name" placeholder="Search Category">
                            </div>
                        </div>
                    </div>
                    <form class="custom-form">


                        <table class="table table-striped no-margin table-custom table-custom_big setting_table_cat">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in categories| filter: search_cat">
                                    <td>{{category.name}}</td>
                                    <td>
                                        <span>{{category.description}}</span>
                                        <div class="settings_actions"><a href="javascript:;" class="setting-button"></a>
                                            <div class="tool-tip_popup">
                                                <!--<a href="javascript:;">View</a>-->
                                                <a href="javascript:;">Edit</a>
                                                <a href="javascript:;"   ng-click="catDeleted(category.id)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>


            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_2" id="addcategory" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Add Code</h2>
            </div>
            <div class="modal-body">
                <form class="custom-form"  ng-submit="AddCategory(category);" name="categoryForm">
                    <div class="row margin-bottom-xxl">

                        <div class="col-lg-3">
                            <label>Name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" name="cat_name" ng-model="category.cat_name" ng-class="{true: 'error'}[submitted && categoryForm.cat_name.$invalid]" class="form-control" required/>
                            <p class="help-block PIValid" ng-show="submitted && categoryForm.cat_name.$error.required">Required</p>
                        </div>
                        </div>
                    <div class="row margin-bottom-xxl">
                        <div class="col-lg-12">
                            <label>Description</label>
                        </div>
                        <div class="col-lg-12">
                            <textarea  ng-model="category.cat_desc" name="cat_desc" ng-class="{true: 'error'}[submitted && categoryForm.cat_desc.$invalid]" class="form-control" required></textarea>
                            <p class="help-block PIValid" ng-show="submitted && categoryForm.cat_desc.$error.required">Required</p>
                        </div>
                        </div>
                    
                    <div class="modal-footer row">
                        <button type="submit" class="btn btn-default button-style-1" ng-click="submitted = true;" ng-disabled="submitted && categoryForm.$invalid">Add</button>
                        <button type="button" class="btn button-style-1 button-style-1_a" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>

        </div><!-- /.modal-content -->


    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<div class="modal fade modal-size_1" id="noRecordFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>Status</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">No Record Found</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function () {
        $(".addtemplates").hide();
        $(".editTemplateTab").hide();
        $(".templates").click(function () {
            $(".main_templates").hide();
            $(".addtemplates").show();
        });

        $("#cancel_addtemplate").click(function () {
            $("#template_name").val('');
            $("#description").val('');
            $(".addtemplates").hide();
            $(".main_templates").show();
        });
        $("#cancel_edittemplate").click(function () {
            //$("#Edittemplate_name").val('');
            //$("#Editdescription").val('');
            $(".editTemplateTab").hide();
            $(".main_templates").show();
        });

    });
</script>