<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-2">
                <h2 class="h2-style col-lg-12">Bed Occupancy</h2>
            </div>
            <div class="card-body col-lg-12">
                <!--<div>-->
                    <table class="table table-striped no-margin table-custom table-custom_big">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>speciality <a href="javascript:void(0);" class="pull-right" ng-click="sortingBySpeciality()"><i class="fa {{sortingClassSpeciality}}" aria-hidden="true"></i></a></th>
                                <th>Ward <a href="javascript:void(0);" class="pull-right" ng-click="sortingByWard()"><i class="fa {{sortingClassWard}}" aria-hidden="true"></i></a></th>
                                <th>total beds <a href="javascript:void(0);" class="pull-right" ng-click="sortingTBeds()"><i class="fa {{sortingClassTBeds}}" aria-hidden="true"></i></a></th>
                                <th>available beds <a href="javascript:void(0);" class="pull-right" ng-click="sortingByABeds()"><i class="fa {{sortingClassABeds}}" aria-hidden="true"></i></a></th>
                                <th>closed/unavailable <a href="javascript:void(0);" class="pull-right" ng-click="sortingByClosed()"><i class="fa {{sortingClassClosed}}" aria-hidden="true"></i></a></th>
                                <th>occupied beds <a href="javascript:void(0);" class="pull-right" ng-click="sortingByOccupied()"><i class="fa {{sortingClassOccupied}}" aria-hidden="true"></i></a></th>
                                <th>patients waiting for beds <a href="javascript:void(0);" class="pull-right" ng-click="sortingWaiting()"><i class="fa {{sortingClassWaiting}}" aria-hidden="true"></i></a></th>
                                <th>expected discharge <a href="javascript:void(0);" class="pull-right" ng-click="sortingExpected()"><i class="fa {{sortingClassExpected}}" aria-hidden="true"></i></a></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="beds in allBedOccupancy | orderBy:sortOrder">
                                <td>{{$index+1}}</td>
                                <td>{{beds.speciality}}</td>
                                <td>{{beds.name}}</td>
                                <td>{{beds.number_of_beds}}</td>
                                <td>{{beds.available_beds}}</td>
                                <td>{{beds.number_of_beds_closed}}</td>
                                <td>{{beds.number_of_beds_occupied}}</td>
                                <td>{{beds.patients_wating}}</td>
                                <td>{{beds.expected_discharge_date}}</td>
                            </tr>
                        </tbody>
                    </table>
<!--                    <div class="pagination pagination-centered" ng-show="bedCount">
                        <ul class="pagination-controle pagination">
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"> &lt; PREV</button>
                            </li>
                            <li>
                              <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                            <li>
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= bedCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);">NEXT &gt;</button>
                            </li>
                        </ul>
                    </div>-->
<div class="pagination pagination-centered pull-right" ng-show="bedCount">
                        <ul class="pagination-controle pagination">
                            <li class="prev-page">
                                <!--<button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>-->
                                <button type="button" class="btn btn-primary" ng-disabled="curPage == 0" ng-click="curPage=curPage-1; paginationPrev(pageSize, curPage);"><i class="fa fa-caret-left"></i></button>
                            </li>                            
                            <li>
                                <span class="pagination-detail">Page <input type="text" width="5px" ng-model="pageNumber" numbers-only value="{{curPage + 1}}" placeholder="Page Number"/><span class="space-both-side">of</span>{{ numberOfPages() }}</span>
                            </li>
                             <li class="next-page">
                              <!--<button type="button" class="btn btn-primary" ng-disabled="curPage >= wardsCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>-->
                              <button type="button" class="btn btn-primary" ng-disabled="curPage >= bedCount/pageSize - 1" ng-click="curPage = curPage+1; paginationNext(pageSize, curPage);"><i class="fa fa-caret-right"></i></button>
                            </li>
                        </ul>
                    </div>
                <!--</div>-->
                <div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid custom-grid custom-grid_big"></div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>
<div class="modal fade modal-size_1" id="noResultFound" tabindex="-1" role="dialog" aria-labelledby="simpleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pop_head">
                <h2>{{modalHeading}}</h2>
            </div>
            <div class="modal-body">
                <p class="modal-subtext">{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default button-style-1" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->