<div id="content">
    <section>
        <div class="card custom-card">
            <div class="card-head card-head-custom card-color-2">
                <h2 class="h2-style col-lg-12">Hospital Wards</h2>
            </div>
            <div class="table-header col-lg-12">
                <div class="pull-left">
                    <div class="header-search margin-right-0 pull-left">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                        <input class="search_field" ng-model="search" type="text" placeholder="Search for ward">
                    </div>
                </div> 
                <button type="button" class="delete button-custom pull-right" ng-hide="buttonDisabled">remove</button>
                <button type="button" class="edit button-custom pull-right" ng-hide="buttonDisabled">Update</button>
                <button class="add button-custom pull-right ">Add</button>
                <button type="button"  data-toggle="modal" data-target="#addclinical" class="btn ink-reaction button-style-1 button-style-1_b pull-right margin-right-20 margin-top-5">create bed shematic</button>
            </div>
            <div class="card-body col-lg-12">
                <div>
                    <table class="table table-striped no-margin table-custom">
                        <thead>
                            <tr>
                                <th></th>
                                <th>ward</th>
                                <th>speciality</th>
                                <th>number of beds</th>
                                <th>description</th>    
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ward in allWards | filter:search">
                                <td align="center">
                                    <div class="radio radio-styled">
                                        <label>
                                            <input type="radio" ng-model="action" name="optionsRadios" value="option1" ng-click="wardSelected(ward.id);">
                                        </label>
                                    </div>
                                </td>
                                <td>{{ward.name}}</td>
                                <td>{{ward.speciality}}</td>
                                <td>{{ward.numberofbeds}}</td>
                                <td>{{ward.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--end .card-body -->
        </div><!--end .card -->
    </section>
</div>